{% extends "layouts/customer-base.html" %} {% block title %} Profile Edit {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/cropper.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/cropper.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div class="content">
  <div class="page-inner">
   <!--  <div class="page-header">
      <h4 class="page-title">My Profile</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="/customer-index/">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="/customer-profile/">My Profile</a>
        </li>
      </ul>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
             <div class="d-flex align-items-center">
              <h4 class="card-title">My Profile</h4>
              <ul class="breadcrumbs">
                <li class="nav-home">
                  <a href="/customer-index/">
                    <i class="flaticon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                  <a href="/customer-profile/">My Profile</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'customer-profile' %}" autocomplete="off" name="edit_profile" enctype="multipart/form-data" id="profile_form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Mobile No<span style="color: red;"> *</span></label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-phone"></i>
                              </span>
                          </div>            
                          <input type="text" class="form-control mobile" name="mobile_no" placeholder="Mobile No"
                          value="{{ request.user.mobile_no }}" required disabled/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email<span style="color: red;"> *</span></label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-envelope"></i>
                              </span>
                          </div>            
                          <input type="email" class="form-control" maxlength="100" name="email" placeholder="Email"
                        value="{{ request.user.email }}" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>First Name <span style="color: red;"> *</span></label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      Name
                                  </span>
                              </div>            
                              <input type="text" class="form-control" maxlength="20" id="first_name" name="first_name"
                              value="{{ request.user.first_name }}" placeholder="First Name" />
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name <span style="color: red;"> *</span></label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Name
                                </span>
                            </div>            
                            <input type="text" class="form-control" maxlength="20" id="last_name" name="last_name"
                            value="{{ request.user.last_name }}" placeholder="Last Name" />
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Gender <span style="color: red;"> *</span></label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                            </div>            
                            <select name="c_gender" id="c_gender" class="form-control">
                                <option value="">Select</option>
                                <option value="male" {% if request.user.c_gender == "male" %} selected {% endif %}>Male</option>
                                <option value="female" {% if request.user.c_gender == "female" %} selected {% endif %}>Female</option>
                            </select>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Date of Birth</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-birthday-cake"></i>
                            </span>
                          </div>           
                          <input type="date" class="form-control" id="c_dob" name="c_dob"
                          value="{{ request.user.c_dob|date:'Y-m-d' }}" placeholder="DOB" max="{% now 'Y-m-d' %}" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Address Line 1</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-location-pin"></i>
                              </span>
                          </div>
                          <textarea class="form-control" id="c_address_1" name="c_address_1" 
                          placeholder="Address 1" rows="2">{{ request.user.c_address_1 }}</textarea>         
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label>Address Line 2</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-location-pin"></i>
                              </span>
                          </div>
                          <textarea class="form-control" id="c_address_2" name="c_address_2" 
                          placeholder="Address 2" rows="2">{{ request.user.c_address_2 }}</textarea>         
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label>Pin code <span style="color: red;"> *</span></label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-location-pin"></i>
                              </span>
                          </div>
                          <input type="tel" class="form-control" id="c_pincode" name="c_pincode"
                          value="{{ request.user.c_pincode }}" placeholder="Pin code" maxlength="6" />         
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label>State <span style="color: red;"> *</span></label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-location-pin"></i>
                              </span>
                          </div>
                          <select name="c_state" class="form-control" id="c_state">
                            <option disabled selected value>Select State </option>
                            {% for object in States %}
                            <option value="{{ object.state }}" 
                          {% if object.state == request.user.c_state %} 
                          selected 
                          {% endif %}>{{ object.state }}</option>
                            {% endfor %}
                            
                          </select>       
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label>City <span style="color: red;"> *</span></label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-location-pin"></i>
                              </span>
                          </div>
                          <select name="c_city" placeholder="City " class="form-control" required="" id="c_city" aria-required="true">
                              <option disabled selected value>Select City *</option>
                              <option value="{{ request.user.c_city }}" 
                              selected>{{ request.user.c_city }}</option>
                          </select>        
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label>Area <span style="color: red;"> *</span></label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="icon-location-pin"></i>
                              </span>
                          </div>
                          <!-- <input type="text" class="form-control" id="c_area" name="c_area"
                          value="{{ request.user.c_area }}" placeholder="Area" />-->
                          <textarea name="c_area" id="c_area" class="form-control" placeholder="Area">{{ request.user.c_area }}</textarea>
                      </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="text-center" style="display: block;">Profile Image</label>
                      <div class="input-file input-file-image">
                        {% if ProfileImages %}
                          {% for ProfileImage in ProfileImages %}
                          {% if ProfileImage.c_profile_image %}
                            <img class="img-upload-preview img-circle center" width="100" height="100"
                          src="{{ ProfileImage.c_profile_image.url }}" alt="preview" />
									        {% else %}
									          <img class="img-upload-preview img-circle center" width="100" height="100"
                            src="/media/user-profile-pic-upload.png" alt="preview" />
									        {% endif %}
                           
                          {% endfor %}
                        {% else %}
                          <img class="img-upload-preview img-circle center" width="100" height="100"
                            src="/media/user-profile-pic-upload.png" alt="preview" />
                        {% endif %}
  
                        <input type="file" class="form-control form-control-file center" id="uploadImg" name="c_profile_image" accept="image/*" value="">
  
<!--                         <label for="uploadImg" class="center btn btn-primary btn-round btn-md text-center" style=" display:inherit; margin-left: auto;
                        margin-right: auto; ">
                        <i class="fas fa-image"></i>  Select Profile Image</label>  --> 

                        {% if ProfileImages %}
                            {% for ProfileImage in ProfileImages %}
                              {% if ProfileImage.c_profile_image %}
                                <div class="row">
                                  <div class="col-md-6">
                                    <label class="uploadprofile center btn btn-primary btn-round btn-sm text-center">
                                    <span class ="text-center" style="color: white;"><i class="fas fa-image"></i> &nbsp Select</span></label>
                                  </div>
                                  <div class="col-md-6">
                                    <a href="{% url 'customer profile image remove' %}">
                                      <label class="center btn btn-primary btn-round btn-sm text-center">
                                        <span style="color: white;"><i class="fa fa-trash"></i>&nbsp  Remove</span>
                                      </label>
                                    </a>
                                  </div>
                                </div>
                              {% else %}
                                <div class="row">
                                  <div class="col-md-12">
                                    <label  class="uploadprofile center btn btn-primary btn-round btn-md text-center">
                                    <i class="fas fa-image" style="color: white;"></i><span style="color: white;"> Upload</span></label>
                                  </div>
                                </div>
                              {% endif %}
                              <p class="text-center center" style="color: #63b90b;"><b>Profile image should be less than 500 KB</b></p>
                            {% endfor %}
                          {% else %}
                            <div class="row">
                              <div class="col-md-12">
                                <label  class="uploadprofile center btn btn-primary btn-round btn-sm text-center">
                                <i class="fas fa-image" style="color: white;"></i><span style="color: white;"> Upload</span></label>

                              </div>
                            </div>
                            <p class="text-center center" style="color: #63b90b;"><b>Profile image should be less than 500 KB</b></p>
                          {% endif %}

  

                      </div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
              <div class="text-center mt-3 mb-3">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Cropping customer profile modal -->
<div class="container" id="crop-avatar">

  <div class="modal fade" id="avatar-modal" aria-hidden="false" aria-labelledby="avatar-modal-label" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="avatar-form" action="/customer-upload-croped-profile/" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="avatar-body">

              <!-- Upload image and data -->
              <div class="avatar-upload text-center">
                <input type="hidden" class="avatar-src" name="avatar_src">
                <input type="hidden" class="avatar-data" name="avatar_data">
                <input type="file" name="customerprofileimage" id="" class="avatar-input">
              </div>

              <!-- Crop and preview -->
              <div class="row">
                <div class="col-md-12">
                  <div class="avatar-wrapper"></div>
                </div>
              </div>

              <div class="row avatar-btns">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary btn-block avatar-save">Done</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
      </form>
    </div>
  </div>
</div>

<!-- Loading state -->
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
</div>

<!-- end customer profile modal -->



<!-- SCRIPTS -->

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/cropper.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script type="text/javascript">
  $("#c_state").on('change', function()
        {
            var state = $("#c_state").val()

            $.ajax({
                type: "POST",
                url: "/get-user-city-by-state/",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    'state': state
                },
                success: function(result){
                    $("#c_city").empty();
                    var empty = ""
                    $('#c_city').append("<option value='" + empty + "' disabled selected value>" + "Select City " + "</option>");
                    $.each(result.data, function (key, value) {
                        $('#c_city').append("<option value='" + value + "'>" + value + "</option>");
                    });
                }
            });

        })
</script>
<script type="text/javascript">
  $(document).ready(function () {


   $("#profile_form").validate({
    rules: {
      c_pincode:{
        required: true,
      }
      c_area:{
        required: true,
      }
      c_state:{
        required: true,
      }
      c_city:{
        required: true,
      }
      first_name:{
        required: true,
      }
      last_name:{
        required:true,
      }
      c_gender:{
        required: true,
      }
    },
    messages: {
      
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
</script>
<script>


  $(".uploadprofile").on("click", function () {

    $("#avatar-modal").modal();

  });

  // jQuery.validator.addMethod("lettersonly", function (value, element) {
  //   return this.optional(element) || /^[a-z]+$/i.test(value);
  // }, "Only characters required");



  jQuery.validator.addMethod("lettersonly", function(value, element) {
      return this.optional(element) || /^[a-z\s]+$/i.test(value);
  }, "Only alphabetical characters"); 

  $.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param)
  }, 'File size must be less than 500 Kb');

  $.validator.addMethod("validDate", function(value, element) {
      var currDate = new Date();
      return Date.parse(currDate) >= Date.parse(value) ||value == "";
  }, "Please enter valid DOB");

   $.validator.addMethod("emailValidate", function(value, element) {
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      return this.optional(element) || emailReg.test(value);
  }, "Please enter valid email id");



  $("#profile_form").validate({
    rules: {
        email: {
          required: true,
          email: true,
          maxlength: 100,
          emailValidate: true,
        },
        first_name: {
          required: true,
          maxlength: 50,
          minlength: 3,
          lettersonly: true
        },
        last_name: {
          required: true,
          lettersonly: true,
          minlength: 3,
        },
        c_gender: {
          required: true,
        },
        c_dob: {
          required: false,
          validDate: false
        },
        c_area: {
          lettersonly: true,
          maxlength:100
        },
        c_pincode: {
          digits: true,
          required: true,
          minlength:6,
        },
        c_profile_image: {
          filesize: 500000
        },
        c_address_1:{
          maxlength:100
        },
        c_address_2:{
          maxlength:100
        },
        c_area:{
          required:true
        },
      },
    messages: {
      email: {
        required: "Email field is required.",
        email: "Please enter valid email id"
      },
      first_name: {
        required: "First Name is required.",
        minlength: "Minimum 3 letters are required"
      },
      last_name: {
        required: "Last Name is required.",
        minlength: "Minimum 3 letters are required"
      },
      c_dob: {
          required: "DOB field is required.",
          validDate: "Please enter valid DOB."
      },
      c_pincode: {
        minlength: "Minimum 6 digit required",
      },
    },
  });

  // $(document).ready(function () {
  //   $("#c_pincode").keyup(function () {
  //     var pincode = $('#c_pincode').val();
  //     if (pincode.length == 6) {
  //       $.ajax({
  //         url: "https://api.postalpincode.in/pincode/" + pincode,
  //         cache: false,
  //         dataType: "json",
  //         type: "GET",
  //         success: function (data) {
  //           state = data['0']['PostOffice'][0]['State']
  //           city = data['0']['PostOffice'][0]['Region']
  //           district = data['0']['PostOffice'][0]['District']
  //           $('#c_state').val(state)
  //           $('#c_city').val(city)
  //           // $('#id_m_district').val(district)
  //         }
  //       })
  //     }
  //     else {
  //       $('#c_state').val("")
  //       $('#c_city').val("")
  //       // $('#id_m_district').val("")
  //     }
  //   })
  // })

</script>
<!-- <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
    $('.datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        // format: 'yyyy-mm-dd'
        format: 'dd-mm-yyyy',
        maxDate: new Date()
    });
</script> -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}