{% extends "layouts/merchant-base.html" %} {% block title %} My Business{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .radio_set{
        margin-left: 7px;
    }
    #null_customer_data
    {
        display: none;
    }
    .add-row{
        color: #666;
    background: #f8f8f8;
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
     padding: 8px 26px 8px 10px;
        background-position: calc(100% - 8px) 9px;
    }
    .business_button{
        color: blue;
        border: none; 
        background: transparent;
    }
    
    .business_button:hover {
      text-decoration:  underline;
      cursor: pointer;
    }
</style>


<style type="text/css">
    #size {
        width: 200px;
        height: 30px;

    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: left !important;
    }
</style>
<style>
    body {
        font-family: Arial;
    }

    .coupon {
        border: 5px #bbb;
        width: auto;
        border-radius: 15px;
        margin: 0 auto;
        max-width: 300px;
    }

    .container {
        padding: 2px 16px;
        background-color: #f1f1f1;
        text-align: center;
        padding-top: 10px;
    }

    .promo {
        background: #ccc;
        padding: 3px;
    }

    .expire {
        color: red;
    }
</style>

 <style>
  .product {
  margin: 50px auto;
  width: 350px;
  height: 200px;
  background: white;
  /* border: 1px solid #333; */
  position: relative;
  z-index: 90;
  

  color: rgb(19, 18, 18);
   
}
.coupon__title, .coupon__value {
      text-align: center;
      display: flex; justify-content: center ; padding-top: 10px;  position: relative; letter-spacing: 2px;

    }

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}
  .ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    background-color: #0aff6d ;
   
  }


  col{
  position: absolute;
    left: 55%;
    padding-bottom: 10px;
    padding-bottom: 0px;
    padding-left: 23px;
    bottom: -10%;
    bottom: 45%;
    width: 70%;
    
    border-radius: 30px; margin-right:90% ;

    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    font-size: 1em;
    text-align: center;
    font-family: Helvetica;
    color: #301a1f;
    padding-right: 0px;
    
}

.coupon__body {
    margin-right: 45px;

    /* padding: 12px; */
    border-right: 2px dotted rgb(197, 148, 171);
    /* border-left: steelblue 10px solid; */
    margin-bottom: 20px;
    border-right: 30px;
    /* border-bottom: 4px solid #fa5b7d; */
    
 }  

 /* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

.cont {width :200px; background-color:#666666 !important;}
.cont .left {width :100px !important;}
.cont .right {width :100px !important;}

}

.align{
    width: 100px;
}
.width_set{
    width: 430px;
    height: 506px;

    
}
.body1{
    background: url('http://157.230.228.250/media/offers/imgbackg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 506px;
}
.content_name{
    font-size: 15px;
}
.closebtn{
    position: absolute;
    left: 406px;
    opacity: 0.3;
}
.decoration{
    text-decoration: none;
    color: rgb(105,105,105);
}
.overflow_scroll{
    overflow: scroll;
    height: 150px;
    width: 170px;

}

</style>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .material-switch>input[type="checkbox"] {
        display: none;
    }

    .material-switch>label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

    .material-switch>label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch>label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

    .material-switch>input[type="checkbox"]:checked+label::before {
        background: inherit;
        opacity: 0.5;
    }

    .material-switch>input[type="checkbox"]:checked+label::after {
        background: inherit;
        left: 20px;
    }

    .label-success {
        background-color: #66aa18 !important
    }
</style>

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Manage Business</h4>
                             <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/merchant-index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Settings</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/merchant-business/">Manage Business</a>
                                </li>
                            </ul>
                            {% if is_merchant == True %}
                                <div class="ml-auto">
                                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addBusinessModal"><i class="fa fa-plus"></i> Add Business</button>
                                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addBusinessBranchModal"><i class="fa fa-plus"></i> Add New Branch</button>
                                </div>
                            {% else %}
                                {% for actions in merchnat_action_permissions_list %}
                                  {% if actions.module_id|lower == "Settings"|lower and actions.feature_id|lower == "Manage Business"|lower %}
                                    {% if actions.add_permission == "1" %}
                                        <div class="ml-auto">
                                            <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addBusinessModal"><i class="fa fa-plus"></i> Add Business</button>
                                            <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addBusinessBranchModal"><i class="fa fa-plus"></i> Add New Branch</button>
                                        </div>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if is_merchant == True %}
                        <div class="card-body">
                            <div class="row">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-hover" align="center">
                                            <thead>
                                                <tr>
                                                    <th>Sr No.</th>
                                                    <th>Business Name</th>
                                                    <th>Business Category</th>
                                                    <th>City</th>
                                                    <th>Area</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                            </tfoot>
                                            <tbody>
                                                        <!-- {{ ChangeMerchnatBusinessForm.m_business_change }} -->
                                                    {% for object in data %}
                                                    <tr>
                                                        
                                                        <td>{{ forloop.counter }}</td>
                                                        <form method="POST" action="{% url 'chanage merchnat business' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="m_business_previous_id" value=" {{ m_business_previous_id }}">
                                                        <input type="hidden" name="m_business_change" value=" {{ object.id }}">

                                                            <td><button class="business_button" type="submit"> {{ object.m_business_name }}</button></td>
                                                        </form>
                                                        <td>{{ object.m_business_category.business_category_name }}</td>
                                                        <td>{{ object.m_city }}</td>
                                                        <td>{{ object.m_area }}</td>
                                                        <td>
                                                           <!--  <div class="form-button-action">
                                                                <button type="button" data-toggle="tooltip"
                                                                    data-target="#myDisplayModal" title=""
                                                                    class="btn btn-link btn-primary btn-lg viewBtn"
                                                                    id="edit-modal-div" data-original-title="View Business"
                                                                    data-url="{{object.id}}" data-id="{{object.id}}"
                                                                    data-bussiness_name="{{ object.m_business_name }}"
                                                                    data-bussiness_category="{{ object.m_business_category }}"
                                                                    data-city="{{ object.m_city }}"
                                                                    data-district="{{ object.m_district }}"
                                                                    data-state="{{ object.m_state }}"
                                                                    data-pin_code="{{ object.m_pin_code }}">
                                                                    <i class=" fa fa-eye"></i>
                                                                </button> -->
                                                            <!-- <button type="button" data-toggle="tooltip"
                                                                    data-target=" #myEditModal" title=""
                                                                    class="btn btn-link btn-primary btn-lg editBtn"
                                                                    id="edit-modal-div" data-original-title="Edit My Business"
                                                                    data-url="{{object.id}}" data-id="{{object.id}}"
                                                                    data-bussiness_name="{{ object.m_business_name }}"
                                                                    data-bussiness_category="{{ object.m_business_category }}"
                                                                    data-city="{{ object.m_city }}"
                                                                    data-district="{{ object.m_district }}"
                                                                    data-state="{{ object.m_state }}"
                                                                    data-pin_code="{{ object.m_pin_code }}">
                                                                    <i class=" fa fa-edit"></i>
                                                                </button> -->
                                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger deleteBtn" id="delete_btn" data-id='{{object.id}}' data-original-title="Delete">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    {% for actions in merchnat_action_permissions_list %}
                      {% if actions.module_id|lower == "Settings"|lower and actions.feature_id|lower == "Manage Business"|lower %}
                        {% if actions.view_permission == "1" %}
                            <input type="hidden" value="1" name="access_permission" id="access_permission">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive form-control">
                                            <table class="display table table-hover" id="merchant-business-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sr No.</th>
                                                        <th>Business Name</th>
                                                        <th>Business Category</th>
                                                        <th>City</th>
                                                        <th>Area</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                </tfoot>
                                                <tbody>
                                                    {% for object in data %}
                                                    <tr>
                                                        
                                                        <td>{{ forloop.counter }}</td>
                                                        <td><a href="/merchant-general-setting/"> {{ object.m_business_name }}</a></td>
                                                        <td>{{ object.m_business_category.business_category_name }}</td>
                                                        <td>{{ object.m_city }}</td>
                                                        <td>{{ object.m_area }}</td>
                                                        <td>
                                                            <div class="form-button-action">

                                                                {% if actions.view_permission == "1" %}
                                                                  <!--   <button type="button" data-toggle="tooltip"
                                                                        data-target="#myDisplayModal" title=""
                                                                        class="btn btn-link btn-primary btn-lg viewBtn"
                                                                        id="edit-modal-div" data-original-title="View Business"
                                                                        data-url="{{object.id}}" data-id="{{object.id}}"
                                                                        data-bussiness_name="{{ object.m_business_name }}"
                                                                        data-bussiness_category="{{ object.m_business_category }}"
                                                                        data-city="{{ object.m_city }}"
                                                                        data-district="{{ object.m_district }}"
                                                                        data-state="{{ object.m_state }}"
                                                                        data-pin_code="{{ object.m_pin_code }}">
                                                                        <i class=" fa fa-eye"></i>
                                                                    </button> -->
                                                                {% endif %}
                                                            <!-- <button type="button" data-toggle="tooltip"
                                                                    data-target=" #myEditModal" title=""
                                                                    class="btn btn-link btn-primary btn-lg editBtn"
                                                                    id="edit-modal-div" data-original-title="Edit My Business"
                                                                    data-url="{{object.id}}" data-id="{{object.id}}"
                                                                    data-bussiness_name="{{ object.m_business_name }}"
                                                                    data-bussiness_category="{{ object.m_business_category }}"
                                                                    data-city="{{ object.m_city }}"
                                                                    data-district="{{ object.m_district }}"
                                                                    data-state="{{ object.m_state }}"
                                                                    data-pin_code="{{ object.m_pin_code }}">
                                                                    <i class=" fa fa-edit"></i>
                                                                </button> -->
                                                                {% if actions.delete_permission == "1" %}
                                                                    <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger deleteBtn" id="delete_btn" data-id='{{object.id}}' data-original-title="Delete">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                {% endif %}
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                        <div class="card-body permission-denied" style="display:none">
                          <div class="permission-denied" style="padding: 5%">Permission Denied</div> 
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add My Bussiness Modal -->

<div class="modal fade" id="addBusinessModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <form class="form-control" action="/merchant-business/" method="POST" id="merchant_business_form" name="merchant_business_form" autocomplete="false">
         {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Add Business</h2>
                </div>
                <div class="modal-body">
                     <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Business Name <span style="color: red">*</span></label>
                                {{ form.m_business_name }}
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Business Category <span style="color: red">*</span></label>
                                {{ form.m_business_category }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Mobile Number<span style="color: red"> *</span></label>
                               <!--  <input type="text" class="form-control mobile" id="m_landline_number" name="m_landline_number" placeholder="Mobile Number" value="" maxlength="10"/> -->
                                {{ form.m_landline_number }}
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">State <span style="color: red">*</span></label>
                                <select name="m_state" class="form-control" id="id_m_state"
                                    style="margin-right: 50%; padding:3px; border: none;"
                                      required>
                                    <option disabled selected value>Select State </option>
                                    {% for object in States %}
                                      <option value="{{object.state}}">{{object.state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">City <span style="color: red">*</span></label>
                                <select name="m_city" class="form-control" id="id_m_city">
                                    <option disabled selected value>Select City</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">District <span style="color: red">*</span></label>
                                {{ form.m_district }}
                            </div>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Area <span style="color: red">*</span></label>
                                {{ form.m_area }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Pincode<span style="color: red"> *</span></label>
                                {{ form.m_pin_code }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Address <span style="color: red">*</span></label>
                                <input type="text" class="form-control mobile" id="m_address" name="m_address" placeholder="Address" value=""/>
                                {{ form1.m_address }}
                            </div>
                        </div> 
                    </div>         
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" data-id="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </form>

    </div>
</div>

<!-- End Add My Bussiness Modal-->

    <!-- Display Merchant Data -->

<div class="modal fade" id="myDisplayModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center">View Business</h2>
            </div>

            <div class="modal-body" id="paraclear">



                <p id="display_bussiness_name" name="display_bussiness_name"></p>
                <p id="display_bussiness_category" name="display_bussiness_category"></p>
                <p id="display_city" name="display_city"> </p>
                <p id="display_district" name="display_district"></p>
                <p id="display_state" name="display_state"></p>
                <p id="display_pin_code" name="display_pin_code"> </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- End display Merchant data -->

<!-- Add My Bussiness Branch Modal -->


<div class="modal fade" id="addBusinessBranchModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <form class="form-control" action="/merchant-business-branch/" method="POST" id="merchant_business_branch_form" name="merchant_business_branch_form" autocomplete="false">
         {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Add Branch</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" class="form-control mobile" id="m_pan_number" name="m_pan_number" 
                                placeholder="{{merchant.m_pan_number}}" value="{{merchant.m_pan_number}}" readonly/>
                                
                                <input type="hidden" class="form-control mobile" id="m_gstin" name="m_gstin" 
                                placeholder="{{merchant.m_gstin}}" value="{{merchant.m_gstin}}" readonly/>
                                <input type="hidden" class="form-control mobile" id="m_cin" name="m_cin" 
                                placeholder="{{merchant.m_cin}}" value="{{merchant.m_cin}}" readonly/>
                                <input type="hidden" class="form-control mobile" id="m_bank_account_number" name="m_bank_account_number" 
                                placeholder="{{merchant.m_bank_account_number}}" value="{{merchant.m_bank_account_number}}" readonly/>
                                <input type="hidden" class="form-control mobile" id="m_bank_IFSC_code" name="m_bank_IFSC_code" 
                                placeholder="{{merchant.m_bank_IFSC_code}}" value="{{merchant.m_bank_IFSC_code}}" readonly/>
                                <input type="hidden" class="form-control mobile" id="m_bank_name" name="m_bank_name" 
                                placeholder="{{merchant.m_bank_name}}" value="{{merchant.m_bank_name}}" readonly/>
                                <input type="hidden" class="form-control mobile" id="m_bank_branch" name="m_bank_branch" 
                                placeholder="{{merchant.m_bank_branch}}" value="{{merchant.m_bank_branch}}" readonly/>
                                <input type="hidden" class="form-control mobile" id="m_vat_tin_number" name="m_vat_tin_number" 
                                placeholder="{{merchant.m_vat_tin_number}}" value="{{merchant.m_vat_tin_number}}" readonly/>
                                <input type="hidden" class="form-control mobile" id="m_aadhaar_number" name="m_aadhaar_number" 
                                placeholder="{{merchant.m_aadhaar_number}}" value="{{merchant.m_aadhaar_number}}" readonly/>
                                <label for="name" class="text-right">Business Name <span style="color: red">*</span></label>
                                <input type="text" class="form-control mobile" id="m_business_name" name="m_business_name" 
                                placeholder="{{merchant.m_business_name}}" value="{{merchant.m_business_name}}" readonly/>
                                {{ form1.m_business_name }}
                               
                            </div>
                           
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Business Category <span style="color: red">*</span></label>
                                <input type="text" class="form-control mobile" placeholder="{{merchant.m_business_category}}" name=""
                                 readonly>
                                <select class="form-control" name="m_business_category" id="m_business_category" style="display: none;" 
                                 readonly>
                                    <option value="">Select Business Category</option>
                                    {% for business_category in data %}
                                    <option value="{{ business_category.m_business_category.id }}" 
                                    {% if business_category.m_business_category.id == merchant.m_business_category.id %} 
                                    selected 
                                    {% else %}
                                    {{merchant.m_business_category.id}}
                                    {% endif %}>{{ business_category.m_business_category }}</option>
                                    {% endfor %}
                                </select>
                                {{ form1.m_business_category }}
                              
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Mobile Number<span style="color: red"> *</span></label>
                                <input type="text" class="form-control mobile" id="m_landline_number" name="m_landline_number" placeholder="Mobile Number" value="" maxlength="10" required="" />
                                {{ form1.m_landline_number }}
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">State <span style="color: red">*</span></label>
                                <!-- <input type="text" class="form-control mobile" id="m_state" name="m_state" placeholder="State" value="" required="" /> -->
                                <select name="m_state" class="form-control" id="m_state" required>
                                    <option disabled selected value>Select State </option>
                                    {% for object in States %}
                                      <option value="{{object.state}}">{{object.state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">City <span style="color: red">*</span></label>
                                <!-- <input type="text" class="form-control mobile" id="m_city" name="m_city" placeholder="City" value="" required="" /> -->
                                <select name="m_city" class="form-control" id="m_city" required="">
                                    <option disabled selected value>Select City</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">District <span style="color: red">*</span></label>
                                <input type="text" class="form-control mobile" id="m_district" name="m_district" placeholder="District" value="" required="" />
                                {{ form1.m_district }}
                            </div>
                        </div>
                    </div>  

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Area <span style="color: red">*</span></label>
                                <input type="text" class="form-control mobile" id="m_area" name="m_area" placeholder="Area" value="" required="`" maxlength="20" />
                                {{ form1.m_area }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Pincode<span style="color: red"> *</span></label>
                                <input type="text" class="form-control mobile" id="m_pin_code" name="m_pin_code" placeholder="Pin Code" value="" required="" />
                                {{ form1.m_pin_code }}
                            </div>
                        </div>
                        
                    

                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="text-right">Address <span style="color: red">*</span></label>
                                <input type="text" class="form-control mobile" id="m_address" name="m_address" placeholder="Address" value="" required="" />
                                {{ form1.m_address }}
                            </div>
                        </div>

                        
                    </div>
                
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" data-id="">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </form>

    </div>
</div>


<!-- End Add My Bussiness Branch Modal-->

<!-- Edit My Bussiness Modal -->

<div class="modal fade" id="myEditModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->

        <form method="POST" class="form" name="edit_role_form" action="/edit_my_bussiness/">
            {% csrf_token %}

            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Edit Business</h2>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="mid" id="mid" value="" />
                        <label for="name">Bussiness Name</label>
                        <input type="text" maxlength="20" name="edit_bussiness_name" class="form-control" value=""
                            id="edit_bussiness_name">

                    </div>
                   <!--  <div class="form-group">
                        <label for="name">Bussiness Category</label>
                        <input type="text" name="edit_bussiness_category" class="form-control" value=""
                            id="edit_bussiness_category">

                    </div> -->
                    <div class="form-group">
                        <label for="name">Pin Code</label>
                        <input type="text" name="edit_pin_code" class="form-control" value="" id="edit_pin_code">

                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <div class="input-group mb-6">
                            <input type="text" maxlength="10" class="form-control mobile" name="edit_state"
                                id="edit_state" placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>District</label>
                        <div class="input-group mb-6">
                            <input type="text" class="form-control mobile" name="edit_district" id="edit_district">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <div class="input-group mb-6">
                            <input type="text" class="form-control" name="edit_city" id="edit_city">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label>Area</label>
                        <div class="input-group mb-6">
                            <input type="text" maxlength="6" class="form-control" name="edit_pin_code"
                                id="edit_pin_code">
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" data-id="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </form>

    </div>
</div>

<!-- End Edit My Bussiness Modal-->



<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

<script type="text/javascript">
  $(document).ready(function () {

        $("#id_m_state").on('change', function()
        {

            var state = $("#id_m_state").val()

            $.ajax({
                type: "POST",
                url: "/get-user-city-by-state/",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    'state': state
                },
                success: function(result){
                    $("#id_m_city").empty();
                    var empty = ""
                    $('#id_m_city').append("<option value='" + empty + "' disabled selected value>" + "Select City *" + "</option>");
                    $.each(result.data, function (key, value) {
                        $('#id_m_city').append("<option value='" + value + "'>" + value + "</option>");
                    });
                }
            });

        })
    })

  $(document).ready(function () {

        $("#m_state").on('change', function()
        {
            var state = $("#m_state").val()

            $.ajax({
                type: "POST",
                url: "/get-user-city-by-state/",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    'state': state
                },
                success: function(result){
                    $("#m_city").empty();
                    var empty = ""
                    $('#m_city').append("<option value='" + empty + "' disabled selected value>" + "Select City *" + "</option>");
                    $.each(result.data, function (key, value) {
                        $('#m_city').append("<option value='" + value + "'>" + value + "</option>");
                    });
                }
            });
        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        // Add Row
        // $('#add-row').DataTable({
        //     "pageLength": 5,
        // });

        $(document).ready(function () {
        $('#add-row').DataTable( {
            dom: 'tBfrtip',
            "ordering": false,
            buttons: [    
            ],
        });
});

        // buttons: [
        //         'copy', 'csv', 'excel', 'pdf', 'print'
        //     ]

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>
<script>



$(".viewBtn").on("click", function () {
        var bussiness_name = $(this).data('bussiness_name');
        var bussiness_category = $(this).data('bussiness_category');
        var city = $(this).data('city');
        var district = $(this).data('district');
        var state = $(this).data('state');
        var pin_code = $(this).data('pin_code');



        $('#display_bussiness_name').empty().append("Business Name: " + bussiness_name);
        $('#display_bussiness_category').empty().append("Business Category: " + bussiness_category);
        $('#display_city').empty().append("City: " + city);
        $('#display_district').empty().append("District: " + district);
        $('#display_state').empty().append("State: " + state);
        $('#display_pin_code').empty().append("Pin Code: " + pin_code);
        $("#myDisplayModal").modal();

    });


var editmodaldiv = $("#edit-modal-div");
    $(".editBtn").on("click", function () {
        var id = $(this).data('id')
        var bussiness_name = $(this).data('bussiness_name');
        var bussiness_category = $(this).data('bussiness_category');
        var city = $(this).data('city');
        var district = $(this).data('district');
        var state = $(this).data('state');
        var pin_code = $(this).data('pin_code');

        $("#mid").val(id)
        $('#edit_bussiness_name').val(bussiness_name)
        // $('#edit_bussiness_category').val(bussiness_category)
        $('#edit_city').val(city)
        $('#edit_district').val(district)
        $('#edit_state').val(state);
        $('#edit_pin_code').val(pin_code);
        $("#myEditModal").modal();

    });

jQuery.validator.addMethod("mobile_number", function (value, element) {
            if (/^[6-9][0-9]{9}$/.test(value)) {
                return true;   // PASS validation when REGEX matches
            } else {
                return false;  // FAIL validation
            };
        }, "Please enter valid Mobile Number");
    $("#merchant_business_branch_form").validate({



        rules: {
            m_landline_number:{
                required: true,
                minlength:10,
                maxlength:10,
                mobile_number:true
            },
            m_business_name: {
                required: true,
                // 
                // maxlength: 20,
                normalizer: function(value) {
                    return $.trim(value);
                  },
                

            },
            m_business_category: {
                required: true
            },
            m_city: {
                required: true,
                
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
            },
            m_district: {
                required: true,
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
                
            },
            m_state: {
                required: true,
                
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
            },
            m_area: {
                required: true,
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
                
            },

            m_pin_code: {
                required: true,
                digits: true,
                minlength: 6,
                maxlength: 6,
            },
            m_address: {
                required: true,
                normalizer: function(value) {
                    return $.trim(value);
                  },
              },
        },
        messages: {
            m_landline_number: "Please enter Valid Mobile Number",
            m_business_name: "Business Name field is required.",
            m_business_category: "Business Category field is required.",
            m_gstin: "GSTIN field is required.",
            m_district: "District field is required.",
            m_address: "Address field is required.",
            m_city: "City field is required.",
            m_state: "State field is required.",
            m_pin_code: {
                required: "Pin Code field is required.",
                minlength: "Invalid Pin Code",
                maxlength: "Invalid Pin Code",
            },
            m_city: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },
            m_state: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },
            m_business_name: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },
            m_area: {
                required: "This field is required",
                // lettersonly: "Letters only please",
            },
        }
    });


     $("#merchant_business_form").validate({

        rules: {
            m_landline_number:{
                required: true,
                minlength:10,
                maxlength:10,
                mobile_number:true
            },
            m_pin_code:{
                required: true,
                minlength:6,
                maxlength:6,
                digits: true,
            },

            m_business_name: {
                required: true,
                
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
                

            },
            m_business_category: {
                required: true
            },
            m_city: {
                required: true,
                
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
            },
            m_district: {
                required: true,
                
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
            },
            m_state: {
                required: true,
                
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
            },
            m_address: {
                required: true,
                maxlength: 50,
                normalizer: function(value) {
                    return $.trim(value);
                  },
            },
            m_pin_code: {
                required: true,
                digits: true,
                minlength: 6,
                maxlength: 6,
            },
            m_area: {
                required: true,
                
                maxlength: 20,
                normalizer: function(value) {
                    return $.trim(value);
                  },
            },
        },
        messages: {
            m_landline_number: "Please enter Valid Mobile Number",
            // m_business_name: "Business Name field is required.",
            m_business_category: "Business Category field is required.",
            m_gstin: "GSTIN field is required.",
            // m_district: "District field is required.",
            // m_city: "City field is required.",
            // m_state: "State field is required.",
            m_address: "Adress field is required.",
            m_pin_code: {
                required: "Pin Code field is required.",
                minlength: "Invalid Pin Code",
                maxlength: "Invalid Pin Code",
            },
            m_city: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },

            m_state: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },
            m_district: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },
            m_area: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },
            m_business_name: {
                required: "This field is required",
                lettersonly: "Letters only please",
                maxlength: "please enter less than 20 characters",
            },
        }
    });



    $(function() {
    $('.deleteBtn').on('click', function(e) {
      e.preventDefault();
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes'
        }).then((result) => {
          if (result.isConfirmed) {
            var id = $(this).attr("data-id");
            console.log(id)
            $.ajax({
              type: "POST",
              url: "/delete-merchant-business/"+id,
              data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
              success: function(response) {
                Swal.fire(
                    
                    {
                    title:'Deleted!',
                        text:'Business has been deleted',
                        icon:'success',
                        timer:1500,
                        showConfirmButton:false,
                  })
                .then(function() {
                  location.reload();
                });
              },
              error: function() {
                Swal.fire({
                  icon:"error",
                  title: "Oops...", 
                  text: "Something went wrong!", 
                  confirmButtonClass: "btn-success",
                  allowOutsideClick: false,
                  allowEscapeKey: false
                })
                  .then(function() {
                    location.reload();
                  });       
              }
          });
          }
        })
    });
  });


// $(document).ready(function () {
//     $('#merchant-business-table').DataTable({
//             buttons: [
//                 'excel', 'pdf', 'print'
//             ]
//     });
// });
</script>
<!-- <script type="text/javascript">
    m_pin_code
    $(document).ready(function() {
    $("#m_pin_code").keyup(function() {
        var pincode= $('#m_pin_code').val();
        if(pincode.length == 6){
            $.ajax({
                url: "https://api.postalpincode.in/pincode/"+pincode,
                cache: false,
                dataType: "json",
                type: "GET",
                success: function(data) {
                    state = data['0']['PostOffice'][0]['State']
                    city = data['0']['PostOffice'][0]['Region']
                    district = data['0']['PostOffice'][0]['District']
                    $('#m_state').val(state)
                    $('#m_city').val(city)
                    $('#m_district').val(district)
                }
            })
        }
        else{
            $('#m_state').val("")
            $('#m_city').val("")
            $('#m_district').val("")
        }
    })
})
</script> -->

<style>
    

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}