{% extends "layouts/merchant-base.html" %} {% block title %} Software Installtion Steps {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card-img-top {
        width: 50%;
        object-fit: cover;
    }
</style>
<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Get Started</h4>
           <!--  <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/merchant-index/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Installtion Steps for Merchant Software</a>
                </li>

            </ul> -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="font-weight: 800; border-bottom: 2px solid #f2f2f2;">
                      <p style="margin: 10px 35px;">Congratulations on becoming a Greenbill Store and contributing to mother earth by going green and saving paper. Now that you have registered succesfully, here is what is needed to proceed ahead;</p>
                    </div>
                    <div class="row text-center" style="margin-left: 5px" >
                            <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#" role="tab"
                                        aria-selected="false">Steps</a>
                                </li>    
                            </ul>
                    </div>

                    <div class="card" style="font-weight: 600">
                        <div style="margin: 10px 50px"> <p>Step 1. Complete your business details in Settings - Business Settings tab.</p>  
                           <a href="/merchant-general-setting/"  class="btn btn-secondary btn-round">Business Settings </a>    
                        </div>
                         <div style="margin: 10px 50px"> <p>Step 2. In order to start sending bill digitally, you will need two things, a Subscription and our Software.</p>  
                           <a href="/my-subscription/" class="btn btn-secondary btn-round" >Subscription</a>    
                           <!-- <a href="" class="btn btn-secondary btn-round" style="margin-left: 10px">Software</a>    -->
                        </div>
                        <div style="margin: 10px 50px"> <p>Step 3. To purchase a subscription, go to Settings - My Subscriptions and you can select the best suited option or call our team too by just filling in the form.</p>  
                           <a href="/my-subscription/"  class="btn btn-secondary btn-round"> My Subscriptions</a>    
                        </div>                      
                        <div style="margin: 10px 50px"> <p>Step 4. To get our Software, kindly call at <span style="color: blue">+91 96044 87244 </span> or write us at <span style="color: blue;"> support@greenbill.in</span></p>  
                              
                        </div>
                        <div style="margin: 10px 50px"> <p>Step 5. Our executive will call coordinate with you and do the software installation and you are ready to go.</p>  
                          
                        </div>
                        <div style="margin: 10px 50px"> <p>Step 6.  Kindly note, for our software to run properly its mandatory to have 64 bit PC. </p>  
                              
                        </div>
                        <div style="margin: 10px 50px"> <p>Step 7. For any other queries or support, feel free to visit Support & FAQs section.</p>  
                           <a href="/merchant-supports-faqs/"  class="btn btn-secondary btn-round"> Support & FAQs</a>    
                        </div>
                        <div style="margin: 10px 50px"> <p>Step 8. You can use our Greenbill Business App too, its available for free for both Android & iOS.</p>  
                            

                            <button type="button" title="IOS App" data-toggle="tooltip" class="btn btn-link btn-primary" data-original-title="IOS App">

                            	<a href="https://apps.apple.com/in/app/green-bill-hind-software/id1592444682" target="_blank" data-original-title="IOS App"  class="btn-round"> <img width="40px" height="50px" src="http://157.230.228.250/media/Apple.png"></a>

                            </button>

                            <button type="button" title="Android App" data-toggle="tooltip" class="btn btn-link btn-primary" data-original-title="Android App">
                            	<a target="_blank" href="https://play.google.com/store/apps/details?id=com.greenBill.green_bill" data-original-title="Android App"  class="ml-3 btn-round"> <img src="http://157.230.228.250/media/playstore.png" width="32" height="35px"></a>
                            </button>

                             
                              
                        </div>

                    </div> 










                </div>
            </div>
        </div>


<!--         <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                    
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#" role="tab"
                                        aria-selected="false">Steps</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    
                
                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Step 1 - </b></h5>
                          <p class="card-text">Install Green Bill Printer Driver.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <a href="/media/installation_steps/step_1.jpg/" data-fancybox="gallery" data-caption="Install Green Bill Printer Driver"><img src="/media/installation_steps/step_1.jpg/" class="card-img-top rounded mx-auto d-block" alt="step_1" width="388px;"></a>
                    </div>

                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Step 2 - </b></h5>
                          <p class="card-text">Install Green Bill Merchant Desktop App/.exe.</p>
                        
                        </div>
                        <a href="/media/installation_steps/step_2.jpg/" data-fancybox="gallery" data-caption="Install Green Bill Merchant Desktop App/.exe"><img src="/media/installation_steps/step_2.jpg/" class="card-img-top rounded mx-auto d-block" alt="step_2" width="388px;"></a>
                    </div>

                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Step 3 - </b></h5>
                          <p class="card-text">Open Green Bill Folder in Documents and open the .txt file.</p>
                          
                        </div>
                        <a href="/media/installation_steps/step_3.jpg/" data-fancybox="gallery" data-caption="Open Green Bill Folder in Documents and open the .txt file"><img src="/media/installation_steps/step_3.jpg/" class="card-img-top rounded mx-auto d-block" alt="step_3" width="388px;"></a>
                    </div>

                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Step 4 - </b></h5>
                          <p class="card-text">Enter the Printer Name which you want to link to Green Bill.</p>
                        
                        </div>
                        <a href="/media/installation_steps/step_4.jpg/" data-fancybox="gallery" data-caption="Enter the Printer Name which you want to link to Green Bill"><img src="/media/installation_steps/step_4.jpg/" class="card-img-top rounded mx-auto d-block" alt="step_4" width="388px;"></a>
                    </div>

                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Step 5 - </b></h5>
                          <p class="card-text">Now that your printer is linked with Green Bill, you can open any document or use "Ctrl + P" .</p>
                          
                        </div>
                        <a href="/media/installation_steps/step_5.jpg/" data-fancybox="gallery" data-caption="Now that your printer is linked with Green Bill, you can open any document or use 'Ctrl + P'"><img src="/media/installation_steps/step_5.jpg/" class="card-img-top rounded mx-auto d-block" alt="step_5" width="388px;"></a>
                    </div>

                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Step 6 - </b></h5>
                          <p class="card-text">Kindly login using your business login credentials to start sending bills digitally.</p>
                          
                        </div>
                        <a href="/media/installation_steps/exe1.png/" data-fancybox="gallery" data-caption="You can send the bill digitally to your customers or send bill and print at the same time"><img src="/media/installation_steps/exe1.png/" class="card-img-top rounded mx-auto d-block" alt="step_6" width="388px;"></a>
                    </div>

                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Step 7 - </b></h5>
                          <p class="card-text">You can select your business from the dropdown to send bill. You can send the digital bill to your customers or other greenbill stores.</p>
                          
                        </div>
                        <a href="/media/installation_steps/exe2.PNG" data-fancybox="gallery" data-caption="You can send the bill digitally to your customers or send bill and print at the same time"><img src="/media/installation_steps/exe-new2.png" class="card-img-top rounded mx-auto d-block" alt="step_7" width="388px;"></a>
                    </div>

                    <div class="card" style="box-shadow: none; border-bottom: 2px solid #f2f2f2; padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Note - </b></h5>
                          <p class="card-text">
                            1) The file should be less than 1 MB and it should have less than 5 pages.
                            <br>
                            2) Digital Bill can be sent to only one user/mobile number at one time.
                            <br>
                            3) It will add the stamp automatically in the bill of the stamp is selected and made active from Business Settings
                          </p>
                          
                        </div>
                    </div>
                   
                    <div class="card" style="box-shadow: none;  padding-bottom: 22px;">
                        <div class="card-body">
                          <h5 class="card-title text-center"><b>Download Driver and Software</b></h5>
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-outline-success" id="download_win64_driver" href="#" role="tab" aria-selected="false"><i class="fa fa-download"></i> Download Driver </a>
                            <a class="btn btn-outline-success" id="download_win64_software" href="#" role="tab" aria-selected="false"><i class="fa fa-download"></i> Download Software </a>
                        </div>
                    </div> -->
                    <!-- End of Downlodable Content -->

                    <!-- <div class="card-body">
                       
                        <ul class="list-group list-group-lg list-group-bordered">
                            <li class="list-group-item">
                                <br/>
                                <img class="" src="" style="margin-top: 80px;" /></a>
                            </li>
                            <li class="list-group-item">
                                <p><b>Install Green Bill Merchant Desktop App.</b></p><br/>
                                <a href="/media/installation_steps/step_2.jpg/"><img class="center" src="/media/installation_steps/step_2.jpg/" style="margin-top: 80px;" /></a>
                            </li>
                            <li class="list-group-item">
                                <p><b>Step 3 - Create a folder of name GreenBill in the Documents folder.</b></p><br/>
                                <a href="/media/installation_steps/step_3.jpg/"><img class="center" src="/media/installation_steps/step_3.jpg/"
                                    style="margin-left: -150px; margin-top: 80px;" /></a>
                            </li>
                            <li class="list-group-item">
                                <p><b>Step 4 - Create a new .txt file of the name printer_setting.</b></p><br/>

                                <a href="/media/installation_steps/step_4.jpg/"><img class="center" src="/media/installation_steps/step_4.jpg/"
                                    style="margin-left: -100px; margin-top: 80px;" /></a>
                            </li>
                            <li class="list-group-item">
                                <p><b>Step 5 - Add printer name in printer_setting.txt file to print.</b></p><br/>
                                <a href="/media/installation_steps/step_5.jpg/"><img class="center" src="/media/installation_steps/step_5.jpg/"
                                    style="margin-left: -100px; margin-top: 80px;" width="488px;" /></a>

                            </li>
                            <li class="list-group-item">
                                <p><b>Step 6 - Click on print button or "ctrl + p" to print bill and select GreenBill From printers</b></p><br/>
                                <a href="/media/installation_steps/step_6.jpg/"><img class="center" src="/media/installation_steps/step_6.jpg/"
                                    style="margin-left: -250px; margin-top: 80px;" width="488px;" /></a>
                            </li>
                            <li class="list-group-item">
                                <p><b>Step 7 -Fill the information then select checkbox for send bill digitally or print or both and click on submit</b></p><br/>
                                <a href="/media/installation_steps/step_7.jpg/"><img class="center" src="/media/installation_steps/step_7.jpg/"
                                    style="margin-left: -350px; margin-top: 80px;" width="488px;" /></a>
                            </li>
                         
                        </ul>

                    </div> -->
                <!-- </div>
            </div>
        </div> -->
    </div>
</div>

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

<script>
    $('#download_win64_driver').click(function(e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = '/media/green_bill_driver_software/GreenbillDriver.msi/';
    });

    $('#download_win64_software').click(function(e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = '/media/green_bill_driver_software/Green_Bill_Setup_4.0.0.exe/';
    });

    $('#download_mac_driver').click(function(e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = '';
    });

    $('#download_mac_software').click(function(e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = '';
    });

    $('#download_linux_software').click(function(e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = '';
    });

    $('#download_linux_software').click(function(e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = '';
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}