{% extends "layouts/merchant-base.html" %} {% block title %} Suggest Petrol Pump {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="justify-content: center">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Payments</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/merchant-index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/payments/">Payments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                        
                   <div class="card-body permission-denied" style="display:none">
                      <div class="permission-denied" style="padding: 5%; color: #63b90b !important">Module will be Live Shortly. Will keep you posted.</div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}