




{% extends "layouts/merchant-base.html" %} 
{% block title %} Payment Setting {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Payment Settings</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/merchant-index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Settings</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/merchant-payment-settings/">Payment Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    {% if is_merchant == True %}
                        <div class="card-body">
                            
                            <form class="form-control" action="/merchant-payment-settings/" method="POST" id="payment-settings-form"  autocomplete="off">
                                {% csrf_token %}
                                <div class="card-body">

                                {% if option == "payu_check" %}
                                  <div class="row">
                                    
                                    <div class="col-md-2">

                                            <input name="choices" id=" payu_check"  value="payu_check" type="radio"  autocomplete="off" checked >
                                           
                                      <img src="http://157.230.228.250/media/bill_design/payu.png" alt="#" class="img-fluid" style="width: 90%; height: 90%;">
                                      </label> 
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Key </label>
                                         
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_key" name="payu_key" placeholder="Enter PayU Key" value="{{ data.payu_key }}" pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Salt </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_salt" name="payu_salt" placeholder="Enter PayU Salt" value="{{ data.payu_salt }}"  pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                  </div>

                                  {% else %}

                                   <div class="row">
                                    
                                    <div class="col-md-2">

                                        
                                        
                                        <input name="choices" id=" payu_check"  value="payu_check" type="radio"  autocomplete="off" >
                                          
                                      <img src="http://157.230.228.250/media/bill_design/payu.png" alt="#" class="img-fluid" style="width: 90%; height: 90%;">
                                      </label> 
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Key </label>
                                         
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_key" name="payu_key" placeholder="Enter PayU Key" value="" pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Salt </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_salt" name="payu_salt" placeholder="Enter PayU Salt" value=""  pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}

                                  {% if option == "upi_check" %}
                                  <div class="row">
                                    <div class="col-md-3">

                                            <input name="choices" id=" upi_check"  value="upi_check" type="radio"  autocomplete="off" checked>
                                            
                                       
                                      <img src="http://157.230.228.250/media/bill_design/upi.png" alt="#" class="img-fluid" style="width: 90%; height: 80%;">
                                  
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row m-4">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">UPI ID </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10 ">
                                              <input type="text" class="form-control" id="upi_id" name="upi_id" placeholder="Enter UPI Id" value="{{ data.upi_id }}" />
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                       
                                    {% else %}
                                        <div class="row">
                                    <div class="col-md-3">

                                        <input name="choices" id=" upi_check"  value="upi_check" type="radio"  autocomplete="off"  >
                                     

                                      <img src="http://157.230.228.250/media/bill_design/upi.png" alt="#" class="img-fluid" style="width: 90%; height: 80%;">
                                  
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row m-4">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">UPI ID </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10 ">
                                              <input type="text" class="form-control" id="upi_id" name="upi_id" placeholder="Enter UPI Id" value="" />
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                                <div class="card-action">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <input class="btn btn-primary" type="submit" value="Submit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        {% for actions in merchnat_action_permissions_list %}
                          {% if actions.module_id|lower == "Settings"|lower and actions.feature_id|lower == "Payment Settings"|lower %}
                            {% if actions.view_permission == "1" %}
                                
                                <div class="card-body">
                                    <form class="form-control" action="/merchant-payment-settings/" method="POST" id="payment-settings-form" name="payment-settings-form" autocomplete="off">
                                        {% csrf_token %}

                                          <div class="card-body">

                                {% if option == "payu_check" %}
                                  <div class="row">
                                    
                                    <div class="col-md-2">

                                            <input name="choices" id=" payu_check"  value="payu_check" type="radio"  autocomplete="off" checked >
                                         
                                      <img src="http://157.230.228.250/media/bill_design/payu.png" alt="#" class="img-fluid" style="width: 90%; height: 90%;">
                                      </label> 
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Key </label>
                                         
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_key" name="payu_key" placeholder="Enter PayU Key" value="{{ data.payu_key }}" pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Salt </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_salt" name="payu_salt" placeholder="Enter PayU Salt" value="{{ data.payu_salt }}"  pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                  </div>

                                  {% else %}

                                   <div class="row">
                                    
                                    <div class="col-md-2">

                                    
                                        <input name="choices" id=" payu_check"  value="payu_check" type="radio"  autocomplete="off" >
                                           
                                      <img src="http://157.230.228.250/media/bill_design/payu.png" alt="#" class="img-fluid" style="width: 90%; height: 90%;">
                                      </label> 
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Key </label>
                                         
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_key" name="payu_key" placeholder="Enter PayU Key" value="" pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group  row">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Salt </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_salt" name="payu_salt" placeholder="Enter PayU Salt" value=""  pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}

                                  {% if option == "upi_check" %}
                                  <div class="row">
                                    <div class="col-md-3">

                                            <input name="choices" id=" upi_check"  value="upi_check" type="radio"  autocomplete="off" checked>
                                       
                                      <img src="http://157.230.228.250/media/bill_design/upi.png" alt="#" class="img-fluid" style="width: 90%; height: 80%;">
                                  
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row m-4">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">UPI ID </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10 ">
                                              <input type="text" class="form-control" id="upi_id" name="upi_id" placeholder="Enter UPI Id" value="{{ data.upi_id }}" />
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                       
                                    {% else %}
                                        <div class="row">
                                    <div class="col-md-3">

                                        <input name="choices" id=" upi_check"  value="upi_check" type="radio"  autocomplete="off"  >
                                         

                                      <img src="http://157.230.228.250/media/bill_design/upi.png" alt="#" class="img-fluid" style="width: 90%; height: 80%;">
                                  
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row m-4">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">UPI ID </label>
                                          <div class="col-lg-6 col-md-11 col-sm-10 ">
                                              <input type="text" class="form-control" id="upi_id" name="upi_id" placeholder="Enter UPI Id" value="" />
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                                        <!-- <div class="card-body"> -->
                                 <!--  <div class="row">
                                    <div class="col-md-3">
                                        {% if choice == 'payu' %}
                                            <input name="choices" id=" payu_check"  value="payu_check" type="radio"  autocomplete="off" checked>
                                            
                                        {% else %}
                                            <input name="choices" id=" payu_check"  value="payu_check" type="radio"  autocomplete="off" >
                                            
                                        {% endif %}
                                      <img src="http://157.230.228.250/media/bill_design/payu.png" alt="#" class="img-fluid" style="width: 90%; height: 90%;">
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group form-show-validation row">
                                          <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Key <span>*</span></label>
                                         
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_key" name="payu_key" placeholder="Enter PayU Key" value="{{ data.payu_key }}" pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group form-show-validation row">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Salt</label>
                                          <div class="col-lg-6 col-md-11 col-sm-10">
                                              <input type="text" class="form-control" id="payu_salt" name="payu_salt" placeholder="Enter PayU Salt" value="{{ data.payu_salt }}"  pattern="^[a-zA-Z0-9]*$"/>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-3">
                                        
                                        {% if choice == 'upi' %}
                                            <input name="choices" id=" upi_check"  value="upi_check" type="radio"  autocomplete="off" checked>
                                        {% else %}
                                            <input name="choices" id=" upi_check"  value="upi_check" type="radio"  autocomplete="off"  >
                                            {% endif %}
                                      <img src="http://157.230.228.250/media/bill_design/upi.png" alt="#" class="img-fluid" style="width: 90%; height: 80%;">
                                  
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group form-show-validation row m-4">
                                          <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">UPI ID <span class="required-label">*</span></label>
                                          <div class="col-lg-6 col-md-11 col-sm-10 ">
                                              <input type="text" class="form-control" id="upi_id" name="upi_id" placeholder="Enter UPI Id" value="{{ data.upi_id }}" />
                                          </div>
                                      </div>
                                    </div>
                                  </div> -->
                                        
                                        <div class="card-action">
                                            {% if actions.edit_permission == "1" %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="text-center">
                                                            <input class="btn btn-primary" type="submit" value="Submit" />
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                        <div class="card-body permission-denied" style="display:none">
                          <div class="permission-denied" style="padding: 5%">Permission Denied</div> 
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script>
    // $("#payment-settings-form").validate({
    //     rules: {

    //         payu_salt: {
    //             required: true,
    //         },
    //     },
    // });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}


