{% extends "layouts/customer-base.html" %}

{% load custom_tags %}

{% block title %} My Added Bill {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>
<div class="content">
    <div class="page-inner">
        <!-- <div class="page-header">
            <h4 class="page-title">My Bills</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/customer-index/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Bills</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/my-bills/">My Bills</a>
                </li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                          <h4 class="card-title">My Bills</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/customer-index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/customer-bill/">My Bills</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="card-header">
                        <div class="row">
                            <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#profile" role="tab"
                                        aria-selected="false">Customer Bill</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="add-row" class="display table table-striped table-hover" style="width: 107%">
                                <thead>
                                    <tr><th id="test_1" colspan="3"></th><th id="test_2" colspan="3"></th></tr>
                                    <tr>
                                        <th>Sr. No.</th>   
                                        <th style="width: 20%;">Store Name</th>
                                        <th style="width: 10%;">Category</th>
                                        <th>Bill Amount</th>
                                        <th style="width: 20%;">Bill Date</th>
                                        <th>Bill Tags</th>
                                        <!-- <th>Notes/Remarks</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                </tfoot>
                                <tbody>
                                    {% for object in customer_bill %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{% if object.business_name != null %}
                                                {{ object.business_name }}
                                            {% else %}
                                                {{ object.custom_business_name }}
                                            {% endif %}
                                        </td>
                                        <td>{% if object.customer_bill_category != null %}
                                                {{ object.customer_bill_category.bill_category_name }}
                                            {% endif %}
                                        </td>
                                        <td>₹ {{object.bill_amount}}</td>

                                        <td style="width: 20%;">{{object.bill_date|date:'d-m-Y'}}</td>
                                        <td>{{object.bill_tags_name}}</td>
                                        <!-- <td>{{object.remarks}}</td> -->
                                        <td>
                                            <div class="form-button-action">

                                                <button type="button" data-toggle="tooltip" data-target="#"
                                                    title="" class="btn btn-link btn-primary viewBtn"
                                                    id="edit-modal-div" data-original-title="View Bill"
                                                    data-url="{{object.id}}" data-id="{{object.id}}"
                                                    data-bill_file="{{ object.bill }}"
                                                    data-busi_name="{{ object.business_name }}"
                                                    data-cust_category="{{ object.customer_bill_category.bill_category_name }}"
                                                    data-amount="{{ object.bill_amount }}"
                                                    data-date_bill="{{ object.bill_date|date:'Y-m-d'}}" 
                                                    data-remarks="{{ object.remarks}}" data-remarks="{{ object.custom_business_name}}" data-edit_custom_business = "{{object.custom_business_name}}" data-bill_tags_list={{object.bill_tags}}>
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                                {% if object.customer_added == True %}
                                                <button type="button" data-toggle="tooltip" data-target="#myEditModal"
                                                    title="" class="btn btn-link btn-primary editBtn"
                                                    id="edit-modal-div" data-original-title="Edit Bill"
                                                    data-url="{{object.id}}" data-id="{{object.id}}"
                                                    data-bill_file="{{ object.bill }}"
                                                    data-busi_name="{{ object.business_name.id }}"
                                                    data-cust_category="{{ object.customer_bill_category.id }}"
                                                    data-amount="{{ object.bill_amount }}"
                                                    data-date_bill="{{ object.bill_date|date:'Y-m-d'}}" 
                                                    data-remarks="{{ object.remarks}}" data-remarks="{{ object.custom_business_name}}" data-edit_custom_business = "{{object.custom_business_name}}" data-bill_tags_list={{object.bill_tags}}>
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                                {% endif %}
                                                <button type="button" title="Download Bill" data-toggle="tooltip"
                                                    class="btn btn-link btn-primary" data-original-title="Download Bill">
                                                    <a href="{{object.bill.url}}" download>
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                    </a>
                                                </button>

                                                <button type="button" title="Delete Bill" data-toggle="tooltip"
                                                    class="btn btn-link btn-danger DeleteBillBtn" data-original-title="Delete Bill" id="DeleteBillBtn" data-id="{{object.id}}">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                                     
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myEditModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->

        <form class="form-control" action="/edit-my-bill/" method="POST" id="addbilleditform" name="editform"
            autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Edit Bill</h2>
                </div>

                <div class="modal-body">
                    <div class="row ">
                        <div class="col-md-12">

                            <div class="row">

                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bill Amount<span style="color: red;"> *</span></label>
                                        <div class="input-group mb-6">
                                            <input type="number" class="form-control mobile" name="edit_amount"
                                                id="edit_amount" placeholder="Bill Amount" value="" required min="1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Category</label>
                                        <div class="input-group mb-6">
                                            <select name="edit_category" id="edit_category"
                                                class="form-control mobile js-example-basic-single" style="width: 100%;">
                                                <option value="">Select Category</option>
                                                {% for object in bill_category %}
                                                <option value="{{object.id}}">
                                                    {{object.bill_category_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Store</label>
                                        <div class="input-group mb-6">
                                            <select name="edit_business" id="edit_business"
                                                class="form-control mobile js-example-basic-single" style="width: 100%;">
                                                <option value="" id="edit_business">Select Store </option>
                                                {% for object in business_name %}
                                                <option value="{{object.id}}">
                                                    {{object.m_business_name}}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-10" style="margin-top: 5px; color: #63b90b"><span>If your store is not listed here, please select checkbox and add store name.</span>
                                            </div>
                                            <div class="col-md-2" style="margin-top: 10px"><input class="form-control" type="checkbox" name="edit_business_check" value="1" onchange="valueChanged1()" id="edit_business_check">
                                            </div>
                                            <div class="input-group mb-6">
                                            <input type="text" name="edit_custom_business" id="edit_custom_business" class="form-control" placeholder="Add Business Name">
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Bill Tags</label>
                                            <select class="js-example-basic-multiple" name="edit_bill_tags" id="edit_bill_tags" multiple="multiple" style="width: 300px;">
                                                {% for bill_tag in bill_tags %}
                                                    <option value="{{ bill_tag.id }}">{{ bill_tag.bill_tags_name }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                </div>
                                <input type="hidden" name="edit_bill_tags_value" id="edit_bill_tags_value" value="">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Bill Date<span style="color: red;"> *</span></label>
                                        <div class="input-group mb-6">
                                            <input type="date" class="form-control mobile" name="edit_date"
                                                id="edit_date" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Notes/Remarks</label>
                                            <input type="text" class="form-control" name="edit_remarks" id="edit_remarks">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bill File<span style="color: red;">*</span></label>
                                        <input type="hidden" name="enid" id="enid">
                                        <input type="hidden" name="editfile_available" id="editfile_available" value="">
                                        <div class="input-group mb-6">
                                            <input type="file" class="form-control mobile" name="editfile" id="editfile"
                                                placeholder="Bill File" value="" required accept="image/*,application/pdf"/>
                                        </div>
                                        <!-- <span style="color: red;"></span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Update" data-id="">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<div class="modal fade" id="BillDisplayModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Customer Bill</h2>
                </div>

                <div class="modal-body" id="paraclear">



                    <p id="business_name_display" name="business_name_display"></p>
                    <p id="bill_category_display" name="bill_category_display"></p>
                    <p id="bill_amount_display" name="bill_amount_display"> </p>
                    <p id="bill_date_display" name="bill_date_display"></p>
                    <p id="bill_tags_display" name="bill_tags_display"></p>
                    <p id="bill_remark_display" name="bill_remark_display"> </p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script type="text/javascript">



   


    function valueChanged()
    {

        if($('#business_check').is(":checked")){
            $("#business_name").val('').trigger('change')
            $("#custom_business").show();
            $("#business_name").prop('disabled', true); 
        }
        else{
            $("#custom_business").hide();
            $("#business_name").prop('disabled', false);
        }
    }

    function valueChanged1()
    {

        if($('#edit_business_check').is(":checked")){
            $("#edit_business_name").val('').trigger('change')
            $("#edit_custom_business").show();
            $("#edit_business_name").prop('disabled', true); 
        }
        else{
            $("#edit_custom_business").hide();
            $("#edit_business_name").prop('disabled', false);
        }
    }
</script>
<script>

$(document).ready(function() {

    $("#custom_business").hide();

    $('.js-example-basic-single').select2();

    $("#bill_tags").select2({
        placeholder:" Select Business Category",
        // closeOnSelect: false,
    })

    $("#edit_bill_tags").select2({
        placeholder:" Select Business Category",
        // closeOnSelect: false,
    })

    $("#edit_bill_tags").on('change', function()
    {
        var opts2 = [], opt2;
        var len = edit_bill_tags.options.length;
        for (var i = 0; i < len; i++) {
            opt2 = edit_bill_tags.options[i];
            if (opt2.selected) {
            opts2.push(opt2.value);
            }
        }
        // business_category = $("#business_category_id option:selected").val()
        $("#edit_bill_tags_value").val(opts2)
    })

    $("#bill_tags").on('change', function()
    {
        var opts1 = [],opt1;
        var len = bill_tags.options.length;
        for (var i = 0; i < len; i++) {
            opt1 = bill_tags.options[i];
            if (opt1.selected) {
            opts1.push(opt1.value);
            }
        }
        $("#bill_tags_value").val(opts1)
    })

}); 

    

    $(".viewBtn").on("click", function () {

        var eid = $(this).data('id');
        var business_name = $(this).data('busi_name');
        var category = $(this).data('cust_category');
        var bill_amount = $(this).data('amount');
        var date = $(this).data('date_bill');
        var bill_tags_list = JSON.parse("[" + $(this).data('bill_tags_list') + "]");
        var remarks = $(this).data('remarks');
        

        $('#business_name_display').empty().append("Business Name: " + business_name);
        $('#bill_category_display').empty().append("Bill Category: " + category);
        $('#bill_amount_display').empty().append("Bill Ammount: " + bill_amount);
        $('#bill_date_display').empty().append("Bill Date.: " + date);
        // $('#bill_tags_display').empty().append("Bill Tag List: " + bill_tags_list);
        $('#bill_remark_display').empty().append("Remark: " + remarks);
        $("#BillDisplayModal").modal();

    });


    var editmodaldiv = $("#edit-modal-div");
    $(".editBtn").on("click", function () {

        var eid = $(this).data('id');
        var business_name = $(this).data('busi_name');
        var category = $(this).data('cust_category');
        var bill_amount = $(this).data('amount');
        var date = $(this).data('date_bill');
        var bill_tags_list = JSON.parse("[" + $(this).data('bill_tags_list') + "]");
        remarks = $(this).data('remarks');
        edit_custom_business = $(this).data('edit_custom_business')
        $('#enid').val(eid);

        if($(this).data('bill') != ""){
            $('#editfile_available').val(1);
        }

        if(business_name != ""){
            $("#edit_business option[value="+business_name+"]").prop("selected",true).trigger("change")
        }

        if(category != ""){
            $("#edit_category option[value="+category+"]").prop("selected",true).trigger("change")
        }

        $("#edit_bill_tags").val('').trigger('change')

        if(bill_tags_list.length > 0){
            for(i = 0; i < bill_tags_list.length; i++){
                val = bill_tags_list[i]
                console.log(bill_tags_list[i])
                $("#edit_bill_tags option[value="+val+"]").prop("selected",true).trigger("change")
            }
        }

        $('#edit_custom_business').val(edit_custom_business);
        $('#edit_amount').val(bill_amount);
        $('#edit_date').val(date);
        $('#edit_remarks').val(remarks);

        if(business_name!=""){
            $("#edit_custom_business").hide();
            $("#edit_business_name").prop('disabled', false);
        }
        else{
            $("#edit_business_check").attr('checked', true);
            // document.getElementById("edit_business_check").checked = true;
            $("#edit_custom_business").show();
            $("#edit_business_name").prop('disabled', true);
        }
        $("#myEditModal").modal();

    });

    $.validator.addMethod("validDate", function(value, element) {
          var currDate = new Date();
          return Date.parse(currDate) >= Date.parse(value) ||value == "";
    }, "Please enter valid Date");
    $("#bill_form").validate({
        rules: {
            cust_bill: {
                required: true,
            },
            bill_amount: {
                required: true,
            },
            bill_date: {
                required: true,
                validDate: true
            },
        },
        // highlight: function (element) {
        //     $(element).addClass("c1");
        // },
        // unhighlight: function (element) {
        //     $(element).removeClass("c1");
        // },
        messages: {
            cust_bill: {
                required: "Bill is Required",
            },
            bill_amount: {
                required: "Bill Amount is Required",
            },
            bill_date: {
                required: "Bill Date is Required",
            },
        }
    });


    $.validator.addMethod("validDate", function(value, element) {
          var currDate = new Date();
          return Date.parse(currDate) >= Date.parse(value) ||value == "";
    }, "Please enter valid Date");
    $("#addbilleditform").validate({
        rules: {
            editfile:{
                required: function(element){
                    return $("#editfile_available").val() != 1;
                }
            },
            edit_amount: {
                required: true,
            },
            edit_date: {
                required: true,
                validDate: true
            }
        },
        highlight: function (element) {
            $(element).addClass("c1");
        },
        unhighlight: function (element) {
            $(element).removeClass("c1");
        },
        messages: {
            editfile: {
                required: "Bill is Required",
            },
            edit_amount: {
                required: "Bill Amount is Required",
            },
            edit_date: {
                required: "Bill Date is Required",
            },
        }
    });

     if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}


    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });



        // $('#add-row').DataTable({
        //     dom: 'lBfrtip',
        //     "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        //     buttons: [
        //         'excel', 'pdf', 'print'
        //     ]
        // });

        $(document).ready(function() {

            
            $('#add-row').DataTable( {dom: 'lBfrtip',
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            buttons: [
                'excel', 'pdf', 'print'
            ],
                initComplete: function () {
                    this.api().columns([1, 2]).every( function () {
                        var column = this;
                        console.log(column[0][0])
                        console.log("#test_" + column[0][0])
                        
                        var select = $('<select multiple="multiple" id="column_id_' + column[0][0] + '"><option value=""></option></select>')
                            // var id = "#test_" + column[0][0];

                            .appendTo( $("#test_" + column[0][0]).empty() )
                            // .appendTo( $(column.header()).empty() )
                            .on( 'change', function () {

                                // var val = $.fn.dataTable.util.escapeRegex(
                                //     $(this).val()
                                // );

                                var val = $(':selected', select).map(function(index, element) {
                                return $.fn.dataTable.util.escapeRegex($(this).val());
                                }).toArray().join('|');
                                 
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
        
                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );

                    
                }
            });
            $("#column_id_1").select2({
                placeholder:" Select Store",
                closeOnSelect: true,
                width: '100%',
                // allowClear: true
            })
            $("#column_id_2").select2({
                placeholder:" Select Bill Category",
                closeOnSelect: true,
                width: '100%',
                // allowClear: true
            })
        });
    });

    $(function() {
        $('.DeleteBillBtn').on('click', function(e) {
          e.preventDefault();
            Swal.fire({
              title: 'Are you sure?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes'
            }).then((result) => {
              if (result.isConfirmed) {
                var id = $(this).attr("data-id");
                $.ajax({
                  type: "POST",
                  url: "/delete-customer-bill/"+id+"/",
                  data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                  success: function(response) {
                      if(response["status"] == "success"){
                        Swal.fire({
                                title:'Deleted!',
                        text:'Bill has been deleted',
                        icon:'success',
                        timer:1500,
                        showConfirmButton:false,
                            })
                        .then(function() {
                        location.reload();
                        });
                      }
                      else if(response["status"] == "error"){
                        Swal.fire({
                        icon:"error",
                        title: "Oops...", 
                        text: "Fail to Delete!", 
                        confirmButtonClass: "btn-success",
                        allowOutsideClick: false,
                        allowEscapeKey: false
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                      else{
                        Swal.fire({
                        icon:"error",
                        title: "Oops...", 
                        text: "Something went wrong!", 
                        confirmButtonClass: "btn-success",
                        allowOutsideClick: false,
                        allowEscapeKey: false
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                  },
                  error: function() {
                    Swal.fire({
                      icon:"error",
                      title: "Oops...", 
                      text: "Something went wrong!", 
                      confirmButtonClass: "btn-success",
                      allowOutsideClick: false,
                      allowEscapeKey: false
                    })
                      .then(function() {
                        location.reload();
                      });       
                  }
              });
              }
            })
        });
      });
</script>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}