{% extends "layouts/merchant-base.html" %}
{% load custom_tags %}
{% block title %} Received Payments {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
      color: red;
      display: flex;
      justify-content: center;
      font-size: 25px;
      font-weight: 500;
    }
  
</style>

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Received Payments</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/merchant-index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Payments</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/merchant-received-payments/">Received Payments</a>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>

                    {% if is_merchant == True %}
                    <form method="POST" action="/merchant-received-payments/" id="received_payments_filter_form">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-md-2"></div> 
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label>From Date <span style="color: red;"> *</span></label>
                                  <input name="from_date" id="from_date" type="date" class="form-control datepicker" value="{{from_date}}" max="{% now 'Y-m-d' %}">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label>To Date <span style="color: red;"> *</span></label>
                                  <input name="to_date" id="to_date" type="date" class="form-control datepicker" value="{{to_date}}" >
                              </div>
                          </div>
                          
                          <div class="col-md-2" style="padding-top: 2.7%;">
                              <div class="form-group">
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                              </div>
                          </div>
                          <div class="col-md-12 text-center" id="billInfoFilterError" style="font-size: 20px">
                          </div>
                      </div>
                    </form>
                      <input type="hidden" value="1" name="access_permission" id="access_permission">
                      <div class="card-body">
                        <div class="row align-items-center justify-content-center">
                          <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round">
                              <div class="card-body ">
                                <div class="row align-items-center">
                                  <div class="col-icon">
                                    <div class="icon-big text-center icon-primary bubble-shadow-small">
                                      <i class="fas fa-rupee-sign"></i>
                                    </div>
                                  </div>
                                  <div class="col col-stats ml-3 ml-sm-0">
                                    <div class="numbers">
                                      <p class="card-category">Total Payment Received</p>
                                      <h4 class="card-title">{{total_payment|floatformat:2}}</h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round">
                              <div class="card-body">
                                <div class="row align-items-center">
                                  <div class="col-icon">
                                    <div class="icon-big text-center icon-success bubble-shadow-small">
                                      <i class="fas fa-list-ol"></i>
                                    </div>
                                  </div>
                                  <div class="col col-stats ml-3 ml-sm-0">
                                    <div class="numbers">
                                      <p class="card-category">Total Payment Received Count</p>
                                      <h4 class="card-title">{{total_payments_count}}</h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                            <table id="add-row" class="display table table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Mobile Number</th>
                                        <th>Transaction Id</th>
                                        <th>Payment Date</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                </tfoot>
                                <tbody>
                                    {% for payment in received_payments %}
                                      <tr>
                                          <td>{{ forloop.counter }}</td>
                                          <td>{% if payment.mobile_no %}{{ payment.mobile_no }}{% else %}Green Bill{% endif %}</td>
                                          <td>{{ payment.transaction_id }}</td>
                                          <td>{{ payment.payment_date|date:'d-m-Y'}}</td>
                                          <td> ₹ {{ payment.amount|floatformat:2 }}</td>
                                          <td>{{ payment.description }}</td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                      {% for actions in merchant_action_permissions_list %}
                        {% if actions.module_id|lower == "Payments"|lower and actions.feature_id|lower == "Received Payments"|lower %}
                          {% if actions.view_permission == "1" or actions.add_permission == "1" or actions.edit_permission == "1" or actions.delete_permission == "1" %}
                              <form method="POST" action="/merchant-received-payments/" id="received_payments_filter_form">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-md-2"></div> 
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label>From Date</label>
                                  <input name="from_date" id="from_date" type="date" class="form-control datepicker" value="{{from_date}}" max="{% now 'Y-m-d' %}">
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label>To Date</label>
                                  <input name="to_date" id="to_date" type="date" class="form-control datepicker" value="{{to_date}}" max="{% now 'Y-m-d' %}">
                              </div>
                          </div>
                          <div class="col-md-12 text-center" id="billInfoFilterError" style="font-size: 20px">
                          </div>
                          <div class="col-md-12">
                              <div class="text-center mt-3 mb-3">
                                  <button type="submit" class="btn btn-primary">Search</button>
                              </div>
                          </div>
                      </div>
                    </form>
                      <input type="hidden" value="1" name="access_permission" id="access_permission">
                      <div class="card-body">
                        <div class="row align-items-center justify-content-center">
                          <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round">
                              <div class="card-body ">
                                <div class="row align-items-center">
                                  <div class="col-icon">
                                    <div class="icon-big text-center icon-primary bubble-shadow-small">
                                      <i class="fas fa-rupee-sign"></i>
                                    </div>
                                  </div>
                                  <div class="col col-stats ml-3 ml-sm-0">
                                    <div class="numbers">
                                      <p class="card-category">Total Payment Received</p>
                                      <h4 class="card-title">{{total_payment|floatformat:2}}</h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4">
                            <div class="card card-stats card-round">
                              <div class="card-body">
                                <div class="row align-items-center">
                                  <div class="col-icon">
                                    <div class="icon-big text-center icon-success bubble-shadow-small">
                                      <i class="fas fa-list-ol"></i>
                                    </div>
                                  </div>
                                  <div class="col col-stats ml-3 ml-sm-0">
                                    <div class="numbers">
                                      <p class="card-category">Total Payment Received Count</p>
                                      <h4 class="card-title">{{total_payments_count}}</h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                            <table id="add-row" class="display table table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Mobile Number</th>
                                        <th>Transaction Id</th>
                                        <th>Payment Date</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                </tfoot>
                                <tbody>
                                    {% for payment in received_payments %}
                                      <tr>
                                          <td>{{ forloop.counter }}</td>
                                          <td>{% if payment.mobile_no %}{{ payment.mobile_no }}{% else %}Green Bill{% endif %}</td>
                                          <td>{{ payment.transaction_id }}</td>
                                          <td>{{ payment.payment_date|date:'d-m-Y'}}</td>
                                          <td> ₹ {{ payment.amount|floatformat:2 }}</td>
                                          <td>{{ payment.description }}</td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      <div class="card-body permission-denied" style="display:none">
                        <div class="permission-denied">Permission Denied</div> 
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        document.getElementById("from_date").onchange = function () {
        var input = document.getElementById("to_date");
        input.setAttribute("min", this.value);
      }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
  $.validator.addMethod("validDate", function(value, element) {
        var currDate = new Date();
        return Date.parse(currDate) >= Date.parse(value) ||value == "";
    }, "Please enter valid Date");


jQuery.validator.addMethod("greaterStart", function (value, element, params) {
    return this.optional(element) || new Date(value) >= new Date($(params).val());
},'Must be greater than from date.');

$("#received_payments_filter_form").validate({
        rules: {
            from_date: {
                required: true,
                validDate: true
            },
            to_date: {
                required: true,
                validDate: true,
                greaterStart: "#from_date"
            },
        },
        messages: {
            from_date: {
                required: "From Date is Required",
            },
            to_date: {
                required: "To Date is Required",
            },
        }
    });

  $(document).ready(function() {
// $('input[name=to_date]').change(function() {
//         var to_date = $('#to_date').val();
//         document.getElementById('from_date').setAttribute("max", to_date);
// })

// $('input[name=from_date]').change(function() {
//   var from_date = $('#from_date').val();
//     document.getElementById('to_date').setAttribute("min", from_date);
// })
})

if (window.history.replaceState) {
  window.history.replaceState(null, null, window.location.href);
}



$( "#received_payments_filter_form").validate({
rules: {
  // user: {
  //   required: function (element) {
  //       return $("#user_id").val() == "" && $("#from_date").val() == "" && $("#to_date").val() == "";
  //     }
  // },
  // from_date: {
  //     required: function (element) {
  //       return $("#user_id").val() == "" && $("#from_date").val() == "" && $("#to_date").val() == "";
  //     }
  // },
  // to_date: {
  //     required: function (element) {
  //       return $("#user_id").val() == "" && $("#from_date").val() == "" && $("#to_date").val() == "";
  //     }
  // },
},
messages: {
  user: "Please Select at least one filter.",
  from_date: "Please Select at least one filter.",
  to_date: "Please Select at least one filter.",
},
errorPlacement: function (error, element) {
      if (element.attr("name") == "user")
          $("#billInfoFilterError").html(error);
      if (element.attr("name") == "from_date")
          $("#billInfoFilterError").html(error);
      if (element.attr("name") == "to_date")
          $("#billInfoFilterError").html(error);      
  }
});






</script>
<script>
  $(document).ready(function() {
    var access_permission = $('#access_permission').val();
    if(access_permission == 1)
    {
      $(".permission-denied").hide();
    }
    else
    {
      $(".permission-denied").show();
    }
  });
</script>
<script>
jQuery.validator.addMethod("mobile_number", function(value, element){
		if (/^[6-9][0-9]{9}$/.test(value)) {
        return true;   // PASS validation when REGEX matches
		} else {
			return false;  // FAIL validation
		};
    }, "Please enter valid Mobile Number");
    
$( "#create_payment_link" ).validate({
  rules: {
    mobile_no: {
      required: true,
      mobile_number: true,
      maxlength: 10,
      minlength: 10,
      digits: true
    },
    email:{
        required: true,
        email: true
    },
    name: {
        required: true,
        minlength:3,
    },
    amount: {
        required: true,
        min:1
    },
    description: {
        required: true
    }
  },
  messages: {
    mobile_no: {
        required: "Mobile Number field is required.",
        maxlength: "Mobile Number must contain 10 digits.",
        minlength: "Mobile Number must contain 10 digits.",
        digits: "Only digits are acceptable."
    },
    email: "Email filed is required.",
    name: "Name field is required.",
    description: "Description field is required."
  },
});

  
$(function() {
    $('.deletePaymentLinkBtn').on('click', function(e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "POST",
                url: "/merchant-delete-payment-link/"+id+"/",
                data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                success: function(response) {

                    if(response['success'] == true){
                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Payment Link deleted Successfully',
                            icon: 'success',
                            timer: 1500,
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        })
                        .then(function() {
                            location.reload();
                        });
                    }
                    else{
                        Swal.fire({
                            icon:"error",
                            title: "Oops...", 
                            text: "Fail to delete Link.", 
                            timer: 1500,
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        })
                        .then(function() {
                            location.reload();
                        });
                    }
                
                },
                error: function() {
                    Swal.fire({
                        icon:"error",
                        title: "Oops...", 
                        text: "Something went wrong!", 
                        confirmButtonClass: "btn-success",
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                    .then(function() {
                    location.reload();
                    });       
                }
            });
            }
        })
    });
});


</script>

{% endblock content %}

{% block javascripts %}

	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {

            $('#add-row').DataTable( {
                dom: 'lBfrtip',
                "ordering": false,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                   'excel', 'pdf', 'print'
                ]
            } );

		});
	</script>

{% endblock javascripts %}
