{% extends "layouts/base.html" %} {% block title %} Green Points Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Promotions Amount</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Settings</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/add-promotions-amount/">Promotions Amount</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-control" action="/add-promotions-amount/" method="POST" id="form" autocomplete="off">
                            {% csrf_token %}
                            <div class="card-body align-items-center">
                                <div class="row">
                                    <div class="col-md-3" style="margin-left: 38%">
                                        <div class="form-group form-show-validation">
                                            <label for="name">Offers Amount per user</label><small>
                                            <input type="text" class="form-control" id="offers_amount" name="offers_amount" placeholder="Offers Amount" value="{{data.offer_amount}}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="margin-left: 38%">
                                        <div class="form-group">
                                            <label for="name">Coupon Amount per user</label>
                                            <input type="text" class="form-control" id="coupon_amount" name="coupon_amount" placeholder="Coupon Amount" value="{{data.coupon_amount}}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="margin-left: 38%">
                                        <div class="form-group">
                                            <label for="name">Third Party Ads Below Bill Charge</label>
                                            <input type="text" class="form-control" id="third_party_ads_amount" name="third_party_ads_amount" placeholder="Ads Below Bill Amount" value="{{data.third_party_ads_belowbill_amount}}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="margin-left: 38%">
                                        <div class="form-group">
                                            <label for="name">Green Bill Ads Below Bill Amount per Bill</label>
                                            <input type="text" class="form-control" id="green_bill_ads_amount" name="green_bill_ads_amount" placeholder="Ads Below Bill Amount" value="{{data.green_bill_ads_belowbill_amount}}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-3 mb-3">
                                  <button type="submit" class="btn btn-primary">Update</button>
                                </div>                                
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script>

    $.validator.addMethod('zero', function(value) {
        return parseFloat(value) > -1;
    }, 'Amount Must be equal to zero or greater than zero');

    $("#form").validate({
        rules: {
            third_party_ads_amount: {
                required: true,
                number:true,
                maxlength: 5,
                zero: true,
            },
            offers_amount: {
                required: true,
                number:true,
                maxlength: 5,
                zero: true,
            },
            coupon_amount: {
                required: true,
                number:true,
                maxlength: 5,
                zero: true,
            },
            green_bill_ads_amount: {
                required: true,
                number:true,
                maxlength: 5,
                zero: true,
            },
            
        },
        messages: {
            third_party_ads_amount: {
                required: "This field is required",
                number: "Please enter numbers Only",
                maxlength: "please enter only 5 numbers of amount",
            }, 
            offers_amount: {
                required: "This field is required",
                number: "Please enter numbers Only",
                maxlength: "please enter only 5 numbers of amount",
            },
            coupon_amount: {
                required: "This field is required",
                number: "Please enter numbers Only",
                maxlength: "please enter only 5 numbers of amount",
            },
            green_bill_ads_amount: {
                required: "This field is required",
                number: "Please enter numbers Only",
                maxlength: "please enter only 5 numbers of amount",
            },
        },
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}