{% extends "layouts/base-fullscreen.html" %}

{% block title %} Email Verification {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="page-inner">
        <div class="row">
            <div class="col-md-12" style="padding: 5%">
            	<h1 style="color: #63b90b; text-align: center;">Thank you for choosing GreenBill.</h1>
            	<h2 style="color: #00569D; text-align: center;">Email Verified Successfully.</h2>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}