{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <style>
    
        @media only screen and (max-width: 600px) {
            #login-img {
                display: none !important;
            }
        }

    </style>

    <div class="page-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                Merchant Registration
                            </span>
                        </div>
                    </div>

                    <form method="post" action="" autocomplete="off" id="register_form">

                        {% csrf_token %}

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-phone"></i>
                                                        </span>
                                                    </div>
                                                    {{ form.mobile_no }}
                                                    
                                                </div>
                                                <div id="mobilenoError"></div>
                                              
                                                <!-- {% if form.mobile_no.errors is not None %}
                                                    <span class="text-danger">This mobile number is Already used, if you still want to use this number please select below check box.</span>
                                                {% endif %} -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-envelope"></i>
                                                        </span>
                                                    </div>
                                                    {{form.m_email}}
                                                   
                                                </div>
                                                <div id="emailError"></div>
                                            </div>
                                             
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-user"></i>
                                                        </span>
                                                    </div>
                                                    {{ form1.m_business_name }}
                                                    
                                                </div>
                                                <div id="bussinessnameError"></div>
                                                <!-- {% if form.mobile_no.errors is not None %}
                                                    <span class="text-danger">This mobile number is Already used, if you still want to use this number please click on Save</button></span>
                                                {% endif %} -->
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-list"></i>
                                                        </span>
                                                    </div>
                                                    {{ form1.m_business_category }}
                                                    
                                                </div>
                                                <div id="bussinesscategoryError"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-location-pin"></i>
                                                        </span>
                                                    </div>
                                                    <select name="m_state" class="form-control" id="id_m_state">
                                                      <option disabled selected value>Select State *</option>
                                                      {% for object in States %}
                                                      <option value="{{object.state}}">{{object.state}}</option>
                                                      {% endfor %}
                                                      
                                                    </select>
                                                   
                                                </div>
                                                 <div id="stateError"></div>
                                            </div>     
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-location-pin"></i>
                                                        </span>
                                                    </div>
                                                    <select name="m_city" placeholder="City *" class="form-control" required="" id="id_m_city" aria-required="true">
                                                        <option disabled selected value>Select City *</option>
                                                    </select>
                                                     
                                                </div>
                                                <div id="cityError"></div>
                                            </div>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-location-pin"></i>
                                                        </span>
                                                    </div>
                                                    {{ form1.m_district }}
                                                    
                                                </div>
                                                <div id="districtError"></div>
                                            </div>
                                             
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-location-pin"></i>
                                                        </span>
                                                    </div>
                                                    {{ form1.m_area }}
                                                    
                                                </div>
                                                <div id="areaError"></div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-location-pin"></i>
                                                        </span>
                                                    </div>
                                                    {{ form1.m_pin_code }}
                                                   
                                                </div>
                                                 <div id="pincodeError"></div>
                                            </div>
                                             
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-user-follow"></i>
                                                        </span>
                                                    </div>
                                                    {{ form1.m_used_referral_code }}
                                                    
                                                </div>
                                                <div id="areaError"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-lock"></i>
                                                        </span>
                                                    </div>
                                                    {{ form.password1 }}
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <span toggle="#password-field" class="fa fa-fw field-icon toggle-password fa-eye-slash" id="password-toggle"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="password1Error"></div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-lock"></i>
                                                        </span>
                                                    </div>
                                                    {{ form.password2 }}
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <span toggle="#password-field" class="fa fa-fw field-icon toggle-password fa-eye-slash" id="confirm-password-toggle"></span>
                                                        </span>
                                                    </div> 
                                                </div>
                                                <div id="password2Error"></div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" name="term_and_condition">
                                                            I Accept the <a href="http://www.greenbill.in/terms-conditions/" target="_blank">Terms & Conditions</a> and <a href="http://www.greenbill.in/privacy-policy-2/" target="_blank">Privacy Policy</a>
                                                    </label>

                                                </div>
                                                <span id="termconditionError"></span>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            &nbsp; &nbsp;
                            <span>Already have an account?</span> <a href="{% url 'merchant login' %}" >Login</a>
                        </div>

                    </form>

                </div>
            </div>
            <div class="col-md-6" style="padding: 3%;">
                <img class="img-fluid" src="http://157.230.228.250/media/web-panel/merchant-registration-design-website.png" id="login-img">
            </div>
        </div>
    </div>


<!-- OTP Modal -->
<div class="modal fade" id="myOtpModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <form method="POST" class="form" id="otp_validation" autocomplete="off">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Please check your registered Mobile Number</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="mobile_no" id="mobile_no" value="">
                    <input type="hidden" name="m_email" id="m_email" value="">
                    <div class="form-group">
                        <label for="name">OTP <small style="color: red;"> *</small></label>
                        <input type="text" name="otp" class="form-control" id="otp">
                        <span class="text-danger" id="otp_error"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="otp_submit" type="submit" class="btn btn-primary" value="Validate">
                    <button type="button" class="btn btn-dark" id="btn_resend">Resend</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- OTP Modal End -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

        $("#id_m_state").on('change', function()
        {

            var state = $("#id_m_state").val()

            $.ajax({
                type: "POST",
                url: "/get-user-city-by-state/",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    'state': state
                },
                success: function(result){
                    $("#id_m_city").empty();
                    var empty = ""
                    $('#id_m_city').append("<option value='" + empty + "' disabled selected value>" + "Select City *" + "</option>");
                    $.each(result.data, function (key, value) {
                        $('#id_m_city').append("<option value='" + value + "'>" + value + "</option>");
                    });
                }
            });

        })
    })
</script>
<script>
    jQuery.validator.addMethod("uppercase_val", function(value, element){
		if (/[A-Z]{1}/.test(value)) {
        return true;   // PASS validation when REGEX matches
		} else {
			return false;  // FAIL validation
		};
	}, "Password must contain at least 1 upper case letter."); 

	jQuery.validator.addMethod("number_val", function(value, element){
		if (/[0-9]{1}/.test(value)) {
        return true;   // PASS validation when REGEX matches
		} else {
			return false;  // FAIL validation
		};
	}, "Password must contain at least 1 number."); 

	jQuery.validator.addMethod("specialchar_val", function(value, element){
		if (/(?=.*[ -\/:-@\[-\`{-~]{1,})/.test(value)) {
        return true;   // PASS validation when REGEX matches
		} else {
			return false;  // FAIL validation
		};
    }, "Password must contain at least 1 special character."); 
    
    jQuery.validator.addMethod("mobileno", function(value, element){
		if (/^([0]|\+91)?[6789]\d{9}$/.test(value)) {
        return true;   // PASS validation when REGEX matches
		} else {
			return false;  // FAIL validation
		};
    }, "Please enter valid mobile number.");

    jQuery.validator.addMethod("lettersonly", function(value, element) {
        return this.optional(element) || /^[a-z]+$/i.test(value);
    }, "Only characters required"); 
     $.validator.addMethod("emailValidate", function(value, element) {
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      return this.optional(element) || emailReg.test(value);
  }, "Please enter valid email id");

    $( "#register_form" ).validate({
    rules: {
        mobile_no: {
            required: true,
            mobileno: true,
            maxlength: 10,
            minlength: 10,
        },
        m_email: {
            email: true,
            required: true,
            emailValidate: true,
        },
        m_business_name: {
            required: true,
            minlength: 10,
            minlength: 3
        },
        m_business_category: {
            required: true
        },
        m_city: {
            required: true,
        },
        m_area: {
            required: true,
        },
        m_district: {
            required: true,
            // lettersonly: true
        },
        m_state: {
            required: true,
        },
        m_pin_code: {
            required: true,
            digits: true,
            minlength: 6,
            maxlength: 6,
        },
        password1: {
            required: true,
            // uppercase_val: true,
            // number_val: true,
            // specialchar_val: true,
            minlength: 8,
		},
        password2: {
            required: true,
            equalTo : "#id_password1"
        },
        term_and_condition:
        {
            required:true,
        }
    },
    messages: {
        mobile_no: {
            required: "Mobile Number field is required.",
            mobileno: "Please enter valid mobile number.",
            maxlength: "Mobile number must contain 10 numbers.",
            minlength: "Mobile number must contain 10 numbers."
        },
        m_email: {
            required: "Email field is required.",
            email: "Please enter valid email id"
        },
        m_business_name: "Business Name field is required.",
        m_business_category: "Business Category field is required.",
        m_gstin: "GSTIN field is required.",
        m_district: "District field is required.",
        m_city: "City field is required.",
        m_state: "State field is required.",
        m_pin_code: {
            required: "Pin Code field is required.",
            minlength: "Invalid Pin Code",
            maxlength: "Invalid Pin Code",
        },
        password1: {
            required: "Password field is required.",
            minlength: "This password is too short. It must contain at least {0} characters."
        },
        password2: {
            required: "Confirm Password field is required",
            equalTo: "Password and Confirm Password must be the same.",
        },
        term_and_condition:{
            required:"Please Accept Terms of service and Privacy Policy"
        }
    },errorPlacement: function (error, element) {
            if (element.attr("name") == "term_and_condition")
                $("#termconditionError").html(error);
            if (element.attr("name") == "mobile_no")
                $("#mobilenoError").html(error);
            if (element.attr("name") == "m_email")
                $("#emailError").html(error);
            if (element.attr("name") == "m_business_name")
                $("#bussinessnameError").html(error);
            if (element.attr("name") == "m_business_category")
                $("#bussinesscategoryError").html(error);
            if (element.attr("name") == "m_gstin")
                $("#gstinError").html(error);
            if (element.attr("name") == "m_district")
                $("#districtError").html(error);
            if (element.attr("name") == "m_city")
                $("#cityError").html(error);
            if (element.attr("name") == "m_state")
                $("#stateError").html(error);
            if (element.attr("name") == "m_pin_code")
                $("#pincodeError").html(error);
            if (element.attr("name") == "password1")
                $("#password1Error").html(error);
            if (element.attr("name") == "password2")
                $("#password2Error").html(error);
            if (element.attr("name") == "m_area")
                $("#areaError").html(error);

        },
    submitHandler: function() {
        $("#otp_validation")[0].reset();
        $("#otp_error").empty();
        $.ajax({
            type: "POST",
            url: "{% url 'validate mobile no' %}",
            data: $('#register_form').serialize() + "&validating_for=merchant",
            success: function(response) {

                if(response.status == "success")
                {
                    $.ajax({
                    type: "POST",
                    url: "/merchant-validate-referral-code/",
                    data: $('#register_form').serialize() + "&validating_for=merchant",
                    beforeSend: function () {
                        swal.fire({
                            imageUrl: '../../../media/loading.gif',
                            showConfirmButton: false,
                            confirmButtonClass: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                        });
                        $(".swal2-modal").css('background-color', 'transparent');
                    },
                    success: function(response) {

                        if(response.status == "success"){
                                $.ajax({
                                type: "POST",
                                url: "/generate-otp-merchant/",
                                data: $('#register_form').serialize(),
                                beforeSend: function () {
                                    swal.fire({
                                        imageUrl: '../../../media/loading.gif',
                                        showConfirmButton: false,
                                        confirmButtonClass: false,
                                        allowOutsideClick: false,
                                        allowEscapeKey: false,
                                    });
                                    $(".swal2-modal").css('background-color', 'transparent');
                                },
                                success: function(response) {

                                    swal.close();
                                    if(response.status == "success")
                                    {
                                        $("#mobile_no").val(response.mobile_no);
                                        $("#m_email").val(response.m_email);
                                        $("#myOtpModal").modal("show"); 
                                    }
                                    else if (response.status == "error"){
                                        swal.fire({
                                            icon: "error",
                                            title: "Error!",
                                            text: response.msg,
                                            type: "error",
                                            confirmButtonClass: "btn-error/",
                                            timer:1500,
                                            showConfirmButton:false,
                                            allowOutsideClick: false,
                                            allowEscapeKey: false
                                        }).then(function () {
                                            location.reload();
                                        });
                                    }
                                }
                                });
                            }
                            else if(response.status == "fail")
                            {
                                swal.fire({
                                    icon:"warning",
                                    title: "Warning!",
                                    text: response.msg,
                                    type: "Warning",
                                    confirmButtonClass: "btn-success",
                                    timer:1500,
                                    showConfirmButton:false,
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                })
                            }

                        }
                    });

                    
                }
                else if(response.status == "fail")
                {
                    swal.fire({
                        icon:"warning",
                        title: "Warning!",
                        text: response.msg,
                        type: "Warning",
                        confirmButtonClass: "btn-success",
                        timer:1500,
                        showConfirmButton:false,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                }
            }        
        });
    }
});


$("#btn_resend").click(function(){
        $('#otp').val("");
        $.ajax({
                type: "POST",
                url: "/generate-otp-merchant/",
                data: $('#otp_validation').serialize(),
                beforeSend: function () {
                        swal.fire({
                            imageUrl: '../../../media/loading.gif',
                            showConfirmButton: false,
                            confirmButtonClass: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                        });
                        $(".swal2-modal").css('background-color', 'transparent');
                },
                success: function (response) {
                    if (response.status == "success") {
                        swal.fire({
                                icon: "success",
                                title: "Success!",
                                text: "Otp Sent Successfully !!!",
                                type: "success",
                                confirmButtonClass: "btn-success",
                                timer:1500,
                                showConfirmButton:false,
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then(function () {
                                $("#mobile_no").val(response.mobile_no);
                                $("#m_email").val(response.m_email);
                                $("#myOtpModal").modal("show");
                            });
                        
                    } else if (response.status == "error"){
                            swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: response.msg,
                                type: "error",
                                confirmButtonClass: "btn-error/",
                                timer:1500,
                                showConfirmButton:false,
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then(function () {
                                location.reload();
                            });
                    }
                },
                error: function () {

                    swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong!",
                        confirmButtonClass: "btn-success",
                        timer:1500,
                        showConfirmButton:false,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                        .then(function () {
                            location.reload();
                        });
                },
                complete: function (data) {
                    // Hide image container
                    $("#loader").hide();
                },
            });
    });



// $("#otp_validation").validate({
// rules: {
//     otp: {
//         required: true,
//         digits: true
//     },
// },
// messages: {
//     otp: {
//         required: "OTP is required.",
//         digits: "Only Number is acceptable."
//     },
// },
// submitHandler: function () {
//     $.ajax({
//     type: "POST",
//     url: "/validate-register-otp/",
//     data: $('#otp_validation').serialize(),
//     beforeSend: function () {
//         swal.fire({
//             imageUrl: '../../../media/loading.gif',
//             showConfirmButton: false,
//             confirmButtonClass: false,
//             allowOutsideClick: false,
//             allowEscapeKey: false,
//         });
//         $(".swal2-modal").css('background-color', 'transparent');
//     },
//     success: function (response) {
//         if(response.status == "success"){
//             $.ajax({
//                     type: "POST",
//                     url: "/merchant-register/",
//                     data: $('#register_form').serialize(),
//                     success: function(response) 
//                     {
//                         if(response.status == "success")
//                         {
//                             swal.fire({
//                             icon:"success",
//                             title: "Success!",
//                             text: "Congratulations on becoming Green Bill Merchant!!!",
//                             type: "success",
//                             confirmButtonClass: "btn-success",
//                             timer:1500,
//                             showConfirmButton:false,
//                             allowOutsideClick: false,
//                             allowEscapeKey: false
//                             })
//                             .then(function() {
//                                 location.replace("/merchant-login/");
//                             });
//                         }
//                     }
//             });
//         }
//         else if(response.status == "error"){
//             var errorDiv = '#' + 'otp' + '_error';
//             $(errorDiv).empty().append("Wrong Otp");
//         }  
//     },
//     error: function () {
//         $('#myModal').modal('hide');
//         swal.fire({
//             icon: "error",
//             title: "Oops...",
//             text: "Something went wrong!",
//             confirmButtonClass: "btn-success",
//             timer:1500,
//             showConfirmButton:false,
//             allowOutsideClick: false,
//             allowEscapeKey: false
//         })
//             .then(function () {
//                 location.reload();
//             });
//     },
// });
// }
// })


$("#otp_validation").validate({
rules: {
    otp: {
        required: true,
        digits: true
    },
},
messages: {
    otp: {
        required: "OTP is required.",
        digits: "Only Number is acceptable."
    },
},
submitHandler: function () {
    $.ajax({
    type: "POST",
    url: "/validate-register-otp/",
    data: $('#otp_validation').serialize(),
    success: function (response) {
        if(response.status == "success"){
            $.ajax({
                    type: "POST",
                    url: "/merchant-register/",
                    data: $('#register_form').serialize(),
                    beforeSend: function () {
                        swal.fire({
                            imageUrl: '../../../media/loading.gif',
                            showConfirmButton: false,
                            confirmButtonClass: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                        });
                        $(".swal2-modal").css('background-color', 'transparent');
                    },
                    success: function(response) 
                    {
                        if(response.status == "success")
                        {
                            swal.fire({
                            icon:"success",
                            title: "Success!",
                            text: "User addded.",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            timer:1500,
                            showConfirmButton:false,
                            allowOutsideClick: false,
                            allowEscapeKey: false
                            })
                            .then(function() {
                                location.href="http://157.230.228.250/merchant-login/";
                            });
                        }
                    }
            });
        }
        else if(response.status == "error"){
            var errorDiv = '#' + 'otp' + '_error';
            $(errorDiv).empty().append("Wrong Otp");
        }  
    },
    error: function () {
        $('#myModal').modal('hide');
        swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Something went wrong!",
            confirmButtonClass: "btn-success",
            timer:1500,
            showConfirmButton:false,
            allowOutsideClick: false,
            allowEscapeKey: false
        })
            .then(function () {
                location.reload();
            });
    },
});
}
})
// $( document ).ready(function() {
//     $("#id_m_state").prop("readonly", true);
//     $("#id_m_city").prop("readonly", true);
//     $("#id_m_district").prop("readonly", true);
// });

// $(document).ready(function() {
//     $("#id_m_pin_code").keyup(function() {
//         var pincode= $('#id_m_pin_code').val();
//         if(pincode.length == 6){

//             $.ajax({
//                 url: "https://api.postalpincode.in/pincode/"+pincode,
//                 cache: false,
//                 dataType: "json",
//                 type: "GET",
//                 success: function(data) {
//                     $("#id_m_state").prop("readonly", false);
//                     $("#id_m_city").prop("readonly", false);
//                     $("#id_m_district").prop("readonly", false);
//                     state = data['0']['PostOffice'][0]['State']
//                     city = data['0']['PostOffice'][0]['Region']
//                     district = data['0']['PostOffice'][0]['District']
//                     $('#id_m_state').val(state)
//                     $('#id_m_city').val(city)
//                     $('#id_m_district').val(district)
//                 }
//             })
//         }
//         else{
//             $('#id_m_state').val("")
//             $('#id_m_city').val("")
//             $('#id_m_district').val("")
//             $("#id_m_state").prop("readonly", true);
//             $("#id_m_city").prop("readonly", true);
//             $("#id_m_district").prop("readonly", true);
//         }
//     })
// })



</script>

<script type="text/javascript">
    $("#password-toggle").click(function() {
        $(this).toggleClass("fa-eye-slash fa-eye");
        var input = document.getElementById("id_password1")
        if (input.type == "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    });

    $("#confirm-password-toggle").click(function() {
        $(this).toggleClass("fa-eye-slash fa-eye");
        var input = document.getElementById("id_password2")
        if (input.type == "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    });
</script>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
