{% extends "layouts/merchant-base.html" %}

{% block title %} Change Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Change User Password</h4>
                             <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/merchant-index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>

                                <li class="nav-item">
                                    <a>My Team</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>

                                <li class="nav-item">
                                    <a href="/change-user-password/">Change User Password</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if is_merchant == True %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="add-row" class="display table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Name</th>
                                            <th>Mobile Number</th>

                                            <th>Email</th>

                                            <th>Change Password</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                    </tfoot>
                                    <tbody>
                                        {% for object in user_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.user_id.first_name }} {{ object.user_id.last_name }}</td>
                                            <td>{{ object.user_id.mobile_no }}</td>

                                            <td>{{ object.user_id.m_email }}</td>


                                            <td>
                                                <div class="form-button-action">


                                                    {% if object.user_id.is_merchant != 1 %}
                                                    <button type="button" data-toggle="tooltip" title=""
                                                        class="btn btn-link btn-primary btn-lg cpassBtn"
                                                        data-original-title="Change Password"
                                                        data-url="{{object.user_id.id}}"
                                                        data-mobile_no="{{ object.user_id.mobile_no }}"
                                                        data-user_id="{{ object.user_id.id }}">
                                                        <i class="fas fa-key"></i>
                                                    </button>
                                                    {% endif %}
                                                </div>

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        {% for actions in merchant_action_permissions_list %}
                            {% if actions.module_id|lower == "My Team"|lower and actions.feature_id|lower == "Change User Password"|lower %}
                                {% if actions.view_permission == "1" %}
                                    <input type="hidden" value="1" name="access_permission" id="access_permission">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="add-row" class="display table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Name</th>
                                                        <th>Mobile Number</th>
                                                        <th>Email</th>
                                                        <th>Change Password</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                </tfoot>
                                                <tbody>
                                                    {% for object in user_list %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ object.user_id.first_name }} {{ object.user_id.last_name }}</td>
                                                        <td>{{ object.user_id.mobile_no }}</td>

                                                        <td>{{ object.user_id.m_email }}</td>


                                                        <td>
                                                            <div class="form-button-action">


                                                            {% if actions.edit_permission == "1" %}
                                                                {% if object.user_id.is_merchant != 1 %}
                                                                <button type="button" data-toggle="tooltip" title=""
                                                                    class="btn btn-link btn-primary btn-lg cpassBtn"
                                                                    data-original-title="Change Password"
                                                                    data-url="{{object.user_id.id}}"
                                                                    data-mobile_no="{{ object.user_id.mobile_no }}"
                                                                    data-user_id="{{ object.user_id.id }}">
                                                                    <i class="fas fa-key"></i>
                                                                </button>
                                                                {% endif %}
                                                            {% endif %}

                                                            </div>

                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="card-body permission-denied" style="display:none">
                            <div class="permission-denied" style="padding: 5%">Permission Denied</div> 
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<!-- Edit Role Modal -->

<div class="modal fade" id="myEditModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->

        <form method="POST" class="form" name="edit_role_form" action="/change-user-password/" autocomplete="off" id="form">
            {% csrf_token %}

            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Change User Password</h2>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="mid" id="mid" value="" />
                        <label for="name">New Password</label>
                        <input type="text" name="edit_password" class="form-control" value="" id="">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" data-id="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </form>

    </div>
</div>

<!-- Edit Role Modal End-->




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    var editmodaldiv = $("#edit-modal-div");
    $(".cpassBtn").on("click", function () {
        var id = $(this).data('user_id')
        console.log(id)

        $("#mid").val(id)
        $("#myEditModal").modal();

    });






$( "#form" ).validate({
  rules: {
    edit_password:
    {
        required:true,
        minlength:8,
    }
  },
  messages: {
    edit_password:{
        minlength : "This password is too short. It must contain at least 8 characters."

    }
    
  },
});

    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        // Add Row
        // $('#add-row').DataTable({
        //     "pageLength": 5,
        // });

        $('#add-row').DataTable({
            dom: 'lBfrtip',
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            buttons: [
                'excel', 'pdf', 'print',
            ],
            "ordering": false
        });

        // buttons: [
        //         'copy', 'csv', 'excel', 'pdf', 'print'
        //     ]

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });

</script>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}