{% extends "layouts/base-fullscreen.html" %}
{% block title %} Password Reset {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
{% load crispy_forms_tags %}
<style type="text/css">
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75) url(../../../media/loading.gif) no-repeat center center;
        z-index: 10000;
    }
    
</style>

<style>
    
    @media only screen and (max-width: 600px) {
        #login-img {
            display: none !important;
        }
    }

</style>
<div class="page-inner">
    
    <div class="row">
        <div class="col-md-5" style="padding: 5%;">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                        <span>
                            <!-- Use default credentials: <strong>test / ApS12_ZZs8</strong> -->
                        </span>
                        {% endif %}
                        <span>Password Reset</span>
                    </div>
                </div>

                <form method="post" action="" id="password_reset_form">
                    {% csrf_token %}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                {{ password_reset_form|crispy }}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'customer login' %}"><i class="fa fa-key"></i> Login</a>

                        <button type="submit" class="btn btn-primary float-right" id="submit_mail">
                            Submit
                        </button>
                        &nbsp; &nbsp;
                        
                        
                        <br />
                    </div>
                </form>

                <div class="form-group"></div>
            </div>
        </div>
        <div class="col-md-7" style="padding: 3%;">
                <img class="img-fluid" src="http://157.230.228.250/media/web-panel/forget%20password.png" id="login-img">
        </div>
    </div>
</div>
<div id="loader"></div>

<!-- OTP Modal -->
<div class="modal fade" id="myOtpModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <form method="POST" class="form" id="otp_validation" autocomplete="off">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Please check your registered Mobile Number</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="mobile_no" id="mobile_no" value="">
                    <div class="form-group">
                        <label for="name">OTP <small style="color: red;"> *</small></label>
                        <input type="text" name="otp" class="form-control" id="otp">
                        <span class="text-danger" id="otp_error"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="otp_submit" type="submit" class="btn btn-primary" value="Validate">
                    <button type="button" class="btn btn-dark" id="btn_resend">Resend</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- OTP Modal End -->

<!-- Change Password Modal -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form method="POST" class="form" id="change_password" autocomplete="off">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Change Password</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="mobile_no" id="mobile_no" value="">
                    <div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="icon-lock"></i>
							</span>
						</div>
                        <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="New Password *">
                        <div class="input-group-append">
							<span class="input-group-text">
								<span class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
							</span>
						</div>
                    </div>
                    <div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="icon-lock"></i>
							</span>
						</div>
                        <input type="password" name="cnfPassword" class="form-control" id="cnfPassword" placeholder="Confirm Password *">
                        <div class="input-group-append">
							<span class="input-group-text">
								<span class="fa fa-fw fa-eye-slash field-icon toggle-password-1"></span>
							</span>
						</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="change_password_submit" type="submit" class="btn btn-primary" value="Save">
                   <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Change Password Modal End -->

<!-- Image loader -->
<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

<script>

    $("#password_reset_form").validate({
        submitHandler: function () {
            $("#otp_validation")[0].reset();
            $("#otp_error").empty();
            $.ajax({
                type: "POST",
                url: "/generate-otp-password-customer/",
                data: $('#password_reset_form').serialize(),
                
                beforeSend: function () {
                    swal.fire({
                        imageUrl: '../../../media/loading.gif',
                        showConfirmButton: false,
                        confirmButtonClass: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,

                    });
                    $(".swal2-modal").css('background-color', 'transparent');
                }, 
                success: function (response) {
                    swal.close();
                    if (response.status == "success") {
                        $("#mobile_no").val(response.mobile_no);
                        $("#myOtpModal").modal("show");
                    } else {
                        if (response.status == "error") {
                            swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: response.msg,
                                type: "error",
                                confirmButtonClass: "btn-error/",
                                timer:1500,
                                showConfirmButton:false,
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then(function () {
                                location.reload();
                            });
                        }
                    }
                },
                error: function () {

                    swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong!",
                        confirmButtonClass: "btn-success",
                        timer:1500,
                        showConfirmButton:false,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                        .then(function () {
                            location.reload();
                        });
                },
                complete: function (data) {
                    // Hide image container
                    swal.close();
                },
            });
        }
    });
</script>
<script>
    $("#btn_resend").click(function(){
        $.ajax({
                type: "POST",
                url: "/generate-otp-password-customer/",
                data: $('#password_reset_form').serialize(),
                 beforeSend: function () {
                    swal.fire({
                        imageUrl: '../../../media/loading.gif',
                        showConfirmButton: false,
                        confirmButtonClass: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,

                    });
                    $(".swal2-modal").css('background-color', 'transparent');
                }, 
                success: function (response) {
                    swal.close();
                    if (response.status == "success") {
                        swal.fire({
                                icon: "success",
                                title: "Success!",
                                text: "Otp Sent Successfully !!!",
                                type: "success",
                                confirmButtonClass: "btn-success",
                                timer:1500,
                                showConfirmButton:false,
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then(function () {
                                $("#mobile_no").val(response.mobile_no);
                                $("#myOtpModal").modal("show");
                            });
                        
                    } else {
                        if (response.status == "error") {
                            swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: response.msg,
                                type: "error",
                                confirmButtonClass: "btn-error/",
                                timer:1500,
                                showConfirmButton:false,
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then(function () {
                                location.reload();
                            });
                        }
                    }
                },
                error: function () {
                    swal.close();
                    swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong!",
                        confirmButtonClass: "btn-success",
                        timer:1500,
                        showConfirmButton:false,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                        .then(function () {
                            location.reload();
                        });
                },
                complete: function (data) {
                    // Hide image container
                    $("#loader").hide();
                },
            });
    });
</script>
<script>
    $("#otp_validation").validate({

        rules: {
            otp: {
                required: true,
            },
        },
        messages: {
            otp: {
                required: "OTP is required.",
            },
        },
        submitHandler: function () {

            $.ajax({
            type: "POST",
            url: "/otp-validation-password/",
            data: $('#otp_validation').serialize(),
            success: function (response) {
                if(response.status == "success"){
                    $('#myOtpModal').modal('hide');
                    $('#myModal').modal('show');
                    $("#change_password")[0].reset();
                    $('.error').empty();
                }else if(response.status == "error"){
                    var errorDiv = '#' + 'otp' + '_error';
                    $(errorDiv).empty().append("Wrong Otp");
                }
                
            },
            error: function () {
                $('#myModal').modal('hide');
                swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                    confirmButtonClass: "btn-success",
                    timer:1500,
                    showConfirmButton:false,
                    allowOutsideClick: false,
                    allowEscapeKey: false
                })
                    .then(function () {
                        location.reload();
                    });
            },
        });
        }
    })

</script>
<script>
    jQuery.validator.addMethod("uppercase_val", function (value, element) {
        if (/[A-Z]{1}/.test(value)) {
            return true;   // PASS validation when REGEX matches
        } else {
            return false;  // FAIL validation
        };
    }, "Password must contain at least 1 upper case letter.");

    jQuery.validator.addMethod("number_val", function (value, element) {
        if (/[0-9]{1}/.test(value)) {
            return true;   // PASS validation when REGEX matches
        } else {
            return false;  // FAIL validation
        };
    }, "Password must contain at least 1 number.");

    jQuery.validator.addMethod("specialchar_val", function (value, element) {
        if (/(?=.*[ -\/:-@\[-\`{-~]{1,})/.test(value)) {
            return true;   // PASS validation when REGEX matches
        } else {
            return false;  // FAIL validation
        };
    }, "Password must contain at least 1 special character.");


    $("#change_password").validate({

        rules: {
            newPassword: {
                required: true,
                // uppercase_val: true,
                // number_val: true,
                // specialchar_val: true,
                minlength: 8,
            },
            cnfPassword: {
                required: true,
                equalTo: "#newPassword"
            }

        },
        messages: {
            newPassword: {
                required: "Password field is required.",
                minlength: "This password is too short. It must contain at least {0} characters."
            },
            cnfPassword: {
                required: "Confirm Password field is required",
                equalTo: "Password and Confirm Password must be the same.",
            }
        },

        submitHandler: function () {
            $.ajax({
                type: "POST",
                url: "/password-change-success/",
                data: $('#change_password').serialize() + '&mobile_no=' + $("#mobile_no").val(),
                success: function (response) {
                    if(response.status == "success"){
                        swal.fire({
                        icon: "success",
                        title: "Success!",
                        text: response.msg,
                        type: "success",
                        confirmButtonClass: "btn-success",
                        timer:1500,
                        showConfirmButton:false,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then(function () {
                        $('#myModal').modal('hide');
                        location.href="http://157.230.228.250/customer-login/";
                    });
                    }else if(response.status == "error"){
                        swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong!",
                        confirmButtonClass: "btn-success",
                        timer:1500,
                        showConfirmButton:false,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                        })
                        .then(function () {
                            $('#myModal').modal('hide');
                            location.reload();
                        });
                        
                    }else{
                        var errorDiv = '#' + 'new_password_error';
                        $(errorDiv).empty().append(response.msg);
                    }
                },
                error: function () {
                    $('#myModal').modal('hide');
                    swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong!",
                        confirmButtonClass: "btn-success",
                        timer:1500,
                        showConfirmButton:false,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                        .then(function () {
                            location.reload();
                        });
                },
            });
        }

    });


</script>

<script type="text/javascript">
    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye-slash fa-eye");
        var input = document.getElementById("newPassword")
        if (input.type == "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    });
    $(".toggle-password-1").click(function() {
        $(this).toggleClass("fa-eye-slash fa-eye");
        var input = document.getElementById("cnfPassword")
        if (input.type == "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    });
</script>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}