{% extends "layouts/partner-base.html" %} {% block title %} Merchant Info {% endblock %}
<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}



{{title}}
<!-- <style>
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1572e8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1572e8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  </style> -->
  <style type="text/css">
    .material-switch > input[type="checkbox"] {
        display: none;   
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative; 
        width: 40px;  
    }

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position:absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }
    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }
    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }
    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
    .label-success{
      background-color: #66aa18 !important
    }

    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
      color: red;
      display: flex;
      justify-content: center;
      font-size: 25px;
      font-weight: 500;
    }

    .table td, .table th {
      padding: 10px !important;
    }
</style>

<div class="content">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="d-flex align-items-center">
              <h4 class="card-title">Merchant List</h4>
              <ul class="breadcrumbs">
                    <li class="nav-home">
                      <a href="/partner-index/">
                        <i class="flaticon-home"></i>
                      </a>
                    </li>
                    <li class="separator">
                      <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                      <a>Merchant Info</a>
                    </li>
                    <li class="separator">
                      <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                      <a href="/merchant-info/">Merchant List</a>
                    </li>
                    </li>
                </ul>
                <!-- <div class="float-right">
                  <h6 class="card-title">&nbsp;&nbsp;|&nbsp;&nbsp;Total Merchants &nbsp;{{merchantBusinessesListcount}}</h6>
                </div> -->

                
                     <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addMerchantModal">
                      <i class="fa fa-plus"></i> Add New Merchant</button>

                      <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#uploadexcelfile">
                      <i class="fa fa-plus"></i> Upload Excel File</button>

            </div>
          </div>
           
              <div class="card-body">
                <div class="table-responsive">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-sm-6 col-md-3">
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div class="icon-big text-center icon-primary bubble-shadow-small" style="background:blue">
                                <i class="fas fa fas fa-user"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">Total Merchants</p>
                                <h4 class="card-title">{{merchantBusinessesListcount}}</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table id="merchant-info-table" class="display table table-hover">
                    <thead>
                      <tr>
                        <th id="type_filter_3" colspan="3"></th>
                        <th colspan="5"></th>
                      </tr>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Mobile Number</th>
                        <th style="width:20%;">Business Name</th>
                        <th>Category</th>
                        <th>City</th>
                        <th>District</th>
                        <th>Date of Registration</th>
                        <th style="width: 10%">Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                      {% for merchant in merchant_list %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ merchant.m_user.mobile_no }}</td>
                        <td>{{ merchant.m_business_name }}</td>
                        <td>{{ merchant.m_business_category.business_category_name }}</td>
                        <td>{{merchant.m_city}}</td>
                        <td>{{merchant.m_district}}</td>
                        <td>{{merchant.date_joined| date:'d-m-Y'}}</td>
                        <td>
                          <div class="form-button-action">
                            <a href="/view-merchant-info-all-records/{{merchant.id}}/" class="btn btn-link btn-primary btn-lg" style="padding-right:0px;">
                              <button type="button" class="btn btn-link" data-toggle="tooltip" title="View" style="padding-right: 4px;"><i class="fa fa-eye" ></i></button></a>
                            <!-- <button type="button" data-toggle="tooltip" data-target=""
                                title="Delete " class="btn btn-link btn-danger deleteMerchantBtn"
                                id="deactivate-modal-div" data-original-title="Delete MerchantModel"
                                data-url="{{merchant.id}}" data-id="{{merchant.id}}"><i
                                class="fas fa-trash"></i>
                            </button> -->
                            <a href="/view-merchant-analysis/{{merchant.id}}/" class="btn btn-link btn-primary btn-lg" style="padding-right:0px; padding-left: 8px;">
                              <button type="button" class="btn btn-link " data-toggle="tooltip" title="Analysis" style="padding-right: 4px;"><i class="fa fa-list-alt" ></i></button></a>

                        {% if merchant.m_disabled_account %}
                          <!-- <span data-original-title="Disable User" data-toggle="tooltip" style="padding-top:15px ;">
                          <button type="button" title="Disable User" class="btn btn-link UserDisableBtn btn-danger"
                          data-toggle="modal" data-target="#reasonModal" id="disable_user_btn"
                          data-id='{{merchant.id}}' data-original-title="Disable User">
                          <i class="far fa-check-circle"></i>
                        </button>
                        </span> -->
                          {% else %}

                        <!-- <span data-original-title="Disable User" data-toggle="tooltip" style="padding-top:15px ;">
                          <button type="button" title="Disable User" class="btn btn-link UserDisableBtn btn-danger"
                            data-toggle="modal" data-target="#reasonModal" id="disable_user_btn"
                            data-id='{{merchant.id}}' data-original-title="Disable User">
                            <i class="far fa-check-circle"></i>
                          </button>
                        </span> -->
                        {% endif %}
                          </div>
                        
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reasonModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form method="POST" class="form" id="add_reason_form" autocomplete="off">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title w-100 text-center">Add Reason</h2>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" id="merchant_id" name="merchant_id" value="" />
          <input type="text" list="reasons" class="form-control" id="reason" name="reason" placeholder="Reason *"/>
          <datalist id="reasons">
          {% for object in data %}
             <option value="{{ object.merchant_reason }}">
          {% endfor %}   
          </datalist>
          </div>
        </div>
        <div class="modal-footer">
          <input id="add_reason_form_submit" type="submit" class="btn btn-primary" value="Save">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>



<!-- Send  Modal -->
<div class="modal fade" id="sendNotice" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <form class="form-control" id="form" action="/send-merchant-notice/"  method="POST" enctype="multipart/form-data"
    id="scheduled-bulk-mail-sms-form" name="scheduled-bulk-mail-sms-form" autocomplete="off" enctype="multipart/form-data">
    <!-- send-sms-mail-notice-customer -->
    {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title w-100 text-center">Send E-Mail/SMS</h2>
        </div>
        <div class="modal-body">
         
              <!-- <input type="hidden" id="mobile_number" name="mobile_number" >
              <input type="hidden" id="email_id" name="email_id"> -->
                <input type="hidden" id="id" name="id"/>
          <div class="row">
              <div class="col-md-12" style="padding-left: 34px;">
                  <div class="form-group">
                      <div class="row">
                          <label>Send Through</label>
                          <!-- <div class="col-md-3">
                              <input type="checkbox" name="sentnotice" id="notice" value="notification"  >
                              <b>Notice</b>
                          </div> -->
                          <div class="col-md-3">
                              <input type="checkbox" name="sentnotice" id="sms" value="sms"  >
                              <b>SMS</b>
                          </div>
                          <div class="col-md-3">
                              <input type="checkbox" name="sentnotice" id="mail" value="sent_mail">
                              <b>Email</b>
                          </div>
                         
                      </div>
                      <div id="checkboxError"></div>
                  </div>
              </div>
              <div class="col-md-6" style="display: none;" id="smsheader">
                  <div class="form-group">
                      <label>SMS Header<span style="color: red;">*</span></label>
                      <div class="input-group mb-6">
                          <input type="text" class="form-control mobile" name="smsheader" id="idsmsheader"
                              placeholder="SMS Header" value="" />
                      </div>
                      <div id="noticetitleError"></div>
                  </div>
              </div>
              <div class="col-md-6" style="display: none;" id="template">
                  <div class="form-group">
                      <label>Template Id<span style="color: red;">*</span></label>
                      <div class="input-group mb-6">
                          <input type="text" class="form-control mobile" name="template" id="idtemplate"
                              placeholder="Template Id" value="" />
                      </div>
                      <div id="noticetitleError"></div>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Title<span style="color: red;">*</span></label>
                      <div class="input-group mb-6">
                          <input type="text" class="form-control mobile" name="title" id="title"
                              placeholder="Title" value="" />
                      </div>
                      <div id="noticetitleError"></div>
                  </div>
              </div>
             
              
              <div class="col-md-12">
                  <div class="form-group">
                    
                     
                      {{ bulkMailSmsMerchantForm.media }}
                      {{ bulkMailSmsMerchantForm }}

                      <div id="messageError"></div>
                  </div>
              </div>
          </div>
      
        </div>
        <div class="modal-footer">
          <input id="add_merchant_form_submit" type="submit" class="btn btn-primary" value="Save">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Send  Modal End -->

<div class="modal fade" id="uploadexcelfile" role="dialog">
  <div class="modal-dialog modal-lg">
    <form action="/get-excel-file-records/" id="excel_file_form" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
    {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
          <h2 class="modal-title w-100 text-center">Upload Excel File</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="col-md-6">
              <div class="form-group">
                  <label>File<span style="color: red;"> *</span></label>
                  <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">                       
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">  
                <input id="edit_merchant_form_submit_btn" type="submit" class="btn btn-primary" value="Upload" data-id="">           
                
              </div>
            </div>
          </div>
          <div class="col-md-9"></div><div class="col-md-3"><a href="http://157.230.228.250:8001/media/merchant_address_proof/SampleBulkUploadfile.xls" download style="color: #495057;"><i class="fa fa-download" aria-hidden="true"><span style="font-weight: 500;font-family: Lato,sans-serif;"> Download Sample File</span></i></a></div>
        </div>
      </div>
    </div>
</form>
    
  </div>
</div>
<!-- Add Merchant Modal -->
<div class="modal fade" id="addMerchantModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <form method="POST" class="form" action="/merchant-latest/" id="add_merchant_form" autocomplete="off">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title w-100 text-center">Add Merchant</h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-phone"></i>
                      </span>
                  </div>
                  {{ form.mobile_no }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-envelope"></i>
                      </span>
                  </div>
                  {{ form.m_email }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-user"></i>
                      </span>
                  </div>
                  {{ form1.m_business_name }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon-list"></i>
                        </span>
                    </div>
                    {{ form1.m_business_category }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon-location-pin"></i>
                        </span>
                    </div>
                    <select name="m_state" class="form-control" id="id_m_state">
                      <option disabled selected value>Select State *</option>
                      {% for object in States %}
                      <option value="{{object.state}}">{{object.state}}</option>
                      {% endfor %}
                      
                    </select>
                      
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-location-pin"></i>
                      </span>
                  </div>
                  <select name="m_city" placeholder="City *" class="form-control" required="" id="id_m_city" aria-required="true">
                    <option disabled selected value>Select City *</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-location-pin"></i>
                      </span>
                  </div>
                  {{ form1.m_district }}
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-location-pin"></i>
                      </span>
                  </div>
                  {{ form1.m_state }}
                </div>
              </div>
            </div> -->
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-location-pin"></i>
                      </span>
                  </div>
                  {{ form1.m_area }}
                </div>
              </div>
            </div>
             <div class="col-md-4">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-location-pin"></i>
                      </span>
                  </div>
                  {{ form1.m_pin_code }}
                </div>
              </div>
            </div>
          </div>
         
          <!-- {{ form.password1 }}
          {{ form.password2 }} -->
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-lock"></i>
                      </span>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="icon-lock"></i>
                      </span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <input id="add_merchant_form_submit" type="submit" class="btn btn-primary" value="Save">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Add Merchant Modal End -->

<!-- Edit Merchant Modal -->
<div class="modal fade" id="myEditModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form method="POST" class="form" name="edit_merchant_form" autocomplete="off">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title w-100 text-center">Edit Merchant</h2>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" name="edit_merchantName" class="form-control" value="" id="edit_merchantName" placeholder="Merchant Name" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="edit_merchantDesc" id="edit_merchantDesc" placeholder="Merchant Description" />
            
          </div>
        </div>
        <div class="modal-footer">
          <input id="edit_merchant_form_submit_btn" type="submit" class="btn btn-primary" value="Save" data-id="">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>





<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "Created",
        "text": "{{message}}",
        "icon": "success",

    })
</script>
{% endfor %}
{% endif %}

<script type="text/javascript">
  $('#excel_file_form').validate({
    rules: {
        csv_file: {
            required: true,
            extension: "xls"
        }
    },
    messages: {
        csv_file: {
            required: "This field is required.",
            extension: "Please upload valid file formats .xls only."
        }
    }
});
</script>
<script>
$(".viewAdsBtn").on("click", function () {
    var cust_fname = $(this).data("firstname");
    var cust_lname = $(this).data('lastname');
    var cust_email = $(this).data('email');
    var cust_mobile = $(this).data('mobile_num');
    var cust_area = $(this).data('area');
    var cust_pin_code = $(this).data('pin_code');



    $('#c_fname').empty().append("First Name: " + cust_fname);
    $('#c_lname').empty().append("Last Name: " + cust_lname);
    $('#c_email').empty().append("Email: " + cust_email);
    $('#c_mobile').empty().append("Mobile No.: " + cust_mobile);
    $('#c_area').empty().append("Area: " + cust_area);
    $('#c_pin_code').empty().append("Pin Code: " + cust_pin_code);

    $("#myDisplayModal").modal();
});

var editmodaldiv = $("#edit-modal-div");
    $(".editBtn").on("click", function () {
        var id = $(this).data('id')
        var firstname = $(this).data('firstname');
        var lastname = $(this).data('lastname');
        var email = $(this).data('email');
        var mobile = $(this).data('mobile_num');
        var cust_area = $(this).data('area');
        var cust_pin_code = $(this).data('pin_code');

        $("#mid").val(id)
        $('#edit_first_name').val(firstname)
        $('#edit_last_name').val(lastname)
        $('#edit_email').val(email)
        $('#edit_mobile').val(mobile)
        $('#edit_area').val(cust_area);
        $('#edit_pin_code').val(cust_pin_code);
        $("#myEditModal").modal();

    });

    $('#cust_mobile_num').keyup(function () {
    var c_num = $("#cust_mobile_num").val()
    if(c_num.length == 10){
        $.ajax({
            type: "POST",
            url: "/check-contact-number/" + c_num,
            data: { csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value },
            success: function (response) {
                if(response.success == true){
                    Swal.fire(
                    {
                        title :'Exist',
                        icon: "warning",
                        text : 'Contact Number Already Exist',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showConfirmButton:false,
                        timer : 1500
                    })

                    $("#save-btn").prop('disabled', true);
                }
                else{
                    $("#save-btn").prop('disabled', false);
                }
            },
        })
    }
});


$(function () {
        $('.deleteBtn').on('click', function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        type: "POST",
                        url: "/delete-customer-record/" + id,
                        data: { csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value },
                        success: function (response) {
                            Swal.fire(

                                {
                                    title: 'Deleted!',
                                    text: 'Customer has been deleted',
                                    icon: 'success',
                                    timer: 1500,
                                    showConfirmButton: false,
                                })
                                .then(function () {
                                    location.reload();
                                });
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Deleted!',
                                    text: 'Customer has been deleted',
                                    icon: 'success',
                                confirmButtonClass: "btn-success",
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                showConfirmButton: false,
                                timer: 1500
                            })
                                .then(function () {
                                    location.reload();
                                });
                        }
                    });
                }
            })
        });
    });
    $(function () {
        $('.deleteMerchantBtn').on('click', function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        type: "POST",
                        url: "/delete-merchant-business-data/" + id,
                        data: { csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value },
                        success: function (response) {
                            Swal.fire(

                                {
                                    title: 'Deleted!',
                                    text: 'Merchant has been deleted',
                                    icon: 'success',
                                    timer: 1500,
                                    showConfirmButton: false,
                                })
                                .then(function () {
                                    location.reload();
                                });
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Deleted!',
                                    text: 'Merchant has been deleted',
                                    icon: 'success',
                                confirmButtonClass: "btn-success",
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                showConfirmButton: false,
                                timer: 1500
                            })
                                .then(function () {
                                    location.reload();
                                });
                        }
                    });
                }
            })
        });
    });





    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        $('#add-row').DataTable({
            dom: 'lBfrtip',
            "ordering": false,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            buttons: [
                'excel', 'pdf', 'print',
            ]
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });


   jQuery.validator.addMethod("mobile_number", function (value, element) {
        if (/^[6-9][0-9]{9}$/.test(value)) {
            return true;   // PASS validation when REGEX matches
        } else {
            return false;  // FAIL validation
        };
    }, "Please enter valid Mobile Number");



    $("#add_customer_form").validate({
        rules: {
            cust_first_name: {
                required: true,

            },
            cust_last_lname: {
                required: true,

            },

            cust_email: {
                
                email: true,

            },
            cust_mobile_num: {
                mobile_number: true,
                required: true,
                // check_mobile_exist: true
            },
            
            customer_area: {
                required: true,
            },
            customer_pin_code:{
                maxlength:6,
                digits:true
            }
        },
        messages: {
            cust_first_name: {
                required: "First Name is Required",

            },
            cust_last_lname: {
                required: "Last Name is Required",


            },
            cust_email: {
                

            },
            cust_mobile_num: {
                required: "Mobile Number is Required",
            },
            customer_area: {

            },
            customer_pin_code:{
            },
        }
    });



</script>
<style>
    

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>


<script>
  $("input[name='sentnotice']").click(function () {
 $('#smsheader').css('display', ($(this).val() === 'sms') ? 'block':'none');
 $('#template').css('display', ($(this).val() === 'sms') ? 'block':'none');
});


var sendmodaldiv = $("#send-modal-div");
    $(".sendBtn").on("click", function () {
       
        // var cust_email = $(this).data('email');
        var id = $(this).data('id');
        console.log(id);
        var cm=  $('#id').val(id);
        console.log('cm',cm)


    });
</script>


<script>
  $('.UserDisableBtn').on('click', function(e) {
    var id = $(this).attr("data-id");
    $('#merchant_id').val(id);
  });

  $('#add_reason_form').validate({
    rules:{
      reason:{
        required: true
      }
    },
    submitHandler: function () {
      Swal.fire({
        title: 'Are you sure?',
        text: "You really want to Disable this Merchant!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Disable it!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            type: "POST",
            url: "/disable-merchant-in-partner/",
            data: $('#add_reason_form').serialize(),
            success: function(response) {
             Swal.fire({
                  title:'Disabled!',
                    text:'Merchant has been disabled.',
                    icon:'success',
                    timer:1500,
                          showConfirmButton:false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                  })
              .then(function() {
                location.reload();
              });
            },
            error: function() {
              Swal.fire({
                icon:"error",
                title: "Oops...", 
                text: "Something went wrong!", 
                timer:1500,
                 showConfirmButton:false,
                allowOutsideClick: false,
                allowEscapeKey: false
              })
                .then(function() {
                  location.reload();
                });       
            }
        });
      }
    });
    }
  });
  


  $(function() {
        $('.UserEnableBtn').on('click', function(e) {
          e.preventDefault();
            Swal.fire({
              title: 'Are you sure?',
              text: "You really want to Enable this Merchant!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, enable it!'
            }).then((result) => {
              if (result.isConfirmed) {
                var id = $(this).attr("data-id");
                $.ajax({
                  type: "POST",
                  url: "/enable-merchant-from-admin/"+id,
                  data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                  success: function(response) {
                     Swal.fire({
                        title:'Enabled!',
                          text:'Merchant has been enabled.',
                           icon:'success',
                           timer:1500,
                          showConfirmButton:false,
                          allowOutsideClick: false,
                          allowEscapeKey: false,
                        })
                    .then(function() {
                      location.reload();
                    });
                  },
                  error: function() {
                    Swal.fire({
                      icon:"error",
                      title: "Oops...", 
                      text: "Something went wrong!", 
                      timer:1500,
                      showConfirmButton:false,
                      allowOutsideClick: false,
                      allowEscapeKey: false
                    })
                      .then(function() {
                        location.reload();
                      });       
                  }
              });
              }
            })
        });
      });
</script>
<script type="text/javascript">
  $(document).ready(function () {

        $("#id_m_state").on('change', function()
        {

            var state = $("#id_m_state").val()

            $.ajax({
                type: "POST",
                url: "/get-user-city-by-state/",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    'state': state
                },
                success: function(result){
                    $("#id_m_city").empty();
                    var empty = ""
                    $('#id_m_city').append("<option value='" + empty + "' disabled selected value>" + "Select City *" + "</option>");
                    $.each(result.data, function (key, value) {
                        $('#id_m_city').append("<option value='" + value + "'>" + value + "</option>");
                    });
                }
            });

        })
    })
</script>
<script>
  

  

//   $( document ).ready(function() {
//     $("#id_m_state").prop("readonly", true);
//     $("#id_m_city").prop("readonly", true);
//     $("#id_m_district").prop("readonly", true);
// });

  // $(document).ready(function () {
  //   $("#id_m_pin_code").keyup(function () {
  //     var pincode = $('#id_m_pin_code').val();
  //     if (pincode.length == 6) {
        
  //       $.ajax({
  //         url: "https://api.postalpincode.in/pincode/" + pincode,
  //         cache: false,
  //         dataType: "json",
  //         type: "GET",
  //         success: function (data) {
  //           $("#id_m_state").prop("readonly", false);
  //           $("#id_m_city").prop("readonly", false);
  //           $("#id_m_district").prop("readonly", false);
  //           state = data['0']['PostOffice'][0]['State']
  //           city = data['0']['PostOffice'][0]['Region']
  //           district = data['0']['PostOffice'][0]['District']

  //           $('#id_m_state').val(state)
  //           $('#id_m_city').val(city)
  //           $('#id_m_district').val(district)
  //         }
  //       })
  //     }
  //     else {
  //       $("#id_m_state").prop("readonly", true);
  //       $("#id_m_city").prop("readonly", true);
  //       $("#id_m_district").prop("readonly", true);
  //       $('#id_m_state').val("")
  //       $('#id_m_city').val("")
  //       $('#id_m_district').val("")
  //     }
  //   })
  // });

  jQuery.validator.addMethod("uppercase_val", function (value, element) {
    if (/[A-Z]{1}/.test(value)) {
      return true;   // PASS validation when REGEX matches
    } else {
      return false;  // FAIL validation
    };
  }, "Password must contain at least 1 upper case letter.");

  jQuery.validator.addMethod("number_val", function (value, element) {
    if (/[0-9]{1}/.test(value)) {
      return true;   // PASS validation when REGEX matches
    } else {
      return false;  // FAIL validation
    };
  }, "Password must contain at least 1 number.");

  jQuery.validator.addMethod("specialchar_val", function (value, element) {
    if (/(?=.*[ -\/:-@\[-\`{-~]{1,})/.test(value)) {
      return true;   // PASS validation when REGEX matches
    } else {
      return false;  // FAIL validation
    };
  }, "Password must contain at least 1 special character.");

  jQuery.validator.addMethod("mobileno", function (value, element) {
    if (/^([0]|\+91)?[6789]\d{9}$/.test(value)) {
      return true;   // PASS validation when REGEX matches
    } else {
      return false;  // FAIL validation
    };
  }, "Please enter valid mobile number.");

  jQuery.validator.addMethod("lettersonly", function (value, element) {
    return this.optional(element) || /^[a-z]+$/i.test(value);
  }, "Only characters required");

  jQuery.validator.addMethod("lettersonly", function(value, element) 
  {
  return this.optional(element) || /^[a-z ]+$/i.test(value);
  }, "Letters and spaces only please");

  $.validator.addMethod("emailValidate", function(value, element) {
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      return this.optional(element) || emailReg.test(value);
  }, "Please enter valid email id");

  // just for the demos, avoids form submit
  $("#add_merchant_form").validate({
    rules: {
      mobile_no: {
        required: true,
        mobileno: true,
        minlength: 10,
        maxlength: 10,
      },
      m_email: {
        email: true,
        required: true,
        maxlength: 50,
        emailValidate: true,
      },
      m_business_name: {
        required: true,
        minlength: 3,
        maxlength: 25,
      },
      m_business_category: {
        required: true
      },
      m_city: {
        required: true,
      },
      m_area: {
        required: true,
      },
      m_district: {
        required: true,
      },
      m_state: {
        required: true,
      },
      m_pin_code: {
        required: true,
        digits: true,
        minlength: 6,
        maxlength: 6,
      },
      password1: {
            required: true,
            minlength: 8,
	  	},
      password2: {
          required: true,
          equalTo : "#id_password1"
      }
    },
    messages: {
      mobile_no: {
        required: "Mobile Number field is required.",
        mobileno: "Please enter valid mobile number.",
        maxlength: "Mobile number must be 10 digits number.",
        minlength: "Mobile number must be 10 digits number."
      },
      m_email: {
        required: "Email field is required.",
        email: "Please enter valid email id"
      },
      m_business_name: {
        required: "Business name is required.",
        maxlength: "Business Name must be 25 characters.",
        minlength: "Business Name must be 25 characters."
      },
      // m_business_name: "Business Name field is required.",
      m_business_category: "Business Category field is required.",
      m_district: "District field is required.",
      m_city: "City field is required.",
      m_state: "State field is required.",
      m_pin_code: {
          required: "Pin Code field is required.",
          minlength: "Invalid Pin Code",
          maxlength: "Invalid Pin Code",
      },
      password1: {
        required: "Password field is required.",
        minlength: "This password is too short. It must contain at least {0} characters."
      },
      password2: {
        required: "Confirm Password field is required",
        equalTo: "Password and Confirm Password must be the same.",
      }
    },
    submitHandler: function () {
      $.ajax({
        type: "POST",
        url: "/add-merchant-by-partner/",
        data: $('#add_merchant_form').serialize(),
        success: function (response) {
          $('#addMerchantModal').modal('hide');
         
          if(response.status == "success"){
            swal.fire({
              icon: "success",
              title: "Success!",
              text: response.msg,
              type: "success",
              timer:1500,
              showConfirmButton:false,
              allowOutsideClick: false,
              allowEscapeKey: false
            })
            .then(function () {
              location.reload();
            });
          }else{
              swal.fire({
              icon: "success",
              title: "Success!",
              text: response.msg,
              type: "success",
              timer:1500,
               showConfirmButton:false,
              allowOutsideClick: false,
              allowEscapeKey: false
            }).then(function () {
              $('#addMerchantModal').modal('show');
            });
            
          }
          
        },
        error: function () {
          $('#addMerchantModal').modal('hide');
          swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Something went wrong!",
            timer:1500,
            showConfirmButton:false,
            allowOutsideClick: false,
            allowEscapeKey: false
          })
            .then(function () {
              location.reload();
            });
        }
      });
    }
  });
</script>

<script>
  
    
    $(document).ready(function() {
      $('#merchant-info-table').DataTable({
          dom: 'lBfrtip',
          "ordering": false,
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
          buttons: [
             'excel', 'pdf', 'print'
          ],
          initComplete: function () {
          this.api().columns([3]).every( function () {
              var column = this;
              var select = $('<select multiple="multiple" id="column_id_' + column[0][0] + '"><option value=""></option></select>')
              
              .appendTo( $("#type_filter_" + column[0][0]).empty())
                  
              .on( 'change', function () {

              var val = $(':selected', select).map(function(index, element) {
              return $.fn.dataTable.util.escapeRegex($(this).val());
              }).toArray().join('|');
                    
              column
                  .search( val ? '^'+val+'$' : '', true, false )
                  .draw();
              } );

              column.data().unique().sort().each( function ( d, j ) {
                  select.append( '<option value="'+d+'">'+d+'</option>' )
              });
          });        
        }
      });

      $("#column_id_3").select2({
        placeholder:" Select Category",
        closeOnSelect: true,
        width: '50%',
      })

    });

    
</script>

<script type="text/javascript">
  $(document).ready(function () {

      $(document).on('click', '.chk', function () {
          var checked = $(this).is(':checked');
          var rowid = $(this).data('rowid');
          var role = $(this).data('role');

          if (checked) {
            if (!confirm('Are you sure you active merchant?')) {
                $(this).removeAttr('checked');
                $(this).prop("checked", false);
            } else {
              var status = "1";
              changeStatus(rowid, status, role);
            }
          } else if (!confirm('Are you sure you deactive merchant?')) {
              $(this).prop("checked", true);
          } else {
              var status = "0";
              changeStatus(rowid, status, role);

          }
      });
  });

  function changeStatus(rowid, status, role) {
      $.ajax({
          type: "POST",
          url: "/change-active-merchant-status/",
          data: { csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, 'id': rowid, 'status': status, 'role': role},
          dataType: "json",
          success: function (data) {
            console.log(data)
            if(data.status == 1){
                swal.fire({
                icon: "success",
                title: "Success!",
                text: data.msg,
                type: "success",
                confirmButtonClass: "btn-success",
                allowOutsideClick: false,
                allowEscapeKey: false
                })
                .then(function () {
                  window.location.reload(true);
                });
            }else if(data.status == 0){
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: data.msg,
                confirmButtonClass: "btn-success",
                allowOutsideClick: false,
                allowEscapeKey: false
              })
                .then(function () {
                  location.reload();
                });
            }else{
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong. Please try again later.",
                confirmButtonClass: "btn-success",
                allowOutsideClick: false,
                allowEscapeKey: false
              })
                .then(function () {
                  location.reload();
                });
            }
            
          },
          error: function (data) {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong. Please try again later.",
                confirmButtonClass: "btn-success",
                allowOutsideClick: false,
                allowEscapeKey: false
              })
                .then(function () {
                  location.reload();
                });
            }
      });
  }


</script>
<style>
    

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}