{% extends "layouts/partner-base.html" %} 
{% block title %} Payment Setting {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Payment Settings</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/partner-index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Settings</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/partner-payment-settings/">Payment Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-control" action="/partner-payment-settings/" method="POST" id="payment-settings-form" name="payment-settings-form" autocomplete="off">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group form-show-validation row">
                                    <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Key <span class="required-label">*</span></label>
                                    <div class="col-lg-6 col-md-11 col-sm-10">
                                        <input type="text" class="form-control" id="payu_key" name="payu_key" placeholder="Enter PayU Key" value="{{ data.payu_key }}" required pattern="^[a-zA-Z0-9]*$"/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">PayU Salt <span class="required-label">*</span></label>
                                    <div class="col-lg-6 col-md-11 col-sm-10">
                                        <input type="text" class="form-control" id="payu_salt" name="payu_salt" placeholder="Enter PayU Salt" value="{{ data.payu_salt }}" required pattern="^[a-zA-Z0-9]*$"/>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <input class="btn btn-primary" type="submit" value="Submit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script>
    $("#payment-settings-form").validate({
        rules: {
            payu_key: {
                required: true,
            },
            payu_salt: {
                required: true,
            },
        },
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}