{% extends "layouts/base.html" %}
{% load custom_tags %}
{% block title %} Send Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;

    }
    .scroll {
    max-height: 550px;
    overflow-y: auto;
}
</style>


<div class="content">
    <div class="page-inner">
        <!-- <div class="page-header">
            <h4 class="page-title">Send Notifications</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/index/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Notifications</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/scheduled-bulk-mail-sms/">Send Notifications</a>
                </li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="justify-content: center;">
                        <div class="d-flex align-items-center" >
                            <h4 class="card-title">SCHEDULE EMAIL/SMS</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>EMAIL/SMS</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/scheduled-bulk-mail-sms/">SCHEDULE EMAIL/SMS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-8"> 
                                <form class="form-control" id="form"   method="POST" enctype="multipart/form-data"
                                    id="scheduled-bulk-mail-sms-form" name="scheduled-bulk-mail-sms-form" autocomplete="off" enctype="multipart/form-data">
                                    <!--  -->
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left: 34px;">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label>Send Through</label>
                                                    <div class="col-md-3">
                                                        <input type="radio" name="sentnotice" id="sms" value="sms"  >
                                                        <b>SMS</b>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="radio" name="sentnotice" id="mail" value="sent_mail">
                                                        <b>Email</b>
                                                    </div>
                                                   
                                                </div>
                                                <div id="radioError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="display: none;" id="smsheader">
                                            <div class="form-group">
                                                <label>SMS Header<span style="color: red;">*</span></label>
                                                <div class="input-group mb-6">
                                                    <input type="text" class="form-control mobile" name="smsheader" id="idsmsheader"
                                                        placeholder="SMS Header" value="" />
                                                </div>
                                                <div id="noticetitleError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="display: none;" id="template">
                                            <div class="form-group">
                                                <label>Template<span style="color: red;">*</span></label>
                                                <div class="input-group mb-6">
                                                    <input type="text" class="form-control mobile" name="template" id="idtemplate"
                                                        placeholder="Template" value="" />
                                                </div>
                                                <div id="noticetitleError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Title<span style="color: red;">*</span></label>
                                                <div class="input-group mb-6">
                                                    <input type="text" class="form-control mobile" name="title" id="title"
                                                        placeholder="Title" value="" />
                                                </div>
                                                <div id="noticetitleError"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Publish Date<span style="color: red;">*</span></label>
                                                <div class="input-group mb-6">
                                                    <input type="date" class="form-control mobile" name="date" id="date"
                                                        placeholder="date" value="" />
                                                </div>
                                                <div id="noticetitleError"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                              
                                               
                                                {{ bulkMailSmsForm.media }}
                                                {{ bulkMailSmsForm }}

                                                <div id="messageError"></div>
                                            </div>
                                        </div>
                                        
                                       
                                        <div class="col-md-12">
                                            <div class="text-center mt-3 mb-3">
                                                
                                                <button type="submit" class="btn btn-primary sendBtn" id="scheduled-bulk-mail-sms-form-btn">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                    <div class="card-header  ">
                                        <div class="row">
                                    <div  style="padding-right: 12px;">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist" style="padding-left: 25px;" >
                                            <li class="nav-list">
                                                <a class="nav-link active" id="group-tab" data-toggle="pill" href="#group" role="tab" aria-controls="group" aria-selected="true">Group</a>
                                            </li>
                                            <li class="nav-list">
                                                <a class="nav-link" id="Individual-tab" data-toggle="pill" href="#Individual" role="tab" aria-controls="Individual" aria-selected="false">Individual</a>

                                                
                                            </li>
                                             <li class="nav-list">
                                                <a class="nav-link" id="category-tab" data-toggle="pill" href="#category" role="tab" aria-controls="category" aria-selected="false">Category</a>
                                            </li>
                                         
                                        </ul>
                                    </div>
                                    </div>
                                   </div>
                                    <div class="tab-content" id="pills-tabContent" style="padding-top: 20px;">
                                        <div class="tab-pane fade show active " id="group" role="tabpanel" aria-labelledby="group-tab">
                                         
                                            <div class="col scroll">
                                                

                                                    <div class="card-body ">
                                                        <input type="checkbox" name="checkso" id="checkso"
                                                            value="owner">
                                                            <b>Owner Staff</b><br>
                                                            <input type="checkbox" name="checksm" id="checksm"
                                                            value="merchant">
                                                            <b>Merchant</b><br>
                                                            <input type="checkbox" name="checksc" id="checksc"
                                                            value="customer">
                                                            <b>Customer</b><br>
                                                            <input type="checkbox" name="checksp" id="checksp"
                                                            value="partner">
                                                            <b>Partner</b><br>
                                                       
                                                       
                                                    </div>
                                          
                                          </div>  
                                        </div>
                                        <div class="tab-pane fade table-responsive" id="Individual" role="tabpanel" aria-labelledby="Individual-tab">
                                            <div class="col scroll">
                                                <div class="card" style="box-shadow: none;">
                                                    <input type="text" class="form-control" id="searchfield" placeholder="search...">
                                                    <div class="card-body initial">
                                                        <!-- {% for object in staff %}
                                                        <input type="checkbox" id="individual" name="individual" value="{{object.id}}" onchange="add()" >
                                                        <b>{{object.first_name}} {{object.last_name}} </b>
                                                        <br>
                                                        {% endfor %} -->
                                                    </div>
                                                    <div class="card-body output">
                                                        <div class="output-body">
                                                    
                                                        </div>

                                                    </div>
                                                    
                                                <!-- </div> -->
                                            </div>
                                    </div> 
                                    </div>
                                    <div class="tab-pane fade table-responsive" id="category" role="tabpanel" aria-labelledby="category-tab">
                                        <div class="col scroll">
                                           
                                                <div class="card-body ">
                                                    {% for object in category %}
                                                    <input type="checkbox" name="categorychecks" id="idcategorychecks" onchange="cat()"
                                                        value="{{object.id}}">
                                                    <b>&nbsp;{{object}}</b><br>
                                                    {% endfor %}
                                                   
                                                </div> 
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div id="groupcheckError" style="color:  #63b90b; align-content: center;"></div>
                        </div> 
                     
                    </form>
                        </div>
                                
                                    
                                

                            <br><br>
                            <div class="row">
                            <div class="table-responsive">
                                <table id="add-row" class="display table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Notice Title</th>
                                            <th>Notice Message</th>
                                           
                                            <th>Sent SMS </th>
                                            <th>Sent Email </th>
                                          
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    </tfoot>
                                    <tbody>
                                        {% for object in data %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{object.title}}</td>
                                            <td>{{object.message| safe}}</td>
                                            <!-- <td>{{object.receiver_name}} </td> -->
                                            <td>{% if object.o_sent_sms %}
                                                    Sent
                                                {% endif %}
                                            </td>
                                            <td>{% if object.o_sent_mail %}
                                                Sent
                                            {% endif %}</td>
                                            <!-- <td>{% if object.o_notification %}
                                                True
                                            {% endif %}</td> -->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>


<script>

    const searchfield = document.querySelector('#searchfield');
    const outputList =  document.querySelector(".output");
    outputList.style.display = 'none';
    
    const initialList = document.querySelector('.initial');
    
    const outputListBody = document.querySelector('.output-body')
    
    searchfield.addEventListener('keyup', (e)=>{
    
        const searchValue = e.target.value;
    
    
        if (searchValue.trim().length>0){
            console.log('searchValue',searchValue)
            outputListBody.innerHTML= '';   
    
            fetch("/search-individual",
            {
                body : JSON.stringify({searchText : searchValue}),
                method : "POST",
            })
            .then((res) => res.json())
            .then((data) => {
                console.log('data',data);
    
    
                initialList.style.display = 'none';
    
                outputList.style.display = 'block';
    
    
    
                if(data.length === 0){
                   
                    outputList.innerHTML = "NO RESULTS FOUND!";
                    outputListBody.innerHTML= ''; 
                }else{
    
                    data.forEach(item => {
                        outputListBody.innerHTML+=`
                        <input type="checkbox" id="individual" name="individual" value="${item.id}" onchange="add()" >
                    <b>
                    ${item.first_name}  ${item.last_name} ${item.id}
                    </b>
                   
                    <br>
                    `
                    });
                }
            });
           
        }else{
            initialList.style.display = 'block';
            outputList.style.display = 'none';
        }
    })
    </script>
<script>
    $("input[name='sentnotice']").click(function () {
    $('#smsheader').css('display', ($(this).val() === 'sms') ? 'block':'none');
    $('#template').css('display', ($(this).val() === 'sms') ? 'block':'none');
});

    var interest = {
        'styles' : []
    }
    var individual = []
    function add(){
        var sbox = Array.from( document.getElementsByName("individual"));
        interest.styles = []
       
        sbox.forEach(function(v){
            if (v.checked){
                interest.styles.push(v.value);
                individual = interest.styles
            }
        })  
        console.log('individula',individual)   
    } var category = {
        'cate' : []
    }
    function cat(){
        var sbox = Array.from( document.getElementsByName("categorychecks"));
        console.log('category')
        category.cate = []
        var category_val = []
        sbox.forEach(function(v){
            if (v.checked){
                category.cate.push(v.value);
                category_val = category.cate
            }
        })     
    }

    var individual = []
    var category = []
    $('.sendBtn').on('submit', function(e){
        add();
        cat();
        // smsheader
        // template
        // date

        var sms = $('#sms:checked').val();
        console.log('sms',sms)
        var email = $('#mail:checked').val();
        console.log('email',email)

        console.log(category.cate);
        var individual = interest.styles.join();
        alert('individual');
       alert(individual);
        var title = $('#title').val();
        
        console.log('title',title);
        var smsheader = $('#idsmsheader').val();
        console.log('smsheader');
        console.log(smsheader);
        var template = $('#idtemplate').val();
        console.log('template', template)
        var date = $('#date').val();
        console.log(date);
        var owner = $('#checkso').val();
        console.log(owner);
        var merchant = $('#checksm').val();
        console.log(merchant)
        var customer = $('#checksc').val();
        console.log(customer);
        var partner = $('#checksp').val();
        console.log(partner);
        
        // var dataString = $('#individual').serialize();
        // console.log('datastring');
        // console.log(dataString) 
        // console.log(':::::::::')
        var dataString = JSON.stringify(individual);
        console.log('datastring');
        console.log(dataString) 
        
        $.ajax({
            url : '/scheduled-bulk-mail-sms/',
            type: "POST",
            dataType: 'json',
            data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, title, 
            dataString, 
              sms, email, smsheader, template, owner, merchant, customer,partner,individual,
            'form': $('form').serialize()},
              success : function(){
                    
              }
        })
        
       
    })

    // $(document).submit(function(){
    //     var individual = [];
    //     $('.output-body').find("#individual:checked").each(function(){
    //         individual.push($(this).val());
    //         console.log('individual',individual);
    //     });
    //     var key = { 'individualkey' : individual };
    //     $.ajax({
    //         url: '/scheduled-bulk-mail-sms/',
    //         type: "POST",
    //         data: {individual,
    //            'form':  $('form').serialize()   ,
    //             csrfmiddlewaretoken: '{{ csrf_token }}',},
           

    //     })
    // })
    </script>
<script>


    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    $(document).mousemove(function(event){
        if(($("input[name*='checkso']:checked").length) > 0 || ($("input[name*='checksm']:checked").length) > 0 || ($("input[name*='checksc']:checked").length) > 0 || ($("input[name*='checksp']:checked").length) > 0  || ($("input[name*='categorychecks']:checked").length) > 0 || ($("input[name*='individual']:checked").length) > 0)
        // || ($("input[name*='group_merchant']:checked").length) > 0 || ($("input[name*='group_customer']:checked").length) > 0 || ($("input[name*='group_partner']:checked").length) > 0 
        {
            $("#scheduled-bulk-mail-sms-form-btn").prop('disabled', false);
            $('#groupcheckError').empty();

            // $("#groupcheckError").html("Please select Group or Individual.");  
        }
        else
        {
            $("#scheduled-bulk-mail-sms-form-btn").prop('disabled', true);
            $('#groupcheckError').empty().append("<b>Note: Please select from either the group or individual to send the notice to respective user.<b>");
        }

      
        // if(($("input[name*='checks']:checked").length) > 0)
        //     {
                
        //         $("input[name='individual']:checkbox").prop('checked',false);
        //     } 


          // else(($("input[name*='individual']:checked").length) > 0)
          //   {
                
          //       $("input[name='checks']:checkbox").prop('checked',false);
          //   } 

    });
   

 

  $(document).change(function(event){ 
  if(($("input[name*='checks']:checked").length) > 0)
    {
        
        $("input[name='individual']:checkbox").prop('checked',false);
    }   
 });



$(document).mousemove(function(event){
    if(($("input[name*='checks']:checked").length) > 0)
    {
       
        $("input[name='individual']:checkbox").prop('checked',false);
    } 
});

    // $.validator.addMethod("checkbox_check", function (value, element) {
    //     console.log('hhjhj')
    //     if (true) {
    //       return true;   // PASS validation 
    //     } else {
    //       return false;  // FAIL validation
    //     };
    // }, "Please enter valid IFSC Code.");



    $("#scheduled-bulk-mail-sms-form").validate({

        rules: {
            notice_title: {
                required: true,
            },
            message: {
                required: true,
            },
            "individual": {
               required: true, 
               minlength: 1 
            },
            "sentnotice": { 
                required: true, 
                minlength: 1,
            },
            
        },
        messages: {
            notice_title: {
                required: "Title is Required",
            },
            message: {
                required: "Message is Required",
            },
            // "checks": "Please select at least one checkbox."
        },
        errorPlacement: function (error, element) {
            if (element.attr("name") == "sentnotice")
                $("#checkboxError").html(error);
            if (element.attr("name") == "message")
                $("#messageError").html(error);
            if (element.attr("name") == "notice_title")
                $("#noticetitleError").html(error);
            // if (element.attr("name") == "individual")
            //     $("#groupcheckError").html(error);      
        }
    });







    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        // Add Row
        // $('#add-row').DataTable({
        //     "pageLength": 5,
        // });

        $('#add-row').DataTable({
            dom: 'lBfrtip',
            "ordering": false,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            buttons: [
                'excel', 'pdf', 'print',
            ]
        });

        // buttons: [
        //         'copy', 'csv', 'excel', 'pdf', 'print'
        //     ]

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });

</script>
<style>
    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>





{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}