{% extends "layouts/base.html" %}

{% block title %} Customer Info {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style type="text/css">
    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
    }
    .table th, .table td {
        padding: 5px !important;
    }
</style>

<div class="content">
    <div class="page-inner">
        <!-- <div class="page-header">
            <h4 class="page-title">Customer Information</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/merchant-index/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>

                <li class="nav-item">
                    <a href="/customer-info/">Customer Information</a>
                </li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"> 
                        <div class="page-header" style="margin-bottom: 0px">
                            <h4 class="card-title">Customer Information</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>

                                <li class="nav-item">
                                    <a href="/customer_list/">Customer Information</a>
                                </li>
                            </ul>
                            <div class="ml-auto">
                                <a href="/views-cashmemo-by-no/{{my_mobile_number}}/"><button class="btn btn-primary btn-round">
                                <i class="fa fa-eye"></i> View Cashmemo</button></a>

                                <a href="/views-receipt-by-no/{{my_mobile_number}}/"><button class="btn btn-primary btn-round ml-auto">
                                <i class="fa fa-eye"></i> View Receipt</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body center">
                        <!-- <div class="row">
                            <div class="col-md-12 text-center mx-auto">
                                <div class="row" style="margin-left:70px;">
                                    <img src="{{personal_details.cust_profile.url}}" width="120px" height="130px">
                                </div>
                           
                            
                                <div class="row" style="padding-top:20px;">
                                    <h4 class="text"><b>&nbsp;&nbsp;&nbsp;&nbsp;Mobile Number: {{personal_details.mobile_no}}</h4></b>
                                </div>
                                <div class="row"> 
                                    <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Checkout Pin: {{personal_details.Checkout_pin}} {{personal_details.Checkout_pin}}</h4></b>
                                </div>
                                <div class="row"> 
                                    <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Name: {{personal_details.first_name}} {{personal_details.last_name}}</h4></b>
                                </div>
                                <div class="row"> 
                                    <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Date Of Birth: {{personal_details.c_dob|date:'d-m-Y'}}</h4></b>
                                </div>
                                <div class="row"> 
                                    <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Gender: {{personal_details.c_gender}}</h4></b>
                                </div>
                                <div class="row"> 
                                    <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Email ID: {{personal_details.c_email}}</h4></b>
                                </div>
                                <div class="row"> 
                                    <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Location: {{personal_details.c_area}} {{personal_details.c_pincode}}</h4></b>
                                </div> -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row align-items-center justify-content-center" style="padding-bottom: 10px;">
                                       <!-- {% if personal_details.cust_profile.url %}
                                    
                                        <img src="{{personal_details.cust_profile.url}}" class=" rounded-circle"  width="120px" height="120px">
                                    
                                        {% else %}
                                        
                                        <img  src="/media/user-profile-pic-upload.png" class=" rounded-circle" width="120px" height="120px">

                                    {% endif %} -->
                                    </div>
                                </div>
                               
                                <div class="col-md-4" style="padding-right: 50px;">
                                    <!-- <div class="row"> 
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Gender: </b>{{personal_details.c_gender|capfirst}}</h4>
                                    </div> -->
                                    <div class="row"> 
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Name: </b>{{personal_details.first_name}} {{personal_details.last_name}}</h4>
                                        
                                        
                                    </div>
                                    <div class="row">
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Email ID: </b>{{personal_details.email}}</h4>
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Mobile Number: </b>{{personal_details.mobile_no}}</h4>
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Earned Loyalty Points: </b>10</h4>
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Total Cashbacks: </b>₹200</h4>
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Location: </b>{{personal_details.c_area}} {{personal_details.c_pincode}}</h4>

                                    </div>
                                    <!-- <div class="row"> 
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Self-Added Bills: </b>{{added_bills}}</h4>
                                    </div> -->
                                    <!-- <div class="row"> 
                                        <h4><b>&nbsp;&nbsp;&nbsp;&nbsp;Total Referrals:</b>{{referral_used}}</h4>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <hr style="width: 100%;">
                            </div>
                                <!-- <div class="row">
                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <div class="card" style="  padding: 15px; border-radius: 15px;">    
                                            <div class="tab-pane table-responsive" id="earned_points" role="tabpanel" aria-labelledby="er" style="padding: 0px;">  
                                                <div class="table-responsive">
                                                    <div class="card-header" style="padding: 0px">
                                                        <h4 class="page-title" style="text-align: center">Transaction</h4>
                                                    </div>
                                                    <div class="card-body" style="padding-top:10px; padding-left: 0px; padding-right: 0px">
                                                        <table id="add-row" class="display table table-hover">
                                                            <thead>
                                                                <tr align="center">
                                                                    <th>Bill No</th>
                                                                    <th style="width: 20%;">Bill Date</th>
                                                                    <th>Bill Amount</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot>
                                                            </tfoot>
                                                            <tbody>
                                                                {% for bill in bills %}
                                                                <tr align="center">
                                                                    <td>{{ bill.invoice_no }}</</td>
                                                                    <td> {{ bill.bill_date }} </td>
                                                                    <td>Rs. {{ bill.amount }} .00</td>
                                                                    <td>
                                                                        <div class="form-button-action">
                                                                            {% if bill.bill_file %}
                                                                                <button type="button" title="Download Bill" data-toggle="tooltip" class="btn btn-link btn-primary" data-original-title="Download Bill">
                                                                                    <a href="{{bill.bill_file}}" download>
                                                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </button>
                                                                            {% endif %}

                                                                            {% if bill.customer_added == False and bill.bill_file %}
                                                                                <button type="button" data-toggle="tooltip" data-target="" title="" class="btn btn-link btn-primary btn-lg SendBillBtn" id="deactivate-modal-div" data-original-title="Send" data-url="{{bill.bill_id}}" data-id="{{bill.bill_id}}" data-db_table="{{bill.db_table}}" data-mobile_no="{{personal_details.mobile_no}}"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                                                                            {% endif %}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card" style="padding: 0px; border-radius: 15px;">       
                                            <div class="card-body" style="padding: 0px;">
                                                <div class="tab-pane  table-responsive" id="earned_points" role="tabpanel" aria-labelledby="er" style="padding: 0px;">  
                                                    <div class="card-body" style="padding-top:10px; padding-left: 0px; padding-right: 0px">
                                                        <div class="table-responsive" >
                                                            <div class="card-header" style="padding: 0px">
                                                                <h4 class="page-title" style="padding:0px; text-align: center">Feedback</h4>
                                                            </div>
                                                            <div class="card-body" style="padding-top:10px; padding-left: 0px; padding-right: 0px">
                                                                <table id="add-row1" class="display table table-hover"  > 
                                                                    <thead>
                                                                        <tr style="text-align: center;" >
                                                                            <th>Sr. No.</th>
                                                                            <th>Rating</th>
                                                                            <th>Reply</th>
                                                                              
                                                                        </tr>
                                                                    </thead>
                                                                    <tfoot>
                                                                    </tfoot>       
                                                                    <tbody> 
                                                                    {% for data in bills %}
                                                                     <tr align="center">
                                                                        
                                                                        <td>
                                                                        {% if data.rating == "1" %}
                                                                                ☕
                                                                        {% endif %}
                                                                        {% if data.rating == "2" %}
                                                                               ☕☕
                                                                        {% endif %}
                                                                        {% if data.rating == "3" %}
                                                                              ☕☕☕
                                                                        {% endif %}
                                                                        {% if data.rating == "4" %}
                                                                            ☕☕☕☕
                                                                        {% endif %}
                                                                        {% if data.rating == "5" %}
                                                                           ☕☕☕☕☕
                                                                        {% endif %}
                                                                        </td>
                                                                        <td> {{ data.feedback_reply }} </td>
                                                                       </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="my-recharge-history" class="display table table-hover" >
                                            <thead>
                                                <tr style="text-align:center;">
                                                    <th>Sr. No</th>
                                                    <th>Bill No</th>
                                                    <th>Bill Date</th>
                                                    <th>Bill Amount</th>
                                                    <th>Rating</th>
                                                    <th>Reply</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                            </tfoot>
                                            <tbody>
                                                {% for bill in bills %}
                                                    <tr align="center">
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{bill.invoice_no}}</td>
                                                        <td> {{ bill.bill_date }} </td>
                                                        <td>₹ {{ bill.amount|floatformat:2 }}</td>

                                                        <td style="text-align: center;">
                                                        {% if bill.rating == "1" %}
                                                            ⭐
                                                        {% endif %}
                                                        {% if bill.rating == "2" %}
                                                            ⭐⭐
                                                        {% endif %}
                                                        {% if bill.rating == "3" %}
                                                            ⭐⭐⭐
                                                        {% endif %}
                                                        {% if bill.rating == "4" %}
                                                            ⭐⭐⭐⭐
                                                        {% endif %}
                                                        {% if bill.rating == "5" %}
                                                            ⭐⭐⭐⭐⭐
                                                        {% endif %}
                                                        </td>
                                                        <td >
                                                            
                                                        {{bill.feedback_reply}}
                                                            
                                                        </td>
                                                         <td>
                                                            <div class="form-button-action">
                                                                {% if bill.bill_file %}
                                                                    <a href= "{{bill.bill_file}}"class="btn btn-link btn-primary btn-lg" style="padding-right:0px;">
                                                                    <button type="button" class="btn btn-link" data-toggle="tooltip" title="View" 
                                                                    style="padding-right: 4px;"><i class="fa fa-eye" ></i></button></a>

                                                                    <button type="button" title="Download Bill" data-toggle="tooltip" class="btn btn-link btn-primary" data-original-title="Download Bill">
                                                                        <a href="{{bill.bill_file}}" download>
                                                                            <i class="fa fa-download" aria-hidden="true"></i>
                                                                        </a>
                                                                    </button>
                                                                {% endif %}

                                                                <!-- {% if bill.customer_added == False and bill.bill_file %}
                                                                    <button type="button" data-toggle="tooltip" data-target="" title="" class="btn btn-link btn-primary btn-lg SendBillBtn" id="deactivate-modal-div" data-original-title="Send SMS" data-url="{{bill.bill_id}}" data-id="{{bill.bill_id}}" data-db_table="{{bill.db_table}}" data-mobile_no="{{personal_details.mobile_no}}"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                                                                {% endif %} -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>                   
                            </div>
                        </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    
<div class="modal fade" id="myDisplayModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center">Customer Information </h2>
            </div>
            <div class="modal-body" id="paraclear">
                <p id="c_fname" name="c_fname"></p>
                <p id="c_lname" name="c_lname"></p>
                <p id="c_email" name="c_email"> </p>
                <p id="c_mobile" name="c_mobile"></p>
                <p id="Checkout_pin" name="Checkout_pin"></p>
                <p id="c_area" name="c_area"></p>
                <p id="c_pin_code" name="c_pin_code"></p>
                <p id="c_email" name="c_email"></p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script>
    $(document).ready(function() {
        $('#my-recharge-history').DataTable( {
            dom: 'lBfrtip',
            buttons: [
               'excel', 'pdf', 'print'
            ],
            "ordering": false
        } );
        $('#CustomSubscrition').DataTable( {
            dom: 'lBfrtip',
            buttons: [
               'excel', 'pdf', 'print'
            ]
        } );
    });
</script>
<script>
if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
}

$(function() {
    $('.SendBillBtn').on('click', function(e) {
        e.preventDefault(); 
        var id = $(this).attr("data-id");
        var db_table = $(this).attr("data-db_table");
        var mobile_no = $(this).attr("data-mobile_no");
        $.ajax({
            type: "POST",
            url: "/customer-info-send-bill-sms-web-owner/"+id+"/",
            data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, db_table, mobile_no},
            beforeSend: function () {
                        swal.fire({
                            imageUrl: '../../../media/loading.gif',
                            showConfirmButton: false,
                            confirmButtonClass: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                        });
                        $(".swal2-modal").css('background-color', 'transparent');
            },
            success: function(response) {
                if(response["status"] == "success"){
                Swal.fire({
                text:'SMS send successfully',
                icon:'success',
                timer:1500,
                showConfirmButton:false,
                    })
                .then(function() {
                location.reload();
                });
                }
                else if(response["status"] == "error"){
                Swal.fire({
                icon:"error",
                title: "Oops...", 
                text: "Fail to send SMS.", 
                timer:1500,
                showConfirmButton:false,
                })
                .then(function() {
                    location.reload();
                });   
                }
                else{
                Swal.fire({
                icon:"error",
                title: "Oops...", 
                text: "Something went wrong!", 
                timer:1500,
                showConfirmButton:false,
                })
                .then(function() {
                    location.reload();
                });   
                }
            },
            error: function() {
                Swal.fire({
                icon:"error",
                title: "Oops...", 
                text: "Something went wrong!", 
                confirmButtonClass: "btn-success",
                allowOutsideClick: false,
                allowEscapeKey: false
                })
                .then(function() {
                location.reload();
                });       
            },
            complete: function (data) {
                // Hide image container
                $("#loader").hide();
            }
        });
    });
});
    
$(document).ready(function () {
        $('#add-row').DataTable( {
            dom: 'tBfrtip',
            "ordering": false,
            buttons: [    
            ],
        });
});
</script>
<style>
        /* Datatable => to float button right  */
        /* div.dt-buttons {
            position: relative;
            float: right;
            border-radius: 20px;
        } */

        /* Datatable => rounded corner button  */
        /* button.dt-button {
            border-radius: 20px;
        } */
        .permission-denied {
            color: red;
            display: flex;
            justify-content: center;
            font-size: 25px;
            font-weight: 500;
        }
</style>
<script>
    $(document).ready(function () {
        $('#add-row1').DataTable( {
            dom: 'tBfrtip',
            "ordering": false,
            buttons: [    
            ],
        });
});
</script>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}