{% extends "layouts/base.html" %} {% block title %} Green Points Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Referral Points</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Referral Points</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-control" action="/referral-points/" method="POST" id="form" autocomplete="off">
                            {% csrf_token %}
                            <div class="card-body align-items-center">
                                <div class="row">
                                    <div class="col-md-3" style="margin-left: 38%">
                                        <div class="form-group form-show-validation">
                                            <label for="name">Recharge Amount Per Referral</label><small>
                                            <input type="text" class="form-control" id="" name="recharge_amount_per_refferal" placeholder="Enter Recharge Amount Per Referral" value="{{data.recharge_amount_per_refferal}}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="margin-left: 38%">
                                        <div class="form-group">
                                            <label for="name">Recharge Amount Per Referrent</label>
                                            <input type="text" class="form-control" id="" name="recharge_amount_per_referent" placeholder="Enter Recharge Amount Per Referrentt" value="{{data.recharge_amount_per_referent}}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-3 mb-3">
                                  <button type="submit" class="btn btn-primary">Update</button>
                                </div>                                
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script>

    $("#form").validate({
        rules: {
            number_of_sms_for_merchant: {
                required: true,
            },
            
        },
        messages: {
            number_of_sms_for_merchant: {
                required: "Number Of SMS For Merchant field is required",
            }, 
        },
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}