{% extends "layouts/base.html" %}
{% load custom_tags %}
{% block title %} Create Payment Link {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
      color: red;
      display: flex;
      justify-content: center;
      font-size: 25px;
      font-weight: 500;
    }
    #div_bank_id{
        display: none;
    }
    #div_cheque_id{
        display: none;
    }
</style>



<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Commision History</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Partner Info</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/view-partner-monthly-commision/{{par_id}}/">Commission History</a>
                                </li>
                                </li>
                            </ul>
                            <div class="ml-auto">
                                
                          </div>
                        </div>
                    </div>

                    
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="add-row" class="display table table-hover" >
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Month</th>
                                            <th>Year</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    </tfoot>
                                    <tbody>
                                        {% for object in commision_record %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                {% if object.month == '1' %}
                                                January
                                                {% elif object.month == '2' %}
                                                February
                                                {% elif object.month == '3' %}
                                                March
                                                {% elif object.month == '4' %}
                                                April
                                                {% elif object.month == '5' %}
                                                May
                                                {% elif object.month == '6' %}
                                                June
                                                {% elif object.month == '7' %}
                                                July
                                                {% elif object.month == '8' %}
                                                August
                                                {% elif object.month == '9' %}
                                                September
                                                {% elif object.month == '10' %}
                                                October
                                                {% elif object.month == '11' %}
                                                November
                                                {% else %}
                                                December
                                                {% endif %}
                                            </td>
                                            <td width="20%">{{ object.year }} {{object.p_mobile_no}}</td>
                                            
                                            <td> {% if object.p_mobile_no == for_vyas %} --  {% else %}₹ {{ object.amount|floatformat:2 }} {% endif %}</td>
                                            <td>
                                                {% if object.status == '1' %}
                                                Paid
                                                {% else %}
                                                Pending
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="form-button-action">
                                                    {% if object.status == '1' %}
                                                    <!-- <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger deletePaymentLinkBtn" id="delete_role_btn" data-id='{{object.id}}' data-original-title="Payment" disabled="">
                                                    <i class="fa fa-credit-card"></i>
                                                                      </button> -->----

                                                  {% else %}
                                                  <button class="btn btn-link btn-danger PaymentLinkBtn" data-toggle="modal" data-target="#send-payment-modal" data-original-title="Payment" data-id='{{object.id}}' data-mobile_no='{{object.p_mobile_no}}' data-commission_amount="{{ object.amount|floatformat:2 }}">
                                                    <i class="fa fa-credit-card"></i>
                                                </button>

                                                <!-- <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger PaymentLinkBtn" id="delete_role_btn" data-id='{{object.id}}' data-original-title="Payment" data-toggle="modal" data-target="#send-payment-modal">
                                                  <i class="fa fa-credit-card"></i>
                                              </button> -->
                                                {% endif %}
                                                      
                                                </div>
                                  
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>


 <div class="modal fade" id="send-payment-modal" role="dialog">
    <div class="modal-dialog modal-lg"> 
        <form method="POST" class="form" id="send_payment_form" action="/send-partner-software-monthly-commission/">
            {% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title w-100 text-center">Send Payment</h3>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                       <div class="form-group">
                       <!--  <input type="radio" name="user" value="merchant" id="merchant_user" checked="" onclick="MerchantPartnerDiv(0)">&nbsp;&nbsp;&nbsp;&nbsp;<b>Merchant</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        <input checked="true" type="radio" name="user" value="partner" id="partner_user" onclick="MerchantPartnerDiv(1)">&nbsp;&nbsp;&nbsp;&nbsp;<b>Partner</b>
                       </div> 
                    </div>
                    <input type="hidden" name="commission_id" id="commission_id" value="">
                    <input type="hidden" name="par_id" id="par_id" value="{{par_id}}">
                    <div class="col-md-6" id="partner_object_div">
                        <div class="form-group">
                            <label>Partner<small style="color: red;"> *</small></label>
                            <input type="text" class="form-control" value="" placeholder="Partner Name" name="partner_id" id="partner_id" readonly="true">

                            <!-- <select name="partner_id" id="partner_id" class="form-control">
                                <option disabled selected value>Select Partner</option>
                                {% for object in partners %}
                                    {% if object.p_user %}
                                    <option value="{{object.p_user}}">{{object.p_user}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select> -->
                            <div id="partner_id_error"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Amount<small style="color: red;"> *</small></label>
                            <input type="number" name="amount" class="form-control" id="amount" placeholder="Amount" readonly="true">
                            <div id="amount_error"></div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Payment Mode<small style="color: red;"> *</small></label>
                            <input type="radio" name="payment_mode" id="payment_mode" value="Cash" onclick="PaymentMode(0)">
                            &nbsp;&nbsp;&nbsp;<b>Cash</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="payment_mode" id="payment_mode" value="Bank" onclick="PaymentMode(1)">
                            &nbsp;&nbsp;&nbsp;<b>Bank</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="payment_mode" id="payment_mode" value="Cheque" onclick="PaymentMode(2)">
                            &nbsp;&nbsp;&nbsp;<b>Cheque</b>
                            <div id="payment_mode_error"></div>
                        </div>

                    </div>
                
                    
                    <div class="col-md-6" id="div_bank_id">
                        <div class="form-group">
                            <label>Bank ID<small style="color: red;"> *</small></label>
                            <input type="text" name="bank_id" class="form-control" id="bank_id" placeholder="Bank ID" >
                            <div id="bank_id_error"></div>
                        </div>
                    </div>
                    <div class="col-md-6" id="div_cheque_id">
                        <div class="form-group">
                            <label>Cheque ID<small style="color: red;"> *</small></label>
                            <input type="text" name="cheque_id" class="form-control" id="cheque_id" placeholder="Cheque ID" >
                            <div id="cheque_id_error"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description<small style="color: red;"> *</small></label>
                            <input type="text" name="description" class="form-control" id="description" placeholder="Description" >
                            <div id="description_error"></div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Send">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">
    function MerchantPartnerDiv(x){

        if (x == 0){
            document.getElementById("merchant_object_div").style.display = "block";
            document.getElementById("partner_object_div").style.display = "none";

        }
        else {
            document.getElementById("merchant_object_div").style.display = "none";
            document.getElementById("partner_object_div").style.display = "block";
        }

    }
    function PaymentMode(mode){
        if (mode == 0){
            document.getElementById("div_bank_id").style.display = "none";
            document.getElementById("div_cheque_id").style.display = "none";
        }
        else if(mode == 1){
            document.getElementById("div_bank_id").style.display = "block";
            document.getElementById("div_cheque_id").style.display = "none";
        }
        else{
           document.getElementById("div_bank_id").style.display = "none";
           document.getElementById("div_cheque_id").style.display = "block"; 
        }
    }
</script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

</script>
<script type="text/javascript">
    jQuery.validator.addMethod("dollarsscents", function(value, element) {
        return this.optional(element) || /^\d{0,8}(\.\d{0,2})?$/i.test(value);
    }, "You must include two decimal places");
    
$( "#send_payment_form" ).validate({
  rules: {
    user: {
      required: true,
    },
    merchant_business:{
        required: true,
    },
    partner_id: {
        required: true,
    },
    amount: {
        required: true,
        min:1,
        dollarsscents: true
    },
    payment_mode: {
        required: true,
        maxlength: 45,
    },
    description: {
        required: true,
        maxlength: 45,
    }
  },
  messages: {
    merchant_business: {
      required: "This Field is required.",
    },
    amount: {
      required: "This Field is required.",
      min: "Amount Must be greater than 1",
    },
    partner_id: {
      required: "This Field is required.",
    },
    description: {
        required: "This Field is required.",
    },
    payment_mode: {
        required: "This Field is required.",
    } 
  },
  errorPlacement: function (error, element) {
        if (element.attr("name") == "payment_mode")
            $("#payment_mode_error").html(error);
        if (element.attr("name") == "description")
            $("#description_error").html(error);
        if (element.attr("name") == "partner_id")
            $("#partner_id_error").html(error);
        if (element.attr("name") == "amount")
            $("#amount_error").html(error);
        if (element.attr("name") == "merchant_business")
            $("#merchant_business_error").html(error);
    }
});
</script>
<script>
  $(document).ready(function() {
    var access_permission = $('#access_permission').val();
    if(access_permission == 1)
    {
      $(".permission-denied").hide();
    }
    else
    {
      $(".permission-denied").show();
    }
  });
</script>
<script>
jQuery.validator.addMethod("mobile_number", function(value, element){
		if (/^[6-9][0-9]{9}$/.test(value)) {
        return true;   // PASS validation when REGEX matches
		} else {
			return false;  // FAIL validation
		};
    }, "Please enter valid Mobile Number");
    
$( "#create_payment_link" ).validate({
  rules: {
    mobile_no: {
      required: true,
      mobile_number: true,
      maxlength: 10,
      minlength: 10,
      digits: true
    },
    email:{
        required: true,
        email: true
    },
    name: {
        required: true,
        minlength:3,
    },
    amount: {
        required: true,
        min:1
    },
    description: {
        required: true
    }
  },
  messages: {
    mobile_no: {
        required: "Mobile Number field is required.",
        maxlength: "Mobile Number must contain 10 digits.",
        minlength: "Mobile Number must contain 10 digits.",
        digits: "Only digits are acceptable."
    },
    email: "Email filed is required.",
    name: "Name field is required.",
    description: "Description field is required."
  },
});


  $(function() {
    $('.PaymentLinkBtn').on('click', function(e) {
        partner_db_id = $(this).attr("data-id");
        $('#partner_id').val($(this).attr("data-mobile_no"));
        $('#amount').val($(this).attr("data-commission_amount"));
        $('#commission_id').val(partner_db_id);
    });
});

$(function() {
    $('.deletePaymentLinkBtn').on('click', function(e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "Payement Transfer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Transfer!'
        }).then((result) => {
            if (result.isConfirmed) {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "POST",
                url: "/add-commision-status/"+id+"/",
                data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                success: function(response) {

                    if(response['success'] == true){
                        Swal.fire({
                            title: 'Transfer!',
                            text: 'Payment Transfer Successfully',
                            icon: 'success',
                            timer: 1500,
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        })
                        .then(function() {
                            location.reload();
                        });
                    }
                    else{
                        Swal.fire({
                            icon:"error",
                            title: "Oops...", 
                            text: "Fail to Transfer.", 
                            timer: 1500,
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        })
                        .then(function() {
                            location.reload();
                        });
                    }
                
                },
                error: function() {
                    Swal.fire({
                        icon:"error",
                        title: "Oops...", 
                        text: "Something went wrong!", 
                        confirmButtonClass: "btn-success",
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                    .then(function() {
                    location.reload();
                    });       
                }
            });
            }
        })
    });
});


</script>

{% endblock content %}

{% block javascripts %}

	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {

            $('#add-row').DataTable( {
                dom: 'lBfrtip',
                "ordering": false,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                   'excel', 'pdf', 'print'
                ]
            } );

		});
	</script>

{% endblock javascripts %}
