{% extends "layouts/merchant-base.html" %}

{% load custom_tags %}

{% block title %} Role {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
      color: red;
      display: flex;
      justify-content: center;
      font-size: 25px;
      font-weight: 500;
    }
  
</style>

<!-- Add role Modal -->
<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <form method="POST" class="form" id="add_role_form">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title w-100 text-center">Add Role</h2>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Role Name<small style="color: red;"> *</small></label>
              <input type="text" name="role_name" class="form-control" id="role_name">
            </div>
            <div class="form-group">
              <label for="description">Role Description</label>
              <textarea class="form-control" name="role_description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input id="add_role_form_submit" type="submit" class="btn btn-primary" value="Save">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </form>
    </div>
  </div>
<!-- Add role Modal End -->

<!-- Edit Role Modal -->
<div class="modal fade" id="myEditModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <form method="POST" class="form" name="edit_role_form">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title w-100 text-center">Edit Role</h2>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Role Name<small style="color: red;"> *</small></label>
              <input type="text" name="edit_role_name" class="form-control" value="" id="edit_role_name">
              <!-- <div class="error-messages" id="edit_role_name_error" style="display:none"></div> -->
            </div>
            <div class="form-group">
              <label for="description">Role Description</label>
              <textarea class="form-control" name="edit_role_description" id="edit_role_description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input id="edit_role_form_submit_btn" type="submit" class="btn btn-primary" value="Save" data-id="">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Edit Role Modal End-->

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Roles & Permission</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/merchant-index/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Settings</a>
                </li>
                <li class="separator">
                  <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/merchant-role/">Roles & Permission</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Roles</h4>
                            <div class="ml-auto">
                            {% if is_merchant == True %}
                                <a class="btn btn-primary btn-round" href="/merchant-role/assign/">
                                  <i class="fa fa-plus"></i> Assign Role
                                </a>
                            {% else %}
                              {% for actions in merchnat_action_permissions_list %}
                                {% if actions.module_id|lower == "Merchant Settings"|lower and actions.feature_id|lower == "Roles & Permission"|lower %}
                                  {% if actions.view_permission == "1" %}
                                  <a class="btn btn-primary btn-round" href="/merchant-role/assign/">
                                    <i class="fa fa-plus"></i> Assign Role
                                  </a>
                                  {% endif %}
                                {% endif %}
                              {% endfor %} 
                            {% endif %}
                            

                            {% if is_merchant == True %}
                              <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-plus"></i>
                                Add Role
                              </button>
                            {% else %}
                              {% for actions in merchnat_action_permissions_list %}
                                {% if actions.module_id|lower == "Merchant Settings"|lower and actions.feature_id|lower == "Roles & Permission"|lower %}
                                  {% if actions.add_permission == "1" %}
                                  <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#myModal">
                                      <i class="fa fa-plus"></i>
                                      Add Role
                                  </button>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                            
                          </div>
                        </div>
                    </div>

                    {% if is_merchant == True %}
                      <input type="hidden" value="1" name="access_permission" id="access_permission">
                      <div class="card-body">
                        <div class="table-responsive">
                            <table id="add-row" class="display table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Role Name</th>
                                        <th>Role Description</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                </tfoot>
                                <tbody>
                                    {% for object in role_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ object.role_name }}</td>
                                        <td>{{ object.role_description }}</td>
                                        <td>
                                            <div class="form-button-action">
                                               
                                              <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg editBtn" data-original-title="Edit Role" data-url="{{object.id}}">
                                                <i class="fa fa-edit"></i>
                                              </button>

                                              <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger deleteBtn" id="delete_role_btn" data-id='{{object.id}}' data-original-title="Delete Role">
                                                <i class="fa fa-trash"></i>
                                              </button>

                                              <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-id='{{object.id}}' data-original-title="Assign Permission">
                                                <a href="/merchant-role/permission/{{ object.id }}/"><i class="fas fa-tags"> </i></a>
                                              </button>
                                                   
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                      {% for actions in merchnat_action_permissions_list %}
                      {% if actions.module_id|lower == "Merchant Settings"|lower and actions.feature_id|lower == "Roles & Permission"|lower %}
                        {% if actions.view_permission == "1" or actions.add_permission == "1" or actions.edit_permission == "1" or actions.delete_permission == "1" %}
                            <input type="hidden" value="1" name="access_permission" id="access_permission">
                            <div class="card-body">
                              <!-- Modal -->
                              <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header no-bd">
                                              <h5 class="modal-title">
                                                  <span class="fw-mediumbold">
                                                  Add Role</span> 
                                              </h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>   
                                      </div>
                                  </div>
                              </div>

                              <div class="table-responsive">
                                  <table id="add-row" class="display table table-striped table-hover" >
                                      <thead>
                                          <tr>
                                              <th>Sr. No.</th>
                                              <th>Role Name</th>
                                              <th>Role Description</th>
                                              <th style="width: 10%">Action</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                      </tfoot>
                                      <tbody>
                                          {% for object in role_list %}
                                          <tr>
                                              <td>{{ forloop.counter }}</td>
                                              <td>{{ object.role_name }}</td>
                                              <td>{{ object.role_description }}</td>
                                              <td>
                                                  <div class="form-button-action">
                                                      {% for actions in merchnat_action_permissions_list %}
                                                        {% if actions.module_id|lower == "Merchant Settings"|lower and actions.feature_id|lower == "Roles & Permission"|lower %}
                                                          {% if actions.edit_permission == "1" %}
                                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg editBtn" data-original-title="Edit Role" data-url="{{object.id}}">
                                                              <i class="fa fa-edit"></i>
                                                            </button>
                                                          {% endif %}
                                                        {% endif %}
                                                      {% endfor %}
                                                      
                                                      {% for actions in merchnat_action_permissions_list %}
                                                        {% if actions.module_id|lower == "Merchant Settings"|lower and actions.feature_id|lower == "Roles & Permission"|lower %}
                                                          {% if actions.delete_permission == "1" %}
                                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger deleteBtn" id="delete_role_btn" data-id='{{object.id}}' data-original-title="Delete Role">
                                                              <i class="fa fa-trash"></i>
                                                            </button>
                                                          {% endif %}
                                                        {% endif %}
                                                      {% endfor %}
                                                      
                                                      {% for actions in merchnat_action_permissions_list %}
                                                        {% if actions.module_id|lower == "Merchant Settings"|lower and actions.feature_id|lower == "Roles & Permission"|lower %}
                                                          {% if actions.view_permission == "1" or actions.add_permission == "1" or actions.edit_permission == "1" %}
                                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-id='{{object.id}}' data-original-title="Assign Permission">
                                                              <a href="/merchant-role/permission/{{ object.id }}/"><i class="fas fa-tags"> </i></a>
                                                            </button>
                                                          {% endif %}
                                                        {% endif %}
                                                      {% endfor %}
                                                      
                                                  </div>
                                              </td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                            
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
 
                    
                    
                    <div class="card-body permission-denied" style="display:none">
                        <div class="permission-denied">Permission Denied</div> 
                    </div>
                  
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script>
  $(document).ready(function() {
    var access_permission = $('#access_permission').val();
    if(access_permission == 1)
    {
      $(".permission-denied").hide();
    }
    else
    {
      $(".permission-denied").show();
    }
  });
</script>
<script>
$( "#add_role_form" ).validate({
  rules: {
    role_name: {
      required: true
    }
  },
  messages: {
    role_name: "Role field is required.",
  },
  submitHandler: function() {
    $.ajax({
              type: "POST",
              url: "/merchant-role/create/",
              data: $('form').serialize(),
              success: function(response) {
                $('#myModal').modal('hide');
                swal.fire({
                  icon:"success",
                  title: "Success!",
                  text: "Role addded.",
                  type: "success",
                  confirmButtonClass: false,
                  timer:1500,
                })
                .then(function() {
                  location.reload();
                });
              },
              error: function() {
                $('#myModal').modal('hide');
                swal.fire({ 
                  icon:"error",
                  title: "Oops...", 
                  text: "Something went wrong!", 
                  confirmButtonClass: false,
                  timer:1500
              })
              .then(function() {
                location.reload();
              });    
            }
    });
  }
});

  $( "form[name='edit_role_form']" ).validate({
      rules: {
        edit_role_name: {
          required: true
        }
      },
      messages: {
        edit_role_name: "Role field is required.",
      },
      submitHandler: function() {
        var id = $("#edit_role_form_submit_btn").attr("data-id");
        $.ajax({
            type: "POST",
            url: "/merchant-role/update/"+id+"/",
            data: $('form').serialize(),
            success: function(response) {
              $('#myEditModal').modal('hide');
              swal.fire({
                icon:"success",
                title: "Success!",
                text: "Role Updated.",
                type: "success",
                confirmButtonClass: false,
                timer:1500
              })
              .then(function() {
                location.reload();
              });
            },
            error: function() {
              $('#myEditModal').modal('hide');
              swal.fire({ 
                icon:"error",
                title: "Oops...", 
                text: "Something went wrong!", 
                confirmButtonClass: false,
                timer:1500
            })
            .then(function() {
              location.reload();
            });       
            }
        });
      }
    });
      $(function() {
        $('.deleteBtn').on('click', function(e) {
          e.preventDefault();
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                var id = $(this).attr("data-id");
                $.ajax({
                  type: "POST",
                  url: "/merchant-role/delete/"+id,
                  data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                  success: function(response) {
                    Swal.fire(
                        
                                               
                        {
                         icon:"success",
                         title: 'Deleted!',
                         text:  'Role has been deleted.',

                         type: "success",
                         confirmButtonClass: false,
                         timer:1500
                      })
                    .then(function() {
                      location.reload();
                    });
                  },
                  error: function() {
                    Swal.fire({
                      icon:"error",
                      title: "Oops...", 
                      text: "Something went wrong!", 
                      confirmButtonClass: "btn-success",
                      allowOutsideClick: false,
                      allowEscapeKey: false
                    })
                      .then(function() {
                        location.reload();
                      });       
                  }
              });
              }
            })
        });
      });

      var editmodaldiv = $("#edit-modal-div");
      $(".editBtn").on("click", function() {
        $.ajax({
          url: $(this).attr("data-url")+'/',
          success: function(data) {
            // alert(data['role_name']);
            // alert(data['role_description']);

            $("#edit_role_name").val(data['role_name']);
            $("#edit_role_description").val(data['role_description']);
            $('#edit_role_form_submit_btn').attr('data-id' , data['role_id']);
            // editmodaldiv.html(data);
            $("#myEditModal").modal();
          }
        });
      });

      </script>

{% endblock content %}

{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			// $('#add-row').DataTable({
            //     "pageLength": 5,
            // });
            
            $('#add-row').DataTable( {
                dom: 'lBfrtip',
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                buttons: [
                   'excel', 'pdf', 'print'
                ]
            } );

            // buttons: [
            //         'copy', 'csv', 'excel', 'pdf', 'print'
            //     ]

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
