{% extends "layouts/base.html" %}

{% load custom_tags %}

{% block title %} DM Services{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>

<!-- Add role Modal -->

<!-- Modal content-->
<div class="modal fade" id="myEditModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center">Digital Marketing Services</h2>
            </div>

            <div class="modal-body" id="paraclear">



                <strong>Comments :</strong>
                <p id="comments_msg" name="cust_name"> </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add role Modal End -->



<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Digital Marketing </h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Merchant Request</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/get-all-merchant-enquiry/">Digital Marketing </a>
                                </li>
                            </ul>

                               
                            <div class="ml-auto">
                                <!-- <a class="btn btn-primary btn-round" href="/merchant-role/assign/">
                                    <i class="fas fa-trash"></i> Delate All
                                  </a> -->
                                  {% if is_superuser == True %}




                                    <button type="button" data-toggle="tooltip" 
                                        class=" btn btn-primary btn-round deleteallBtn"><i class="fas fa-trash"></i>&nbsp; &nbsp; Delete all
                                    </button>
                                  {% else %}
                                    {% for actions in action_permissions_list %}
                                        {% if actions.module_id|lower == "Merchant Request"|lower and actions.feature_id|lower == "Digital Marketing Request"|lower %}
                                            {% if actions.delete_permission == "1" %}
                                                <button type="button" data-toggle="tooltip" 
                                                    class=" btn btn-primary btn-round deleteallBtn"><i class="fas fa-trash"></i>&nbsp; &nbsp; Delete all
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            </div>


                        </div>
                             {% if is_superuser == True %}
                                <!-- <div class="">
                                  <h6 class="card-title">Total Digital Marketing Request: &nbsp;{{status_count}}</h6>
                                </div> -->
                                 {% else %}
                                    {% for actions in action_permissions_list %}
                                        {% if actions.module_id|lower == "Merchant Request"|lower and actions.feature_id|lower == "Digital Marketing Request"|lower %}
                                            {% if actions.delete_permission == "1" %}
                                            <!-- <div class="">
                                              <h6 class="card-title">Total Digital Marketing Request: &nbsp;{{status_count}}</h6>
                                            </div> -->
                                {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                        <!-- <div class="d-flex align-items-center">
                            <button type="button" data-toggle="tooltip" title="Delete Enquiry"
                                class=" btn btn-primary btn-lg deleteallBtn"
                                data-original-title="Delete Enquiry">Delete all
                            </button>
                            
                        </div> -->
                    </div>

                    {% if is_superuser == True %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-sm-6 col-md-3">
                                      <div class="card card-stats card-round">
                                        <div class="card-body">
                                          <div class="row align-items-center">
                                            <div class="col-icon">
                                              <div class="icon-big text-center icon-primary bubble-shadow-small" style="background:blue">
                                                <i class="fas fa-user-friends"></i>
                                              </div>
                                            </div>
                                            <div class="col col-stats ml-3 ml-sm-0">
                                              <div class="numbers">
                                                <p class="card-category">Total Digital Marketing Request</p>
                                                <h4 class="card-title">{{status_count}}</h4>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <table id="add-row" class="display table table-hover">
                                    <thead>
                                       <!--  <tr>
                                            <th></th>
                                    		<th id="test_2" colspan="2"></th>
                                            <th id="test_3" colspan="2"></th>
                                            <th colspan="4"></th>
                                        </tr> -->
                                        <tr style="text-align: center;">
                                            <th>Sr. No.</th>
                                            <!-- <th>Merchant Name</th> -->
                                            <th style="width: 20%;">Business Name</th>
                                            <th>Contact No.</th>
                                            <!-- <th>Email</th> -->
                                            <th style="width: 20%;">Packages</th>
                                            <th width="300">Comment</th>
                                            <th>Status</th>
                                            <th>Assigned Company</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for object in enquiry_list %}
                                        <tr align="center">
                                            <td>{{ forloop.counter }}</td>
                                            <!-- <td>{{ object.customer_name }}</td> -->
                                            <td>{{ object.bissiness_name }}</td>
                                            <td>{{ object.contact_no }}</td>
                                            <!-- <th>{{object.email_id}}</th> -->
                                            <td>{{object.intrested_in}}</td>
                                            <td>{{object.comments}}</td>
                                            <td>{% if object.status != None %}
                                                        {{object.status}}
                                                        {% endif %}</td>
                                            <td>{{object.assign_company}}</td>            
                                            <th>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <button class="btn btn-link btn-primary updateBtn" data-toggle="tooltip" data-target="#myModal"
                                                    data-id="{{object.id}}" data-original-title="Update Status" >
                                                    <i class="fa fa-plus-circle"></i>
                                                   
                                                </button>
                                             <button class="btn btn-link btn-primary " data-toggle="tooltip" 
                                                    data-id="{{object.id}}" data-original-title="{{object.notes}}" >
                                                    <i class="fa fa-info-circle"></i>
                                                   
                                                </button>
                                                <button type="button" data-toggle="tooltip"
                                                    title="Delete Enquiry"
                                                    class="btn btn-link btn-danger btn-lg deleteBtn"
                                                    data-original-title="Delete Enquiry"
                                                    data-url="{{object.id}}" data-id="{{object.id}}">
                                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                                </button>
                                                <span data-original-title="Assign Company" data-toggle="tooltip">
                                                    <button type="button" class="btn btn-link btn-primary AdsDisapproveBtn" data-id="{{object.id}}" data-original-title="Assign Company" data-toggle="modal" data-target="#reasonModal"><i class="fa fa-tags"></i></button>
                                                </span>
                                            </div>
                                            </th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        {% for actions in action_permissions_list %}
                            {% if actions.module_id|lower == "Merchant Request"|lower and actions.feature_id|lower == "Digital Marketing Request"|lower %}
                                {% if actions.view_permission == "1" %}
                                    <input type="hidden" value="1" name="access_permission" id="access_permission">
                                     <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="add-row" class="display table table-hover">
                                                <thead>
                                                    <!-- <tr>
                                                        <th></th>
                                                        <th id="test_2" colspan="2"></th>
                                                        <th id="test_3" colspan="2"></th>

                                                        <th colspan="4"></th>
                                                    </tr> -->
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Merchant Name</th>
                                                        <th>Business Id</th>
                                                        <th style="width: 20%">Business Name</th>
                                                        <th>Contact No.</th>
                                                        <!-- <th>Email</th> -->
                                                        <th style="width: 20%">Packages</th>
                                                        <th width="300">Comment</th>
                                                        <th>Status</th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for object in enquiry_list %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ object.customer_name }}</td>
                                                        <td>{{ object.mer_id.m_unique_id }}</td>
                                                        <td>{{ object.bissiness_name }}</td>
                                                        <td>{{ object.contact_no }}</td>
                                                        <!-- <th>{{object.email_id}}</th> -->
                                                        <td>{{object.intrested_in}}</td>
                                                        <td>{{object.comments}}</td>
                                                        <td>{% if object.status != None %}
                                                        {{object.status}}
                                                        {% endif %}</td>
                                                        
                                                            <td>
                                                                {% if actions.delete_permission == "1" %}
                                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                                    <button class="btn btn-link btn-primary updateBtn" data-toggle="tooltip" data-target="#myModal"
                                                                        data-id="{{object.id}}" data-original-title="Update Status" >
                                                                        <i class="fa fa-plus-circle"></i>
                                                                       
                                                                    </button>
                                                                    <button type="button" data-toggle="tooltip"
                                                                        title="Delete Enquiry"
                                                                        class="btn btn-link btn-danger btn-lg deleteBtn"
                                                                        data-original-title="Delete Enquiry"
                                                                        data-url="{{object.id}}" data-id="{{object.id}}">
                                                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                                                    </button>
                                                                    <span data-original-title="Assign Company" data-toggle="tooltip">
                                                                        <button type="button" class="btn btn-link btn-primary AdsDisapproveBtn" data-id="{{object.id}}" data-original-title="Assign Company" data-toggle="modal" data-target="#reasonModal"><i class="fa fa-tags"></i></button>
                                                                    </span>
                                                                </div>
                                                                {% endif %}
                                                            </td>
                                                        

                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="card-body permission-denied" style="display:none">
                            <div class="permission-denied" style="padding: 5%">Permission Denied</div> 
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reasonModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <form method="POST" class="form" id="add_reason_form" autocomplete="off">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title w-100 text-center">Assign Company</h2>
          </div>
          <div class="modal-body">
            <input type="hidden" id="disapprove_offer_id" name="disapprove_offer_id" value="" />
            <select name="company_name" id="company_name" class="form-control">
            {% for object in assign_company %}
            <option name="company_name" value="{{ object.comp_name }}">{{ object.comp_name }}</option>
            {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <input id="add_reason_form_submit" type="submit" class="btn btn-primary" value="Save">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>


<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <form method="POST"  class="form" id="add_role_form">
        {% csrf_token %}
        <div class="modal-content">
          
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Status<small style="color: red;"> *</small></label>
              <select class="form-control mobile" name="status"
                                        id="status" placeholder="Template Choice" 
                                         value="">
                                        <option value="0">Status</option>
                                        <option value="Call Initiated">Call Initiated </option>
                                        <option value="Discussion Ongoing">Discussion Ongoing</option>
                                        <option value="Assigned">Assigned</option>
                                        <!-- <option value="4">Cash Memo Template 4</option> -->
                                        <option value="Closed">Closed</option>

              </select>
            </div>
            <div class="form-group">
            	<label for="name">Notes</label>
            	
              		
                	<input type="text"  class="form-control mobile" maxlength="25" name="notes" id="notes" placeholder="Notes">
                	
            </div>
            <input type="hidden" id="status_id" name="object_status_id">
            <input type="hidden" name="object_notes_id" id="notes_id">
            
            <!-- <div class="form-group">
            	<div class="col-md-12">
            		<input type="text" name="notes" id="notes" placeholder="Notes">
            	</div>
            </div>	 -->
            <!-- <div>
                
                <p id="obj_id1" name="object_status_id">
                </p>
            </div> -->
           
          </div>
          <div class="modal-footer">
            <input id="statusSubmit" type="submit" class="btn btn-primary" value="Save">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
    </form>
    </div>
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>



<script>
    $('.updateBtn').on("click", function(){
    var obj_id = $(this).data("id");
    console.log('id',obj_id);
    $('#status_id').empty().append(obj_id);

    document.getElementById('status_id').value = obj_id;

    $("#myModal").modal();

    
})

</script>

<script type="text/javascript">
    $('.AdsDisapproveBtn').on('click', function(e) {
    var id = $(this).attr("data-id");
    $('#disapprove_offer_id').val(id);
    // alert(id)
}); 

$('#add_reason_form').validate({
    rules:{
      reason:{
        required: true
      }
    },
    submitHandler: function () {
      Swal.fire({
        title: 'Are you sure?',
        text: "You want to assign this company!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, assign it!'
      }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
            type: "POST",
            url: "/assign-company-for-merchant-enquiry/",
            data: $('#add_reason_form').serialize(),
            success: function(response) {
            Swal.fire(
                {
                    title:'Assigned!',
                    text:'Company Assigned Successfully !!!',
                    icon:'success',
                    timer:1500,
                    showConfirmButton:false,
                })
            .then(function() {
                location.reload();
            });
            },
            error: function() {
            Swal.fire({
                icon:"error",
                title: "Oops...", 
                text: "Something went wrong!", 
                timer:1500,
                showConfirmButton:false,
                allowOutsideClick: false,
                allowEscapeKey: false
            })
                .then(function() {
                location.reload();
                });       
            }
        });
      }
    });
    }
  });
</script>

{% endblock content %}

{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>

<script>


    // $(document).ready(function () {
    //     var maxLength = 50;
    //     $(".show-read-more").each(function () {
    //         var myStr = $(this).text();
    //         if ($.trim(myStr).length > maxLength) {
    //             var newStr = myStr.substring(0, maxLength);
    //             var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
    //             $(this).empty().html(newStr);
    //             $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
    //             $(this).append('<span class="more-text">' + removedStr + '</span>');
    //         }
    //     });
    //     $(".read-more").click(function () {
    //         $(this).siblings(".more-text").contents().unwrap();
    //         $(this).remove();
    //     });
    // });


    $(function () {
            $('.deleteBtn').on('click', function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var id = $(this).attr("data-id");
                        $.ajax({
                            type: "POST",
                            url: "/owner-delete-dm-enquiry/" + id,
                            data: { csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value },
                            success: function (response) {
                                Swal.fire(
                                    'Deleted!',
                                    'DM Enquiry has been deleted.',
                                    'success',
                                    {
                                        allowOutsideClick: false,
                                        allowEscapeKey: false,
                                    })
                                    .then(function () {
                                        location.reload();
                                    });
                            },
                            error: function () {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Something went wrong!",
                                    confirmButtonClass: "btn-success",
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                })
                                    .then(function () {
                                        location.reload();
                                    });
                            }
                        });
                    }
                })
            });
        });


    $(function () {
        $('.deleteallBtn').on('click', function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: "/delete-multiple-enquiry/",
                        data: { csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value },
                        success: function (response) {
                            Swal.fire(
                                'Delete!',
                                'DM Enquiry has been deleted.',
                                'success',
                                {
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                })
                                .then(function () {
                                    location.reload();
                                });
                        },
                        error: function () {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Something went wrong!",
                                confirmButtonClass: "btn-success",
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            })
                                .then(function () {
                                    location.reload();
                                });
                        }
                    });
                }
            })
        });
    });

    
    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        // Add Row
        // $('#add-row').DataTable({
        //     "pageLength": 5,
        // });

        $('#add-row').DataTable({
            dom: 'lBfrtip',
            "ordering": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            buttons: [
                'excel', 'pdf', 'print' 
            ],

           initComplete: function () {
            this.api().columns([2,3,4]).every(function () {
                var column = this;
                console.log(column[0][0])
                console.log("#test_" + column[0][0])

                var select = $('<select multiple="multiple" id="column_id_' + column[0][0] + '"><option value=""></option></select>')
                    // var id = "#test_" + column[0][0];

                    .appendTo($("#test_" + column[0][0]).empty())
                    // .appendTo( $(column.header()).empty() )
                    .on('change', function () {

                        // var val = $.fn.dataTable.util.escapeRegex(
                        //     $(this).val()
                        // );

                        var val = $(':selected', select).map(function (index, element) {
                            return $.fn.dataTable.util.escapeRegex($(this).val());
                        }).toArray().join('|');

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });

                column.data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            });


          }
    });

    $("#column_id_3").select2({
        placeholder: " Select Packages",
        closeOnSelect: true,
        width: '100%',
        // allowClear: true
    })
    $("#column_id_2").select2({
        placeholder: " Select Business",
        closeOnSelect: true,
        width: '100%',
        // allowClear: true
    })
       
    });
</script>

{% endblock javascripts %}