{% extends "layouts/base.html" %}

{% load custom_tags %}

{% block title %} Subscription Plans {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
      color: red;
      display: flex;
      justify-content: center;
      font-size: 25px;
      font-weight: 500;
    }
  
</style>

<div class="content">
    <div class="page-inner">
        <!-- <div class="page-header">
            <h4 class="page-title">Customized Subscription Plans</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/index/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Subscription Plans</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/get-customized-subscription-plans/">Customized Subscription Plans</a>
                </li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Custom Subscription</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/index/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Subscription Plans</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="/get-customized-subscription-plans/">Custom Subscription</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h3 style="text-align: center;">Add New Subscription</h3>
                                <br> -->
                                <form method="POST" action="/customized-subscription-plans/" class="form-control" id="customized_subscription_form">
                                    {% csrf_token %}
                                    <input type="hidden" name="plan_id" value="">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Subscription Name <span style="color: red;">*</span></label>
                                                <div class="input-group mb-3">            
                                                    <input type="text" class="form-control" name="subscription_name" placeholder="Subscription Name"
                                                    value="" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Per Bill Cost<span style="color: red;">*</span></label>
                                                <div class="input-group mb-3">            
                                                    <input type="number" class="form-control" name="per_bill_cost" placeholder="Per Bill Cost" id="per_bill_cost2"
                                                    value="" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Digital Bill<span style="color: red;">*</span></label>
                                                <div class="input-group mb-3">            
                                                    <input type="number" class="form-control" name="digital_bill" placeholder="Digital Bill" id="digital_bill2"
                                                    value="" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Min Recharge<span style="color: red;">*</span></label>
                                                <div class="input-group mb-3">            
                                                    <input type="number" class="form-control" name="min_recharge" id="min_recharge2" placeholder="Min Recharge"
                                                    value="" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Ideal For<span style="color: red;">*</span></label>
                                                <div class="input-group mb-3">            
                                                    <input type="text" class="form-control" name="ideal_for" id="ideal_for2" placeholder="Ideal For"
                                                    value="" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <label>Select Customized Plan for</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="form-radio-label">
                                                            <input class="form-radio-input" type="radio" name="customized_plan_for" value="business_category" checked="" id="customized_plan_for_business_category">
                                                            <span class="form-radio-sign">Business Category</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-radio-label ml-3">
                                                            <input class="form-radio-input" type="radio" name="customized_plan_for" value="merchant" id="customized_plan_for_business">
                                                            <span class="form-radio-sign">Merchant</span>
                                                        </label>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">

                                                <div id="input-type" class="row">

                                                    <div class="col-sm-6">
                                                        <label class="radio-inline">
                                                            <input name="custome_amount_in"
                                                                class="select-mode check-coupon " id=""
                                                                value="custome_percentage_amount" type="radio"
                                                                autocomplete="off">
                                                            Percentage </label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="radio-inline">
                                                            <input name="custome_amount_in" class="select-mode"
                                                                value="custome_fix_amount" id="" type="radio"
                                                                autocomplete="off">
                                                            Fix Amount </label>
                                                    </div>
                                                    <!-- <div id="amountinError"></div> -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input id="percentage_id" name="custome_percent_value"
                                                                type="text" class="form-control percentage"
                                                                placeholder="Percentage">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input name="custome_fix_value" id="value_id" type="text"
                                                                class="form-control value" placeholder="Fix Amount">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Select Business Category</label>
                                                    <select class="js-example-basic-multiple" name="business_category" id="business_category_id" multiple="multiple" style="width: 300px;">
                                                        {% for business_category in merchnat_business_category %}
                                                            <option value="{{ business_category.id }}">{{ business_category.business_category_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                            </div>
                                        </div>
                                        <input type="hidden" name="business_category_value" id="business_category_value" value="">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Select Merchant</label>
                                                <select class="js-example-basic-multiple"  name="merchant_name" id="business_name_id" multiple="multiple" style="width: 300px;" >
                                                    {% for merchant in merchant_list %}
                                                        <option value="{{ merchant.id }}">{{ merchant.first_name }} {{ merchant.last_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <input type="hidden" name="merchant_name_value" id="merchant_name_value" value="">
                                        <!-- <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Add Business Category</label>
                                                <div class="input-group">
                                                    <select class="form-control" aria-describedby="basic-addon1">
                                                        <option value="">Add</option>
                                                        {% for business_category in merchnat_business_category %}
                                                            <option>{{ business_category.business_category_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-primary" type="button" style="border-top-right-radius: 2px;
                                                        border-bottom-right-radius: 2px">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Selected Business Category</label>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="text-center mt-3 mb-3">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h3 style="text-align: center;">Subscription List</h3>
                                <br> -->
                                <div class="table-responsive">
                                    <table id="CustomSubscrition" class="display table table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>Subscription Name</th>
                                                <th>Per Bill Cost</th>
                                                <th>Digital Bill</th>
                                                <th>Min Recharge</th>
                                                <th>Ideal For</th>
                                                <th>Customized Plan For</th>
                                                <th>Discounted Amount</th>
                                                <!-- <th>Business Category</th>
                                                <th>Merchant</th> -->
                                                <th align="center">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                            {% for customized_subscription_plan in customized_subscription_plans %}
                                                <tr>
                                                    <td>
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td>
                                                        {{ customized_subscription_plan.subscription_name }}
                                                    </td>
                                                    <td>
                                                        {{ customized_subscription_plan.per_bill_cost }}
                                                    </td>
                                                    <td>
                                                        {{ customized_subscription_plan.digital_bill }}
                                                    </td>
                                                    <td>
                                                        {{ customized_subscription_plan.min_recharge }}
                                                    </td>
                                                    <td>
                                                        {{ customized_subscription_plan.ideal_for }}
                                                    </td>
                                                    <td>
                                                        {% if customized_subscription_plan.customized_plan_for == "business_category" %}
                                                            Business Category
                                                        {% elif customized_subscription_plan.customized_plan_for == "merchant" %}
                                                            Merchant
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ customized_subscription_plan.discount_amount }}</td>
                                                    <!-- <td>
                                                        {{customized_subscription_plan.business_category_name}}
                                                    </td>
                                                    <td>
                                                        {{customized_subscription_plan.merchant_name}}
                                                    </td> -->
                                                    <td>
                                                        <div class="form-button-action">
                                    
                                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg EditCustomizedSubscriptionBtn" data-original-title="Edit Subscription" data-id="{{customized_subscription_plan.id}}" id="edit_customized_subscription">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                
                                                            {% if customized_subscription_plan.is_active == True %}
                                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger DisableSmsSubscriptionBtn" id="delete_role_btn" data-id='{{customized_subscription_plan.id}}' data-original-title="Disable Subscription" id="delete_sms_subscription">
                                                                    <i class="fas fa-times-circle"></i>
                                                                </button>
                                                            {% endif %}

                                                            {% if customized_subscription_plan.is_active == False %}
                                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary EnableSmsSubscriptionBtn" id="delete_role_btn" data-id='{{customized_subscription_plan.id}}' data-original-title="Enable Subscription" id="delete_sms_subscription">
                                                                        <i class="far fa-check-circle"></i>
                                                                </button>
                                                            {% endif %}

                                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger DeleteSmsSubscriptionBtn" id="delete_role_btn" data-id='{{customized_subscription_plan.id}}' data-original-title="Delete Subscription" id="delete_sms_subscription">
                                                                        <i class="fas fa-trash"></i>
                                                            </button>
                                                                    
                                                            </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- Edit Customized subscription plan Modal Start -->
<div class="modal fade bd-example-modal-lg" id="edit-customized-subscription-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <form method="POST" class="form" name="edit_customized_subscription_form" id="edit_customized_subscription_form">
        {% csrf_token %}
        <input type="hidden" name="plan_id" id="edit_plan_id1" value="">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title w-100 text-center">Edit Customized Subscription</h2>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Subscription Name<small style="color: red;"> *</small></label>
                        <input type="text" name="subscription_name" class="form-control" id="edit_subscription_name1">
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Per Bill Cost<span style="color: red;">*</span></label>
                        <div class="input-group mb-3">            
                            <input type="number" class="form-control" name="per_bill_cost" placeholder="Per Bill Cost" id="edit_per_bill_cost2"
                            value="" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Digital Bill<span style="color: red;">*</span></label>
                        <div class="input-group mb-3">            
                            <input type="number" class="form-control" name="digital_bill" placeholder="Digital Bill" id="edit_digital_bill2"
                            value="" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Min Recharge<span style="color: red;">*</span></label>
                        <div class="input-group mb-3">            
                            <input type="number" class="form-control" name="min_recharge" id="edit_min_recharge2" placeholder="Min Recharge"
                            value="" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ideal For<span style="color: red;">*</span></label>
                        <div class="input-group mb-3">            
                            <input type="text" class="form-control" name="ideal_for" id="edit_ideal_for2" placeholder="Ideal For"
                            value="" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                            <div class="form-group">

                                <div id="input-type" class="row">

                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input name="custome_amount_in" class="select-mode check-coupon " id=""
                                                value="custome_percentage_amount" type="radio" autocomplete="off">
                                            Percentage </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input name="custome_amount_in" class="select-mode"
                                                value="custome_fix_amount" id="" type="radio" autocomplete="off">
                                            Fix Amount </label>
                                    </div>
                                    <!-- <div id="amountinError"></div> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="percentage_id" name="custome_percent_value" type="text"
                                                class="form-control percentage" placeholder="Percentage">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="custome_fix_value" id="value_id" type="text"
                                                class="form-control value" placeholder="Fix Amount">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                <div class="col-md-12">
                    <div class="form-check">
                        <label>Select Customized Plan for</label>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-radio-label">
                                    <input class="form-radio-input" type="radio" name="customized_plan_for" value="business_category" checked="" id="edit_customized_plan_for_business_category">
                                    <span class="form-radio-sign">Business Category</span>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <label class="form-radio-label ml-3">
                                    <input class="form-radio-input" type="radio" name="customized_plan_for" value="merchant" id="edit_customized_plan_for_merchant">
                                    <span class="form-radio-sign">Merchant</span>
                                </label>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Select Business Category</label>
                            <select class="js-example-basic-multiple" name="business_category" id="edit_business_category_id1" multiple="multiple" style="width: 300px;">
                                {% for business_category in merchnat_business_category %}
                                    <option value="{{ business_category.id }}">{{ business_category.business_category_name }}</option>
                                {% endfor %}
                            </select>
                    </div>
                </div>
                <input type="hidden" name="business_category_value" id="edit_business_category_value1" value="">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Select Merchant</label>
                        <select class="js-example-basic-multiple"  name="merchant_name" id="edit_business_name_id1" multiple="multiple" style="width: 300px;" >
                            {% for merchant in merchant_list %}
                                <option value="{{ merchant.id }}">{{ merchant.first_name }} {{ merchant.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="merchant_name_value" id="edit_business_name_value1" value="">
            </div>
          </div>
          <div class="modal-footer">
            <input id="edit_sms_subscription_form_submit_btn" type="submit" class="btn btn-primary" value="Save" data-id="">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Edit SMS subscription plan Modal End-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>


<script>



    $(function () {
        $('.select-mode').click(function () {
            if ($(this).val() == 'custome_percentage_amount') {

                $('.percentage').prop({ readonly: false, });
                $('.value').prop({ readonly: true });
            }
            else if ($(this).val() == 'custome_fix_amount') {

                $('.percentage').prop({ readonly: true, });
                $('.value').prop({ readonly: false });
            }
            else {
                $('.percentage').prop({ readonly: true, });
                $('.value').prop({ readonly: true });
            }
        });
    });

    $(".EditCustomizedSubscriptionBtn").on("click", function() {
        $.ajax({
          url: "/get-subscription-plans/" + $(this).attr("data-id") + "/",
          success: function(data) {
            $("#edit_subscription_name1").val(data["subscription_plan"]["subscription_name"]);
            $("#edit_ideal_for2").val(data["subscription_plan"]["ideal_for"]);
            $("#edit_per_bill_cost2").val(data["subscription_plan"]["per_bill_cost"]);
            $("#edit_digital_bill2").val(data["subscription_plan"]["digital_bill"]);
            $("#edit_min_recharge2").val(data["subscription_plan"]["min_recharge"]);
            
            $('#edit_plan_id1').val(data['subscription_plan']["subscription_plans_id"]);

            $("#edit_business_category_id1").val('').trigger('change')

            if(data['subscription_plan']["business_category_list"].length > 0){
                for(i = 0; i < data['subscription_plan']["business_category_list"].length; i++){
                    val = data['subscription_plan']["business_category_list"][i]
                    $("#edit_business_category_id1 option[value="+val+"]").prop("selected",true).trigger("change")
                }
            }

            $("#edit_business_name_id1").val('').trigger('change')

            if(data['subscription_plan']["business_name_list"].length > 0){
                for(i = 0; i < data['subscription_plan']["business_name_list"].length; i++){
                    val = data['subscription_plan']["business_name_list"][i]
                    $("#edit_business_name_id1 option[value="+val+"]").prop("selected",true).trigger("change")
                }
            }

            if(data['subscription_plan']["customized_plan_for"] == "business_category"){
                $("#edit_business_category_id1").prop('disabled', false);
                $("#edit_business_name_id1").prop('disabled', true);
                $("#edit_business_name_id1").val('').trigger('change');
                $('#edit_customized_plan_for_business_category').prop('checked', true);
            }

            if(data['subscription_plan']["customized_plan_for"] == "merchant"){
                $("#edit_business_category_id1").prop('disabled', true);
                $("#edit_business_name_id1").prop('disabled', false);
                $("#edit_business_category_id1").val('').trigger('change');
                $('#edit_customized_plan_for_merchant').prop('checked', true);
            }

            // if(data['subscription_plan']["addons"] == true){
            //     $('#edit_customized_addons_plan_type').prop('checked', true);
            // }

            // if(data['subscription_plan']["subscription_plan"] == true){
            //     $('#edit_customized_subscription_plan_type').prop('checked', true);
            // }

            $("#edit-customized-subscription-modal").modal();
          }
        });
    });


    $( "form[id='customized_subscription_form']" ).validate({
      rules: {
        subscription_name : {
          required: true
        },
        per_bill_cost : {
          required: true,
          min: 0.1
        },
        digital_bill : {
          required: true,
          min: 0.1
        },
        min_recharge : {
          required: true,
          digits: true
        },
        ideal_for : {
            required: true,
        },
        // custome_amount_in: {
        //         required: true,
        //     },
        custome_percent_value: {
                digits: true,
            },
        custome_fix_value: {
                digits: true,
            },
        business_category: {
            required: function(element){
                return $("#customized_plan_for_business_category").is(':checked');
            }
        },
        merchant_name: {
            required: function(element){
                return $("#customized_plan_for_business").is(':checked');
            }
        },
      }
    });
    
    $( "form[name='edit_customized_subscription_form']" ).validate({
      rules: {
        subscription_name : {
          required: true
        },
        per_bill_cost : {
          required: true,
          min: 0.1
        },
        digital_bill : {
          required: true,
          min: 0.1
        },
        min_recharge : {
          required: true,
          digits: true
        },
        ideal_for : {
            required: true,
        },
        // custome_amount_in: {
        //         required: true,
        //     },
        custome_percent_value: {
                digits: true,
            },
        custome_fix_value: {
                digits: true,
            },
        business_category: {
            required: function(element){
                return $("#edit_customized_plan_for_business_category").is(':checked');
            }
        },
        merchant_name: {
            required: function(element){
                return $("#edit_customized_plan_for_merchant").is(':checked');
            }
        },
      },
      submitHandler: function() {
        var id = $("#edit_customized_subscription_form_submit_btn").attr("data-id");
        
        $.ajax({
            type: "POST",
            url: "/customized-subscription-plans/",
            data: $('#edit_customized_subscription_form').serialize(),
            success: function(response) {
              $('#edit-customized-subscription-modal').modal('hide');
              swal.fire({
                icon:"success",
                title: "Success!",
                text: "Customized Subscription Updated Successfully.",
                type: "success",
                timer:1500,
                showConfirmButton:false,
              })
              .then(function() {
                location.reload();
              });
            },
            error: function() {
              $('#edit-customized-subscription-modal').modal('hide');
              swal.fire({ 
                icon:"error",
                title: "Oops...", 
                text: "Something went wrong!", 
                timer:1500,
                showConfirmButton:false,
            })
            .then(function() {
              location.reload();
            });       
            }
        });
      }
    });


    $(function() {
        $('.DisableSmsSubscriptionBtn').on('click', function(e) {
          e.preventDefault();
            Swal.fire({
              title: 'Are you sure?',
            //   text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, Disable it!'
            }).then((result) => {
              if (result.isConfirmed) {
                var id = $(this).attr("data-id");
                
                $.ajax({
                  type: "POST",
                  url: "/disable-subscription-plans/"+id+"/",
                  data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                  success: function(response) {
                      if(response["status"] == "success"){
                        Swal.fire({
                            title:'Disable!',
                            text: 'Subscription has been Disable.',
                            icon: 'success',
                            timer:1500,
                            showConfirmButton:false,
                        })
                        .then(function() {
                        location.reload();
                        });
                      }
                      else if(response["status"] == "error"){
                        Swal.fire({
                        icon:"error",
                        title: "Oops...", 
                        text: "Fail to Disable!", 
                        timer:1500,
                        showConfirmButton:false,
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                      else{
                            Swal.fire({
                            icon:"error",
                            title: "Oops...", 
                            text: "Something went wrong!", 
                            timer:1500,
                            showConfirmButton:false,
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                  },
                  error: function() {
                    Swal.fire({
                      icon:"error",
                      title: "Oops...", 
                      text: "Something went wrong!", 
                      timer:1500,
                      showConfirmButton:false,
                    })
                      .then(function() {
                        location.reload();
                      });       
                  }
              });
              }
            })
        });
      });

    $(function() {
        $('.EnableSmsSubscriptionBtn').on('click', function(e) {
          e.preventDefault();
            Swal.fire({
              title: 'Are you sure?',
            //   text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, Enable it!'
            }).then((result) => {
              if (result.isConfirmed) {
                var id = $(this).attr("data-id");
                
                $.ajax({
                  type: "POST",
                  url: "/enable-subscription-plans/"+id+"/",
                  data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                  success: function(response) {
                      if(response["status"] == "success"){
                        Swal.fire({
                            title:'Enable!',
                            text: 'Subscription has been Enable.',
                            icon: 'success',
                            timer:1500,
                            showConfirmButton:false,
                        })
                        .then(function() {
                        location.reload();
                        });
                      }
                      else if(response["status"] == "error"){
                        Swal.fire({
                        icon:"error",
                        title: "Oops...", 
                        text: "Fail to Enable!", 
                        timer:1500,
                        showConfirmButton:false,
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                      else{
                            Swal.fire({
                            icon:"error",
                            title: "Oops...", 
                            text: "Something went wrong!", 
                            timer:1500,
                            showConfirmButton:false,
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                  },
                  error: function() {
                    Swal.fire({
                      icon:"error",
                      title: "Oops...", 
                      text: "Something went wrong!", 
                      timer:1500,
                      showConfirmButton:false,
                    })
                      .then(function() {
                        location.reload();
                      });       
                  }
              });
              }
            })
        });
      });

    $(function() {
        $('.DeleteSmsSubscriptionBtn').on('click', function(e) {
          e.preventDefault();
            Swal.fire({
              title: 'Are you sure?',
            //   text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                var id = $(this).attr("data-id");
                
                $.ajax({
                  type: "POST",
                  url: "/delete-subscription-plans/"+id+"/",
                  data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                  success: function(response) {
                      if(response["status"] == "success"){
                        Swal.fire({
                            title:'Deleted!',
                            text: 'Subscription has been deleted.',
                            icon: 'success',
                            timer:1500,
                            showConfirmButton:false,
                        })
                        .then(function() {
                        location.reload();
                        });
                      }
                      else if(response["status"] == "error"){
                        Swal.fire({
                        icon:"error",
                        title: "Oops...", 
                        text: "Fail to Delete!", 
                        timer:1500,
                        showConfirmButton:false,
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                      else{
                            Swal.fire({
                            icon:"error",
                            title: "Oops...", 
                            text: "Something went wrong!", 
                            timer:1500,
                            showConfirmButton:false,
                        })
                        .then(function() {
                            location.reload();
                        });   
                      }
                  },
                  error: function() {
                    Swal.fire({
                      icon:"error",
                      title: "Oops...", 
                      text: "Something went wrong!", 
                      timer:1500,
                      showConfirmButton:false,
                    })
                      .then(function() {
                        location.reload();
                      });       
                  }
              });
              }
            })
        });
      });

</script>

{% endblock content %}


{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		$(document).ready(function() {
            $('#SMSsubscription').DataTable( {
                dom: 'lBfrtip',
                buttons: [
                   'excel', 'pdf', 'print'
                ]
            } );
            $('#CustomSubscrition').DataTable( {
                "ordering": false,
                dom: 'lBfrtip',
                buttons: [
                   'excel', 'pdf', 'print'
                ]
            } );
        });
        
        $(document).ready(function() {
            $("#business_category_id").select2({
                placeholder:" Select Business Category",
                closeOnSelect: false,
            })
            $("#business_category_id").on('change', function()
            {
                var opts = [],opt;
                var len = business_category_id.options.length;
                for (var i = 0; i < len; i++) {
                    opt = business_category_id.options[i];
                    if (opt.selected) {
                    opts.push(opt.value);
                    }
                }
                // business_category = $("#business_category_id option:selected").val()
                $("#business_category_value").val(opts)
            })
            
            $("#business_name_id").select2({
                placeholder:" Select Merchant Name",
                closeOnSelect: false,
            })
            $("#business_name_id").on('change', function()
            {
                var opts1 = [],opt1;
                var len = business_name_id.options.length;
                for (var i = 0; i < len; i++) {
                    opt1 = business_name_id.options[i];
                    if (opt1.selected) {
                    opts1.push(opt1.value);
                    }
                }
                // business_category = $("#business_category_id option:selected").val()
                $("#merchant_name_value").val(opts1)
            })

        })

        $(document).ready(function() {
            $("#edit_business_category_id1").select2({
                placeholder:" Select Business Category",
                closeOnSelect: false,
            })
            $("#edit_business_category_id1").on('change', function()
            {
                var opts2 = [], opt2;
                var len = edit_business_category_id1.options.length;
                for (var i = 0; i < len; i++) {
                    opt2 = edit_business_category_id1.options[i];
                    if (opt2.selected) {
                    opts2.push(opt2.value);
                    }
                }
                // business_category = $("#business_category_id option:selected").val()
                $("#edit_business_category_value1").val(opts2)
            })
            
            $("#edit_business_name_id1").select2({
                placeholder:" Select Merchant Name",
                closeOnSelect: false,
            })

            $("#edit_business_name_id1").on('change', function()
            {
                var opts3 = [], opt3;
                var len = edit_business_name_id1.options.length;
                for (var i = 0; i < len; i++) {
                    opt3 = edit_business_name_id1.options[i];
                    if (opt3.selected) {
                    opts3.push(opt3.value);
                    }
                }
                // business_category = $("#business_category_id option:selected").val()
                $("#edit_business_name_value1").val(opts3)
            })

        })

        $(document).ready(function() {
            $("#customized_plan_for_business_category").on('click', function()
            {
                $("#business_category_id").prop('disabled', false);
                $("#business_name_id").prop('disabled', true);
                $("#business_name_id").val('').trigger('change')
            })
            $("#customized_plan_for_business").on('click', function()
            {
                $("#business_category_id").prop('disabled', true);
                $("#business_name_id").prop('disabled', false);
                $("#business_category_id").val('').trigger('change')
            })  
        })

        $(document).ready(function() {
            $("#edit_customized_plan_for_business_category").on('click', function()
            {
                $("#edit_business_category_id1").prop('disabled', false);
                $("#edit_business_name_id1").prop('disabled', true);
                $("#edit_business_name_id1").val('').trigger('change')
            })
            $("#edit_customized_plan_for_merchant").on('click', function()
            {
                $("#edit_business_category_id1").prop('disabled', true);
                $("#edit_business_name_id1").prop('disabled', false);
                $("#edit_business_category_id1").val('').trigger('change')
            })  
        })

        $("#business_name_id").prop('disabled', true);

        if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
        
	</script>

{% endblock javascripts %}

